{{#priceTableTabs}}
    <div class="price-table price-table--tabs">
        <ul class="price-table__list" role="tablist">
            {{#listItems}}
                {{#isActive}}
                    <li class="price-table__item price-table__item--active" aria-controls="{{ariaControls}}"
                        aria-selected="true"
                        role="tab"
                        tabindex="0">
                        {{#price}}
                            {{>atoms-icon:price-table__icon}}
                            <span class="price-table__info">
                                <small class="price-table__tagline">{{ text }}</small>
                                <span class="currency">
                                    <span class="currency__type">{{ currency }}</span>
                                    {{ value }}
                                </span>
                            </span>
                        {{/price}}
                    </li>
                {{/isActive}}
                {{#isInactive}}
                    <li class="price-table__item price-table__item--inactive" aria-controls="{{ariaControls}}"
                        aria-selected="false"
                        role="tab"
                        tabindex="0">
                        {{#price}}
                            {{>atoms-icon:price-table__icon}}
                            <span class="price-table__info">
                                <small class="price-table__tagline">{{ text }}</small>
                                <span class="currency">
                                    <span class="currency__type">{{ currency }}</span>
                                    {{ value }}
                                </span>
                            </span>
                        {{/price}}
                    </li>
                {{/isInactive}}
            {{/listItems}}
        </ul>
        <small class="price-table__disclaimer">*excl. VAT</small>
    </div>
{{/priceTableTabs}}
