<article class="resellers">
    <section class="container">
        <h2>{{title}}</h2>
        <section class="reseller-section" v-if="resellers">
            CARDS!

            <!--<header class="reseller-section__header">-->
                <!--<h3 class="reseller-section__title">Preferred resellers</h3>-->
                <!--<content-link class="reseller-section__info-link" :icon="'info'" mod="reversed">More info</content-link>-->
            <!--</header>-->

            <!--<ul class="reseller-list">-->
                <!--<div class="flexgrid flexgrid&#45;&#45;gutter flexgrid&#45;&#45;mobile-xl-row">-->
                    <!--<div class="flexgrid__cell&#45;&#45;xs-4">-->
                        <!--<li class="reseller-list__item">-->
                            <!--<reseller-card :preferred="true"></reseller-card>-->
                        <!--</li>-->
                    <!--</div>-->
                    <!--<div class="flexgrid__cell&#45;&#45;xs-4">-->
                        <!--<li class="reseller-list__item">-->
                            <!--<reseller-card :preferred="true"></reseller-card>-->
                        <!--</li>-->
                    <!--</div>-->
                    <!--<div class="flexgrid__cell&#45;&#45;xs-4">-->
                        <!--<li class="reseller-list__item">-->
                            <!--<reseller-card :preferred="true"></reseller-card>-->
                        <!--</li>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</ul>-->
        <!--</section>-->


        <!--<section class="reseller-section">-->
            <!--<header class="reseller-section__header">-->
                <!--<h3 class="reseller-section__title">Authorized resellers</h3>-->
            <!--</header>-->
            <!--<ul class="reseller-list">-->
                <!--<div class="flexgrid flexgrid&#45;&#45;gutter flexgrid&#45;&#45;mobile-xl-row">-->
                    <!--<div class="flexgrid__cell&#45;&#45;xs-4">-->
                        <!--<li class="reseller-list__item">-->
                            <!--<reseller-card></reseller-card>-->
                        <!--</li>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ul>-->
        </section>
    </section>
</article>
