<article class="content-general">
    <section class="content-general__container">
        <div class="flexgrid flexgrid--gutter" :class="{'flexgrid--row-reversed': reversed}">
            <div class="flexgrid__cell--xs-6 content-general__grid-cell content-general__content">
                <h3 class="content-general__title"> {{ title }}</h3>
                <p class="content-general__body">{{ description }}</p>

                <ContentButton v-bind="cta"
                       class="button"
                       v-if="cta.type === 'ContentButton' && cta" />

                <ContentLink v-bind="cta"
                             class="link link--medium"
                             v-if="cta.type === 'ContentLink' && cta" />
            </div>
            <div class="flexgrid__cell--xs-6 content-general__grid-cell content-general__image">
                <div class="content-general__image-wrapper">
                    <c-image v-if="image" v-bind="image"></c-image>
                </div>
            </div>
        </div>
    </section>
</article>
