<article class="hero hero--basic organism">
    <section class="container hero__container">
        <div class="flexgrid flexgrid--gutter flexgrid--column-reversed flexgrid--mobile-xl-row">

            <div class="flexgrid__cell--xs-6">
                <div class="hero__description">

                    <HeaderBlock class="hero__header header-block--hero">
                        <h1 class='hero__title header-block__title--hero'>{{ title }}</h1>
                        <h2 class="hero__subtitle header-block__subtitle--hero" v-if="subtitle">{{ subtitle }}</h2>
                    </HeaderBlock>
                  
                    <p class="hero__intro copy--intro">{{ description }}</p>

                    <cta-block mod="hero" :ctas="ctas.ctas" v-if="ctas" styleContentButton="button button--primary"
                               block="hero" />
                </div>
            </div>

            <!--Image -->
            <div class="flexgrid__cell--xs-6">
                <div class="hero__image">
                    <template v-if="image">
                        <c-image v-bind="image" keep-in-view></c-image>
                    </template>
                </div>
            </div>
            <!--End image-->
        </div>
    </section>
</article>
