.brands2 {
    padding-top: $buildingUnit * 4;

    .list-unordered-limit {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;

            margin-top: 0;
            margin-bottom: 0;
            padding-left: $buildingUnit;
        }

        li {
            padding-left: 0;
            line-height: 0;

            margin-right: $buildingUnit;
            margin-bottom: $buildingUnit;
        }

        footer {
            margin-top: $buildingUnit * 3;
            text-align: center;
        }
    }

    .cta-block--footer {
        margin-top: $buildingUnit * 5;
    }
}
