<article class="ubr">
    <section class="container">
        <h2>{{ title }}</h2>
        <div class="flexgrid flexgrid--gutter flexgrid--column-reversed flexgrid--mobile-xl-row">
            <div class="flexgrid__cell--xs-6">
                <div class="ubr__description">
                    <p>{{ description }}</p>
                    <ul class="list ubr__list">
                        <li class="list__item" v-for="reason of reasons">{{ reason }}</li>
                    </ul>
                </div>
            </div>
            <div class="flexgrid__cell--xs-6">
                <template v-if="image && image.length">
                    <div class="ubr__image ">
                        <responsive-picture class="img--responsive" v-bind="image" :orientation="'landscape'"></responsive-picture>
                    </div>
                </template>
            </div>
        </div>
    </section>
</article>
