.tab-table-row {
    padding: $buildingUnit 0;
    border-top: 1px solid $colorGrayLight;
    display: flex;
    flex-direction: column;

    @include min-tablet() {
        flex-direction: row;
        padding: ($buildingUnit * 1.5) 0;
    }

    &:first-of-type {
        border-top: 2px solid $colorGrayLight;
    }
    &:last-of-type {
        border-bottom: 2px solid $colorGrayLight;
    }

    &__tooltip-label,
    &__label {
        flex: 1;
        font-weight: map-get($fontWeights, "semibold");
        @include font-line-ratio(prim-s);

        &-text {
            margin: -2px ($buildingUnit * 1.5) 0;
        }
    }

    &__tooltip-label {
        margin-top: $buildingUnit * -1;

        @include min-tablet() {
            margin-top: $buildingUnit * -1.5;
        }
    }

    &__value {
        margin: ($buildingUnit * 1.75) ($buildingUnit * 1.5) 0;
        @include font-line-ratio(prim-s);

        @include min-tablet() {
            margin: 0;
        }
    }

    &__content{
        flex: 1;
    }

    &__linklist {
        @extend %reset-list;
        margin: ($buildingUnit * 1.75) ($buildingUnit * 1.5) 0;

        @include min-tablet() {
            margin-right: 0;
            margin-left: 0;
        }


        .tab-table-row__linklist-item {
            .tab-table-row__linklist-link {
                margin-bottom: $buildingUnit / 2;
            }
        }

        .tab-table-row__linklist-item:last-child {
            .tab-table-row__linklist-link {
                margin-bottom: 0;
            }
        }
    }
}
