.cta-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    @include min-mobile-xl  {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

.cta-block--baseline {
    align-items: baseline;
}

.cta-block--hero {
    align-items: flex-start;
    @include min-mobile-xl() {
        align-items: baseline;
    }
}

.cta-link {
    text-align: left;
    margin-right: 0;
    margin-bottom: $buildingUnit * 1.5;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include min-mobile-xl () {
        margin-bottom: $buildingUnit * 1.5;
        margin-right: $buildingUnit * 2;

        &:not(.button--primary) {
            margin-right: $buildingUnit * 2;
        }

        &.button--primary {
            margin-right: $buildingUnit * 4;
        }

        .cta-block--footer & {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
