<nav class="footer__nav" v-if="navigation && navigation.length">
    <div class="flexgrid">
        <div class="flexgrid__cell--xxs-6 flexgrid__cell--xs-8 flexgrid__cell--sm-6">
            <div class="flexgrid">
                <div class="flexgrid__cell--xs-6" v-if="navigation.length > 0">
                    <div class="footer-nav__column">
                        <h3 id="footer-nav__title-01" class="footer-nav__title">{{ navigation[0].label }}</h3>
                        <template v-if="navigation[0].items.length">
                            <content-link-list :links="navigation[0].items"
                                               block="footer-nav" aria-labelledby="footer-nav__title-01"></content-link-list>
                        </template>
                    </div>
                </div>
                <div class="flexgrid__cell--xs-6" v-if="navigation.length > 1">
                    <div class="footer-nav__column">
                        <h3 id="footer-nav__title-02" class="footer-nav__title">{{ navigation[1].label }}</h3>
                        <template v-if="navigation[1].items.length">
                            <content-link-list :links="navigation[1].items"
                                               block="footer-nav" aria-labelledby="footer-nav__title-02"></content-link-list>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexgrid__cell--xxs-6 flexgrid__cell--xs-4 flexgrid__cell--sm-6"
             v-if="navigation.length > 2">
            <div class="footer-nav__column footer-nav__column--last footer-nav__column--double">
                <h3 id="footer-nav__title-03" class="footer-nav__title">{{ navigation[2].label }}</h3>
                <template v-if="navigation[2].items.length">
                    <content-link-list :links="navigation[2].items"
                                       block="footer-nav" aria-labelledby="footer-nav__title-03"></content-link-list>
                </template>
            </div>
        </div>
    </div>
</nav>
