<ul class="main-nav__flyout"
     v-if="sections && sections.length > 0"
    @keydown.down="selectNextFlyoutLink"
    @keydown.tab.exact="selectNextFlyoutLink"
    @keydown.up="selectPrevFlyoutLink"
    @keydown.tab.shift.exact="selectPrevFlyoutLink"
    @keydown.right="selectNextFlyoutSection"
    @keydown.left="selectPrevFlyoutSection"
    @mouseenter.stop="open">
    <template v-for="section in sections">
        <flyout-section @close="$emit('close')" :is-compact="isCompact" v-bind="section">
        </flyout-section>
    </template>
</ul>
