<ul class="main-nav__flyout"
    v-if="sections && sections.length > 0"
    @keydown.down="selectNextFlyoutLink"
    @keydown.tab.exact="selectNextFlyoutLink"
    @keydown.up="selectPrevFlyoutLink"
    @keydown.tab.shift.exact="selectPrevFlyoutLink"
    @keydown.right="selectNextFlyoutSection"
    @keydown.left="selectPrevFlyoutSection"
    @mouseenter.stop="open">
    <flyout-section
        @close="$emit('close')"
        v-bind="section"
        v-for="(section, key) in sections"
        :is-compact="isCompact"
        :key="key"
        >
    </flyout-section>
</ul>
