<ul class="main-nav__flyout"
    v-if="lists && lists.length > 0"
    @keydown.down="selectNextLink"
    @keydown.tab.exact="selectNextLink"
    @keydown.up="selectPrevLink"
    @keydown.tab.shift.exact="selectPrevLink"
    @keydown.right="selectNextSection($event, true)"
    @keydown.left="selectPrevSection($event, true)"
    @mouseenter.stop="open">
    <flyout-section ref="lists"
        v-for="(list, key) in lists"
        v-if="list.links && list.links.length"
        v-bind="list"
        :is-compact="isCompact"
        :key="key"

        @close="$emit('close')"
        >
    </flyout-section>
</ul>
