<li class="flyout__section" :class="sectionClass">
    <strong v-if="title" class="flyout__title" :id="itemId">{{ title }}</strong>
    <ul class="flyout__list"
        :aria-labelledby="itemId"
        :aria-haspopup="links.length > maxVisible"
        :aria-expanded="!isCompact || isExpanded">

        <template v-for="(link, index) in links">
            <li class="flyout__list-item"  v-show="!isCompact || isExpanded || index <= maxVisible - 1">
                <content-link ref="focusable" @click.native="$emit('close')" :href="link.href" class="flyout__link">{{ link.title }}</content-link>
            </li>
        </template>

        <li class="flyout__list-item" v-if="isCompact && links.length > maxVisible">
            <content-toggle class="flyout__toggle"
                            ref="focusable"
                            :toggle-state="isExpanded"
                            aria-hidden="true"
                            @toggle="toggleExpanded">
            </content-toggle>
        </li>
    </ul>

    <template v-if="bottomLinks" v-for="bottomLink in bottomLinks">
        <content-link ref="focusable" @click.native="$emit('close')" :href="bottomLink.href" class="flyout__link--cta-mini" >{{ bottomLink.title }}</content-link>
    </template>
</li>
