<li class="flyout__section" :class="sectionClass">
    <strong v-if="label" class="flyout__title" :id="itemId">{{ label }}</strong>
    <ul class="flyout__list"
        :aria-labelledby="itemId"
        :aria-haspopup="items.length > maxVisible"
        :aria-expanded="!isCompact || isExpanded">

        <li class="flyout__list-item"  v-for="(item, index) in items" v-if="index < maxVisible">
            <content-link ref="focusable" @click.native="$emit('close')" :url="item.url" class="flyout__link link" :label="item.label"></content-link>
        </li>

        <li class="flyout__list-item" v-show="flyoutToggleIsVisible && ! isExpanded">
            <content-toggle class="flyout__toggle"
                            :ref="flyoutToggleIsVisible && ! isExpanded ? 'focusable' : ''"
                            :toggle-state="false"
                            aria-hidden="true"
                            @toggle="toggleExpanded">
            </content-toggle>
        </li>

        <!-- items using v-show so spiders can index the entire menu -->
        <li class="flyout__list-item" v-for="(item, index) in items" v-if="index >= maxVisible" v-show="!isCompact || isExpanded">
            <content-link ref="focusable"  @click.native="$emit('close')" :url="item.url" class="flyout__link link" :label="item.label"></content-link>
        </li>

        <li class="flyout__list-item" v-show="flyoutToggleIsVisible && isExpanded">
            <content-toggle class="flyout__toggle"
                            ref="flyoutToggleIsVisible && isExpanded ? 'focusable' : ''"
                            :toggle-state="true"
                            aria-hidden="true"
                            @toggle="toggleExpanded">
            </content-toggle>
        </li>
    </ul>

    <template v-if="bottomItem">
        <content-link ref="bottomLink" @click.native="$emit('close')" :url="bottomItem.url" class="link flyout__link--cta-mini" :label="bottomItem.label"></content-link>
    </template>
</li>
