// copied original from src/scss/atomic/atoms/_links.scss to here
a {
    font-size: inherit;

    color: $um-blue;
    text-decoration: none;
    outline: none;

    cursor: pointer;

    @include micro-animate(color, background);

    &:hover {
        color: lighten($um-blue, $tintHoverFocus * 2); // #69a0fb
    }

    &:not(.hit-area) {
        &:focus:not(:hover),
        &:focus:not(:active) {
            @extend %focus;
        }
    }

    p &,
    small &,
    .content--rich li & {
        font-weight: 400;

        &:focus:not(:hover),
        &:focus:not(:active) {
            @extend %focus-outline;
        }
    }
}

strong {
    display: block;
    @extend p;

    p & {
        display: inline;
    }

    font-weight: 600;

    @include font-line-ratio(prim-s);

    margin-top: -2px;
    margin-bottom: 2px;

    @include min-tablet() {
        @include font-line-ratio(prim-m);

        margin-top: -5px;
        margin-bottom: 5px;
    }
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
