.hero--article {
    @extend .organism;
    @extend %reset-last-margin;
    position: relative;

    &-reset {
        margin-bottom: 0;
        padding: $buildingUnit * 5.5 0;
    }

    .copy--intro,
    .link--large {
        color: $colorWhite;
    }
}

.hero-article__container {
    padding-top: 0;
}

.hero__article-header{
    color: $colorWhite;
    text-align: left;
    margin: 0;

    @include min-tablet {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    .header-block__subtitle--hero{
        color: $colorWhite;
        margin-bottom: 0;
    }

    .header-block__title--hero{
        margin-bottom: 0;
    }

    .header-block__title--hero +  .header-block__subtitle--hero {
        margin-top: $buildingUnit * 1.5;
        @include min-tablet() {
            margin-top: $buildingUnit * 2;
        }
    }
}

.hero-article__image--full {
    @include object-fit(cover);
}

.hero-article__image--overlay {
    background-color: rgba($colorBlack, 0.3);
}

.hero-article__image--full,
.hero-article__image--overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
