 <content-link :url="card.slug"
               class="materials-card"
               tabindex="0"
               mod="reversed"
               role="link"
               aria-describedby="material">
        <article class="materials-card__article">
            <div class="materials-card__visual">
                <template v-if="card.image">
                  <div class="materials-card__image">
                    <responsive-picture v-if="card.image && card.image.mobileWidth" class="img--responsive" v-bind="card.image"></responsive-picture>
                    <cms-image v-else class="img--responsive" :image="card.image[0]" :orientation="'square'"></cms-image>
                  </div>
                </template>
            </div>
            <div class="materials-card__content">
                <h3 class="materials-card__headline">{{ card.title }}</h3>
                <tag-list class="materials-card__taglist" v-if="card.tags" :tags="card.tags" />
            </div>
        </article>
</content-link>

