/** @format */

// moved original scss from src/scss/atomic/atoms/_buttons.scss to here
$triangleWidth: 25px;
$triangleHeight: 12px;

button,
.button,
input[type="button"],
input[type="submit"] {
    position: relative;
    display: inline-block;

    user-select: none;
    appearance: none;

    outline: none;
    border: none;
    border-radius: 0;

    padding: ($buildingUnit * 0.75) ($buildingUnit * 2.5);

    * + & {
        margin-right: $buildingUnit;
        margin-bottom: $buildingUnit;
    }

    font-family: inherit;
    @include font-line-ratio(sec-xs);

    color: $colorWhite;
    background-color: $um-blue;
    cursor: pointer;

    @include micro-animate(color, background-color, border-color);

    &:hover {
        color: $colorWhite;
        background-color: lighten($um-blue, $tintHoverFocus); // #3f86f2
        outline: 0;
    }
    &:focus {
        @extend %focus;
    }

    @include min-tablet() {
        @include font-line-ratio(sec-s);
        padding-top: $buildingUnit;
        padding-bottom: $buildingUnit;
    }
}

.button--primary {
    margin-right: $triangleWidth;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -$triangleWidth;

        border-style: solid;
        border-width: 0 $triangleWidth $triangleHeight 0;
        border-color: transparent transparent $um-blue transparent;

        @include micro-animate(border-color);
    }

    &:after {
        content: "";
        position: absolute;
        top: $triangleHeight;
        right: -$triangleWidth;
        bottom: 0;
        width: $triangleWidth;
        background-color: inherit;
    }

    padding-right: $buildingUnit * 2.5 - $triangleWidth;

    &:hover,
    &:focus {
        &:before {
            border-color: transparent transparent
                lighten($um-blue, $tintHoverFocus) transparent; // #3f86f2
        }
    }
}

.button--secondary {
    background: transparent;
    border: 2px solid $um-blue;
    padding-top: ($buildingUnit * 0.75) - 2;
    padding-bottom: ($buildingUnit * 0.75) - 2;
    color: $um-blue;

    @include min-tablet() {
        padding-top: $buildingUnit - 2;
        padding-bottom: $buildingUnit - 2;
    }
    &:hover,
    &:focus {
        border: 2px solid transparent;
    }
}

.button--close {
    position: absolute;
    top: 0;
    right: 0;
}
