/** @format */

.social-sharing {
    display: flex;
    justify-content: center;
}

.social-sharing__link {
    color: $colorBlack;
    padding: 0.5 * $buildingUnit;

    &:hover {
        background-color: $colorGrayLight;
        color: $colorBlack;
    }

    & + & {
        margin-left: $buildingUnit;
    }
}

.social-sharing__text {
    @include visually-hidden;
}

.social-sharing__icon {
    height: 3 * $buildingUnit;
    width: 3 * $buildingUnit;
}

