{
    "presets": [
        ["env", {
            "modules": false,
            "debug": false,
            "useBuiltIns": true
        }],
        "stage-2"
    ],
    "comments": false,
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": [
                            "**/*.spec.js",
                            "**/*.stories.js"
                        ]
                    }
                ]
            ]
        }
    }
}
