{
    "presets": [
        ["env", {
            "modules": false,
            "uglify": true,
            "debug": false,
            "useBuiltIns": true
        }]
    ],
    "plugins": [
        "transform-object-rest-spread",
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": false
        }]
    ],
    "comments": false,
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": [
                            "**/*.spec.js",
                            "**/*.stories.js"
                        ]
                    }
                ]
            ]
        }
    }
}
