<article class="colors" v-if="shouldRender">
    <div class="container">
        <header>
            <h2>{{ title }}</h2>
        </header>
        <div class="flexgrid flexgrid--gutter flexgrid--column-reversed flexgrid--mobile-xl-row">

            <div class="flexgrid__cell--xs-6 flexgrid__cell--sm-4">
                <div class="colors__swatches">
                    <ul class="list colors__list" v-if="colors">
                        <li class="list__item colors__list-item" :class="{'color--selected': color === activeColor }"
                            v-for="color in colors">
                            <hit-area @mouseover.native="checkTooltipPos" @focus.native="checkTooltipPos"
                                      @click.native="setSelected(color)" @keyup.enter.native="setSelected(color)">
                                <tooltip block="colors">
                                    <dl class="list tooltip__list">
                                        <dt class="list__item tooltip__list-item tooltip__label">Material:</dt>
                                        <dd class="list__item tooltip__list-item">{{ color.title }}</dd>
                                        <template v-if="!color.is_transparent">
                                            <dt class="list__item tooltip__list-item tooltip__label">Color:</dt>
                                            <dd class="list__item tooltip__list-item">{{ color. system_code }}</dd>
                                        </template>
                                        <dt class="list__item tooltip__list-item tooltip__label">Weight:</dt>
                                        <dd class="list__item tooltip__list-item"><span>{{material.weight.value}} {{material.weight.unit}}</span>
                                        </dd>
                                    </dl>
                                </tooltip>
                                <color v-if="color.is_transparent"></color>
                                <color :background="color.rgb_hex_code" v-else></color>
                            </hit-area>
                        </li>
                    </ul>
                    <content-link mod="large"><span >{{ labels.whereToBuy }}</span></content-link>
                </div>
            </div>
            <div class="flexgrid__cell--sm-8 flexgrid__cell--xs-6">
                <div class="colors__image" ref="image" :class="imageClass">
                    <cms-image :image="image" orientation="landscape"></cms-image>
                </div>
            </div>
        </div>
    </div>
</article>

