.article {
    .cta-block{
        display: flex;
        justify-content: center;

        margin-top: $buildingUnit * 2 + ($buildingUnit / 4);
        margin-bottom: $buildingUnit * 2 + ($buildingUnit / 4);

        @include min-tablet() {
            margin-top: $buildingUnit * 3;
            margin-bottom: $buildingUnit * 3;
        }
    }
}
