.article {

    > .container {
        padding-top: $buildingUnit * 2;

        @include min-tablet() {
            padding-top: $buildingUnit * 4;
        }
    }
    
    .article-ctas + .article-image,
    .article-text + .article-ctas,
    .article-ctas + .article-text,
    .article-text + .article-video,
    .article-text + .article-image{
        margin-top: $buildingUnit * 3;

        @include min-tablet() {
            margin-top: $buildingUnit * 5;
        }
    }

    &:last-of-type{
        margin-bottom: 0;
    }
}
