/** @format */
// Building unit
$buildingUnit: 12px;

// Source Paths
$fontPath: "../../static/fonts/";
$pathImage: "../../static/media/images/";

// Fonts
$fontStack: sans-serif;
$fontStackStageOne: "Noto Sans Init", sans-serif;
$fontStackStageTwo: "Noto Sans", sans-serif;

// Font weights
$fontWeights: (
    thin: 100,
    ultralight: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    extrabold: 800,
    black: 900,
);

// Font sizes
/*
* Because we have a primary and secondary font family, we need to define both
because both families serve another purpose. Therefore the line-heights will be different for both families.
*/
$fontSizes: (
    prim-xxs: 10,
    prim-xs: 12,
    prim-s: 14,
    prim-m: 16,
    prim-l: 18,
    sec-xxs: 16,
    sec-xs: 18,
    sec-s: 20,
    sec-m: 24,
    sec-l: 30,
    sec-xl: 48,
    sec-xxl: 60,
);
$lineHeights: (
    prim-xxs: 15,
    prim-xs: 18,
    prim-s: 21,
    prim-m: 24,
    prim-l: 30,
    sec-xxs: 24,
    sec-xs: 24,
    sec-s: 24,
    sec-m: 30,
    sec-l: 36,
    sec-xl: 48,
    sec-xxl: 60,
);

/*
* Offset typography to fit on baseline, this will create the vertical rhythm
*/
$offsetTop: (
    prim-xxs: -8,
    prim-xs: -10,
    prim-s: -2,
    prim-m: -5,
    prim-l: -8,
    sec-xxs: 6,
    sec-xs: 6,
    sec-s: 5,
    sec-m: 1,
    sec-l: -5,
    sec-xl: -5,
    sec-xxl: -4,
);
$offsetBottom: (
    prim-xxs: 0,
    prim-xs: 18,
    prim-s: 23,
    prim-m: 29,
    prim-l: 38,
    sec-xxs: 24,
    sec-xs: 24,
    sec-s: 31,
    sec-m: 53,
    sec-l: 59,
    sec-xl: 23,
    sec-xxl: 64,
);

// Icon sizes
$iconSize: $buildingUnit * 1.5;
$iconSizeLarge: $buildingUnit * 2;

// Tints
$tintHoverFocus: 8%; // This is the equivalent of the grayscale of $colorGrayLight (which is: 8% black)
$tintActive: 4%; // This is the equivalent of the grayscale of $colorGrayLightExtra (which is: 4% black)

// Primary colors
$um-blue: #196ef0;
$um-dark-blue: #061884;
$um-gray: #b4b4b4;

// Other colors
$colorError: #ea5354;
$colorNotification: #cc001a;

// Grayscales
$colorBlack: #000;
$colorGrayDark: #7f7f7f;
$colorGrayMedium: #b2b2b2;
$colorGray: #e3e3e3;
$colorGrayLight: #eaeaea;
$colorGrayExtraLight: #f5f5f5;
$colorGraySuperLight: #fafafa;
$colorWhite: #fff;

//Animations
$defaultDuration: 0.3s;
$defaultEasing: cubic-bezier(0.23, 1, 0.32, 1);

//Icons
$defaultIconSize: 1em;

//Header
$headerHeight: $buildingUnit * 5;

$defaultBoxShadow: 0 10px 20px rgba($colorBlack, 0.19),
    0 3px 3px rgba($colorBlack, 0.23);
