<!-- @format -->

<div
    class="locale-selector"
    v-click-outside="localeSelectorClickOutsideHandler"
>
    <button
        class="button--transparent button--small"
        :aria-label="ariaLabel"
        v-show="!localeSelectorOpen && !iconName"
        @click="toggleLocaleSelector"
    >
        {{ buttonText }}
    </button>
    <icon-button
        button-class="icon-button--small icon-button--reversed"
        :icon-name="iconName"
        :button-aria-label="ariaLabel"
        v-show="!localeSelectorOpen && iconName"
        @click="toggleLocaleSelector"
    >
        {{ iconButtonText }}
    </icon-button>
    <template v-if="localeSelectorOpen">
        <icon-button
            buttonAriaLabel="Cancel"
            buttonClass="locale-selector__icon-button"
            iconName="close"
            ref="closeCountryPanel"
            @click="toggleLocaleSelector"
        />
    </template>
</div>
