<div class="locale-selector">
    <icon-button @click="toggleCountrySelector" v-show="!countrySelectorOpen"
                 ref="countrySelectorToggle"
                 icon-name="geo"
                 class="icon-button--small locale-selector__edit--buton"
                 :aria-label="currentCountryAriaLabel">
        {{ currentCountryLabel }}
    </icon-button>

    <icon-button v-show="countrySelectorOpen"
                 icon-name="geo"
                 class="icon-button--small locale-selector__edit--buton"
                 aria-label="change your country">
    </icon-button>

    <country-selector class="footer__country-selector" ref="countrySelector" v-if="ready" v-show="countrySelectorOpen"
                      v-bind="$props"
                      @close="toggleCountrySelector"
                      @input="setCountry"
                      v-model="countryInput">
    </country-selector>
</div>
