// moved original scss from src/scss/atomic/atoms/_toggle.scss to here
.toggle {
    @extend .link;

    color: $colorMain;
    font-weight: 400;

    &:hover {
        color: $colorMain;
    }

    &--icon {
        @extend .link--icon;
    }
}
