// moved original scss from src/scss/atomic/atoms/_toggle.scss to here
.toggle {
    @extend .link;

    color: $um-blue;
    font-weight: normal;

    &:hover {
        color: $um-blue;
    }

    &--icon {
        @extend .link--icon;
    }
}
