/** @format */
@import "~src/scss/settings/_variables.scss";

.toggle {
    color: $um-blue;
    background-color: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 0;

    &:active, &:focus, &:hover {
        background-color: inherit;
        color: $um-blue;
    }
}

.toggle__icon {
    font-size: 18px;
}

.toggle__icon-text {
    vertical-align: text-bottom;
}
