<section class="story__template">
    <page-header v-bind="header" @toggle-nav="header.mainNavOpen = !header.mainNavOpen"></page-header>
    <main style="padding-top: 60px">
        <sub-navigation v-bind="subNavigationKnobs"></sub-navigation>
        <hero-cover v-bind="heroCover"></hero-cover>
        <overview v-bind="overview"/>
        <tabbed-content v-bind="tabbedContent"></tabbed-content>
        <tabbed-content v-bind="tabbedSequence"></tabbed-content>
        <overview-ubr v-bind="ubrOverview"></overview-ubr>
    </main>
    <page-footer  v-bind="footer"></page-footer>
</section>
