<!-- @format -->

<form action="/search" class="search-bar" ref="search-form" method="get" @submit.prevent="handleSubmit">
    <div role="search">
        <div class="search-bar__inputholder">
            <label for="search-bar__input" class="search-bar__label">{{label}}</label>
            <input
                :placeholder="placeholder"
                @blur="onBlur" @keyup.esc="close"
                v-model="searchValue"
                autocapitalize="off"
                autocomplete="off"
                autocorrect="off"
                class="search-bar__input"
                id="search-bar__input"
                name="search"
                ref="search-bar__input"
                type="text"
            >
        </div>
        <icon-button
            @click="handleSubmit"
            button-class="icon-button icon-button--large search-bar__button"
            button-aria-label="Search"
            icon-name="search"
        />
        <icon-button
            @click="close"
            button-class="icon-button icon-button--large search-bar__close-button"
            button-aria-label="Close search"
            icon-name="close"
        />
    </div>
</form>
