/** @format */

@import "~scss/settings/_nav.scss";
@import "~scss/settings/_variables.scss";
@import "~scss/tools/mixins/_a11y.scss";
@import "~scss/tools/mixins/_helpers.scss";
@import "~scss/tools/mixins/_media.scss";
@import "~scss/tools/mixins/_typography.scss";

.search-bar {
    position: relative;
    height: $navHeight;
    z-index: 1010;
    border-bottom: 1px solid $colorGrayLight;
}

.search-bar__label {
    @include visually-hidden();
}

.search-bar__button,
.um-components .search-bar__button {
    align-items: center;
    background-color: $colorGrayLight;
    color: $colorBlack;
    cursor: pointer;
    display: block;
    font-size: $buildingUnit * 2;
    height: $navHeight;
    justify-content: flex-end;
    left: 0;
    line-height: 1.5;
    margin: 0;
    padding: $buildingUnit * 1.5;
    position: absolute;
    transition: background-color $defaultDuration $defaultEasing;
    width: $navHeight;

    &:hover {
        background-color: $colorGrayLight;
        color: $colorBlack;
    }

    &[aria-disabled] {
        color: $colorGrayDark;
        pointer-events: none;
    }

    &--light {
        &,
        &:hover {
            background: rgba($colorWhite, 0.08);
            color: $colorWhite;
        }
    }

    &:hover {
        background-color: darken($colorGrayLight, $tintHoverFocus); // #d6d6d6
    }
}

.search-bar__inputholder {
    position: absolute;
    left: $navHeight;
    right: $navHeight;
    display: block;
    height: $navHeight;
}

.search-bar__input {
    width: 100%;
    height: $navHeight;
    margin: 0;

    background-color: $colorGrayLight;
    padding: 0 $buildingUnit;

    border-radius: 0;

    @include font-line-ratio(sec-s);

    @include min-mobile-xl() {
        @include font-line-ratio(sec-m);
    }

    border: none;
    outline: none;

    &:focus {
        @include focus-outline;
    }
}

.search-bar__close-button {
    position: absolute;
    top: 0;
    right: 0;
}
