<footer class="footer">
    <div class="footer__container">
        <!--Footer upper part-->
        <div class="footer__primary">
            <!--Footer logo-->
            <router-link to="/" class="branded-logo footer__branded-logo" aria-label="Ultimaker homepage">
                <icon class="branded-logo__robot" icon-name="robot-ultimaker"></icon>
                <icon class="branded-logo__logo" icon-name="logo-ultimaker"></icon>
            </router-link>

            <!--End footer logo-->

            <footer-nav :minor-nav="minorNav"></footer-nav>
        </div>
        <!--End footer upper part-->

        <!--Footer secondary part-->
        <div class="footer__secondary">
            <!--Footer follow stuff-->
            <nav class="social-nav footer__social-nav">
                <ul class="social-nav__list" aria-label="follow Ultimaker">
                    <li class="social-nav__item footer__social-item">
                        <a class="social-nav__link icon-button icon-button--small"
                           href="https://nl.linkedin.com/company/ultimaker" aria-label="LinkedIn">
                            <icon class="social-nav__icon" icon-name="linkedin"></icon>
                        </a>
                    </li>
                    <li class="social-nav__item footer__social-item">
                        <a class="social-nav__link icon-button icon-button--small"
                           href="https://twitter.com/Ultimaker" aria-label="Twitter">
                            <icon class="social-nav__icon" icon-name="twitter"></icon>
                        </a>
                    </li>
                    <li class="social-nav__item footer__social-item">
                        <a class="social-nav__link icon-button icon-button--small"
                           href="https://www.youtube.com/user/Ultimaker3D" aria-label="YouTube">
                            <icon class="social-nav__icon" icon-name="youtube"></icon>
                        </a>
                    </li>
                    <li class="social-nav__item footer__social-item">
                        <a class="social-nav__link icon-button icon-button--small"
                           href="https://www.facebook.com/Ultimaker" aria-label="Facebook">
                            <icon class="social-nav__icon" icon-name="facebook"></icon>
                        </a>
                    </li>
                    <li class="social-nav__item footer__social-item">
                        <a class="social-nav__link icon-button icon-button--small"
                           href="http://instagram.com/ultimaker" aria-label="Instagram">
                            <icon class="social-nav__icon" icon-name="instagram"></icon>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--End footer follow stuff-->

            <!--Footer locale-->
            <div class="footer__locale-selector">
                <icon-button @click="toggleCountrySelector" v-show="!countrySelectorOpen"
                             icon-name="geo"
                             class="icon-button--small locale-selector__edit--buton"
                             :aria-label="currentCountryAriaLabel">
                    {{ currentCountryLabel }}
                </icon-button>

                <icon-button v-show="countrySelectorOpen"
                             icon-name="geo"
                             class="icon-button--small locale-selector__edit--buton"
                             aria-label="change your country">
                </icon-button>
                <country-selector class="footer__country-selector" ref="countryselector" v-if="countrySelectorOpen"
                                  :placeholder="globalLabels.countryInputPlaceholder"
                                  :countryDetected="globalLabels.countryDetected"
                                  :countrySuggestions="globalLabels.countrySuggestions"
                                  @close="toggleCountrySelector"
                                  @input="setCountry"
                                  v-model="countryInput">
                </country-selector>
            </div>
            <!--End footer locale-->
        </div>

        <!--End footer lower part-->
        <div class="footer__tertiary">
            <div class="legal footer__legal">
                <p class="legal__copyright-label">
                    <small v-html="globalLabels.copyright"></small>
                </p>

                <template v-if="legalNav && legalNav.children">
                    <nav class="legal__nav">
                        <content-link-list :links="mapLinks(legalNav.children)" block="legal"></content-link-list>
                    </nav>
                </template>
            </div>
        </div>
    </div>
</footer>
