<div class="country-selector">
    <auto-complete class="country-selector__auto-complete auto-complete--small" ref="autocomplete"
        :placeholder="placeholder"
        title-field="name" value-field="code"
        v-model="countryInput"
        @input="countryChanged"
        @close="close"
        @changeFocus="focusClose"
        :datasource="datasource"
        :storedLabel="highlightedLabel"
        :stored-items="detectedCountries"
        :suggestionsLabel="suggestionsLabel"
        default-open>
    </auto-complete>
    <icon-button icon-name="close" button-aria-label="Cancel" ref="closeCountryPanel"
        button-class="country-selector__icon-button icon-button settings-selector__edit-button icon-button--small icon-button--reversed"
        @click="close">
    </icon-button>
</div>
