// Fonts

@font-face {
    font-family: 'Noto Sans Init';
    src: url("#{$fontPath}/noto-sans/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$fontPath}/noto-sans/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$fontPath}/noto-sans/NotoSans-Italic.woff2") format("woff2");
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$fontPath}/noto-sans/NotoSans-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$fontPath}/noto-sans/NotoSans-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("#{$fontPath}/noto-sans/NotoSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
}
