.product {
    display: flex;
    margin-right: $buildingUnit * 2;

    @include min-desktop() {
        padding-right: $buildingUnit;
        margin-right: $buildingUnit;
    }

    &__icon-container{
        height: $buildingUnit *3;
        width: $buildingUnit * 3;
        margin-right: $buildingUnit * 1;
    }

    &__icon{
        height: $buildingUnit *3;
        width: $buildingUnit * 3;
        margin-right: $buildingUnit * 1;

    }

    &__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name{
        @include font-line-ratio(prim-xs);
        color: $colorGrayDark;
        margin-bottom: 0;
    }
}
