/** @format */

@import "~scss/tools/mixins/_media.scss";
@import "~scss/settings/_variables.scss";

.article-description-list {
    margin-left: auto;
    margin-right: auto;
    @include min-tablet() {
        width: 66%;
    }
}

dl {
    margin-bottom: $buildingUnit * 3;
    border-top: 2px solid $colorGray;
    border-bottom: 2px solid $colorGray;
}

dt,
dd {
    margin: 0;
}

dt {
    border-top: 1px solid $colorGray;
    font-weight: bold;
    padding: $buildingUnit;

    &:first-of-type {
        border-top: 0;
    }
}

dd {
    padding: 0 $buildingUnit $buildingUnit;
}

@include min-tablet() {
    dl {
        display: grid;
        grid-template-columns: max-content auto;
    }

    dt,
    dd {
        border-top: 1px solid $colorGray;
        padding: 1.5 * $buildingUnit;

        &:first-of-type {
            border-top: 0;
        }
    }
}
