  <article v-if="visible && initialized && content.attributes" role="dialog" class="preferences-bar">
    <icon-button button-class="icon-button preferences-bar__button button--close" button-aria-label="close"
                 icon-name="close" @click="hide"></icon-button>

    <div class="container">
        <div class="preferences-bar__content notification__content--centered">

            <form @submit.prevent="validateAndSubmit">
                <h3 id="preferences-bar__title">{{ content.title }}</h3>
                <p id="preferences-bar__copy" v-html="content.attributes.localeIntro"></p>

                <div class="settings">
                    <div class="settings-selector settings-selector--country" v-if="enableCountry && countries !== null">
                        <div class="form-group">
                            <label class="settings-selector__label" for="country-selector-01">Your country</label>
                            <div class="selector-group" v-show="!countryPanelOpen" :aria-hidden="countryPanelOpen">
                                <icon-button ref="editCountry" icon-name="edit"
                                             :button-aria-label="'Change your country, currently: ' + this.country ? this.country.name : 'your country'"
                                             button-class="icon-button settings-selector__edit-button icon-button--small icon-button--reversed"
                                             @click="editCountry">
                                    <!-- TODO: aria button label should come from CMS-->
                                    <!-- TODO: button label should come from CMS-->
                                    <span class="icon-button__label" v-if="this.country && this.country.name">{{ this.country.name }}</span>
                                    <span class="icon-button__label" v-else>Please select your country</span>
                                </icon-button>
                            </div>
                            <div class="selector-group" v-show="countryPanelOpen" aria-hidden="!countryPanelOpen">
                                <!-- TODO: placeholder should come from CMS-->
                                <auto-complete input-id="country-selector-01" class="auto-complete--small" ref="countrySelector"
                                               placeholder="Type country code or name"
                                               title-field="name" value-field="code"
                                               v-model="country"
                                               @input="countryChanged"
                                               @close="closeEditCountry"
                                               @fauxBlurInput="focusCloseCountryPanel"
                                               :items="countries.country"
                                               :stored-items="detectedCountries">
                                </auto-complete>
                                <icon-button icon-name="close" button-aria-label="Cancel" ref="closeCountryPanel"
                                             button-class="icon-button settings-selector__edit-button icon-button--small icon-button--reversed"
                                             @click="closeEditCountry">
                                </icon-button>
                            </div>
                        </div>
                    </div>

                    <div class="settings-selector settings-selector--cookies">

                        <div class="form-group">
                            <label class="settings-selector__label">
                                {{ content.attributes.yourPrivacySettingsLabel }}
                            </label>

                            <template v-if="!cookiePanelOpen">
                                <div class="selector-group">
                                    <icon-button icon-name="edit" button-aria-label="edit" ref="editCookies"
                                                 :button-aria-label="'Change your privacy settings, currently: ' + experienceLabel"
                                                 button-class="icon-button settings-selector__edit-button icon-button--small icon-button--reversed"
                                                 @click="editCookies">
                                        <span class="icon-button__label ">{{ experienceLabel }}</span>
                                    </icon-button>
                                </div>
                            </template>
                            <template v-if="cookiePanelOpen">
                                <div class="selector-group">
                                    <icon-button icon-name="close" button-aria-label="close"
                                                 button-class="icon-button settings-selector__edit-button icon-button--small icon-button--reversed"
                                                 @click="cancelEditCookies">
                                        <span class="icon-button__label ">{{ experienceLabel }}</span>
                                    </icon-button>
                                </div>
                            </template>
                        </div>

                        <div class="settings-panel settings-panel--expanded" v-if="cookiePanelOpen">
                            <div class="setting">
                                <input type="checkbox" id="functional" name="functional" v-model="functional"
                                       disabled="disabled" class="setting__checkbox"/>
                                <label for="functional" class="checkbox__label">
                                    {{ content.attributes.functionalCookieLabel }}
                                </label>
                                <small class="setting__description"
                                       v-html="content.attributes.functionalCookieDesc"></small>
                            </div>

                            <div class="setting">
                                <input type="checkbox" id="analytics" name="analytics" v-model="analytics"
                                       disabled="disabled" class="setting__checkbox"/>
                                <label for="analytics" class="checkbox__label">
                                    {{ content.attributes.analyticsCookieLabel }}
                                </label>
                                <small class="setting__description"
                                       v-html="content.attributes.analyticsCookieDesc"></small>
                            </div>

                            <div class="setting">
                                <input type="checkbox" id="personalization" name="personalization"
                                       v-model="personalization" class="setting__checkbox"/>
                                <label for="personalization" class="checkbox__label">
                                    {{ content.attributes.personalCookieLabel }}
                                </label>
                                <small class="setting__description"
                                       v-html="content.attributes.personalCookieDesc"></small>
                            </div>

                            <div class="setting">
                                <input type="checkbox" id="tracking" name="tracking" v-model="tracking"
                                       class="setting__checkbox"/>
                                <label for="tracking" class="checkbox__label">
                                    {{ content.attributes.trackingCookieLabel }}
                                </label>
                                <small class="setting__description"
                                       v-html="content.attributes.trackingCookieDesc"></small>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="button">{{ content.attributes.saveButton }}</button>
            </form>
        </div>
    </div>
</article>
