.content-cover--cover {
    @extend .organism;
    @extend %reset-last-margin;
    position: relative;
    overflow: hidden;

    &-reset p:last-child {
        margin-bottom: 0;
    }
    margin-top: $buildingUnit * 5;
}

.content-cover__image--overlay {

    display: none;
    background-color: rgba($colorBlack, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: -($buildingUnit / 2);

    @include min-tablet {
        display: block;
    }
}


.content-cover-content {
    margin-top: $buildingUnit * 2;

    @include min-tablet {
        margin-top: 0;
        z-index: 40;
        display: flex;
        justify-content: center;
        padding-left: $buildingUnit * 4;
        flex-direction: column;
        height: 100%;
        top: 0;
        position: absolute;
    }
}

.content-cover__title {
    @include min-tablet {
        color: $colorWhite;
    }
}

.content-cover__description {
    @include min-tablet {
        color: $colorWhite;
    }
}

.content-cover__link.link {
    @include min-tablet {
        color: $colorWhite;
    }
}

