/** @format */

.hero-homepage {
    position: relative;

    // semi transparent backdrop in front of the image.
    &::after {
        background-color: rgba($colorBlack, 0.65);
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}

.hero-homepage__content {
    align-items: center;
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    min-height: calc(100vh - 60px); // viewport height - height of the header
    padding: 5 * $buildingUnit 2 * $buildingUnit;
    text-align: center;
}

.hero-homepage__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.125;
    margin: 0 0 4 * $buildingUnit;

    @include min-desktop {
        font-size: 54px;
        line-height: 1.1111;
        margin: 0 0 6 * $buildingUnit;
        max-width: 678px;
    }
}

.hero-homepage__description {
    font-size: 16px;
    margin: 0 0 3 * $buildingUnit;

    @include min-desktop {
        font-size: 24px;
        line-height: 1.25;
        margin: 0 0 4 * $buildingUnit;
        max-width: 852px;
    }
}

.hero-homepage__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    // pull the image behind the backdrop
    z-index: -1;
}
