<header class="header" :lang="language" :class="headerClasses" role="banner" v-size-emitter="'header'">
    <div class="header__top" :class="{'header--mobile-inverted': mainNavOpen}">
        <router-link to="/" class="home-link" aria-label="Ultimaker homepage">
            <icon class="home-link__logo" icon-name="logo-ultimaker"></icon>
        </router-link>

        <main-navigation v-if="navigation" :navigation="navigation" :main-nav-open="mainNavOpen" v-on="$listeners"></main-navigation>

        <sys-nav v-if="cta && search" @open-search="openSearch"
                    :order-now-icon="cta.icon":order-now-label="cta.label" :order-now-link="cta.url"
                    :search-icon="search.icon" :search-label="search.label">
        </sys-nav>

        <nav-assist class="main-nav__nav-assist" :open-state="mainNavOpen" @toggle="navAssistToggle"></nav-assist>

        <transition name="search" @after-enter="handleFocus" @leave="handleFocus">
            <search-bar class="header__search"
                        ref="search"
                        :label="search.label"
                        :placeholder="search.placeholder"
                        :open-state="searchOpen"
                        @close="closeSearch"
                        v-if="searchOpen">
            </search-bar>
        </transition>
    </div>
</header>