.article-video {
    position: relative;
    background-color: $colorGray;
    padding-top: 50%;
    margin-bottom: ($buildingUnit * 4);

    @include min-tablet {
        margin-bottom: ($buildingUnit * 5)
    }
}

.article-video__overlay--overlay,
.article-video__overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.article-video__overlay--overlay {
    background-color: rgba($colorBlack, 0.3);;
}

.article-video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorWhite;

    &:hover  {
        color: $colorWhite;
    }

    &:visited {
        color: $colorWhite;
    }
}
