/** @format */
@import "~scss/settings/_variables.scss";
@import "~scss/tools/mixins/_media.scss";

.search-results {
    margin-bottom: $buildingUnit * 5;
}

.search-results__title {
    font-size: 32px;
    text-align: center;
}

.search-results__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results__list-item {
    margin: 0 0 $buildingUnit;
}

.search-results__footer {
    padding-top: 2 * $buildingUnit;
    text-align: center;
}

.search-results .search-bar-page {
    margin-top: $buildingUnit * 7;
    margin-bottom: $buildingUnit * 7;
    text-align: center;
}

.search-results .search-bar-page__input {
    width: calc(100% - 70px);

    @include min-tablet {
        width: calc(50%);
    }
}
