<article class="case">
    <section class="container case__container">
        <figure class="case__media" v-show="this.isMobileXl">
            <figcaption class="flex-grid flexgrid__cell--xs-6">
                <h2 class="case__title">{{ title }}</h2>
            </figcaption>

            <div class="case__media-placeholder">
                <figcaption>
                    <icon-button @click="toggleVideo" class="case__link icon-button--underline-large" :icon-name="buttonIcon">{{ buttonLabel }}</icon-button>
                </figcaption>
                <div class="case__image-overlay"></div>
                <responsive-picture v-bind="image" img-class="case__image--full"></responsive-picture>
            </div>

            <figcaption class="flex-grid flexgrid__cell--xs-6">
                <p class="case__paragraph case__paragraph--last">{{ description }}</p>
            </figcaption>
        </figure>

        <figure class="case__media" v-show="!this.isMobileXl">
            <div class="case__media-placeholder">
                <figcaption class="flex-grid flexgrid__cell--xs-6 case__flex-grid--center">
                    <h2 class="case__title">{{ title }}</h2>
                    <p class="case__paragraph">{{ description }}</p>
                    <icon-button @click="toggleVideo" class="case__link icon-button--underline-large" :icon-name="buttonIcon">{{ buttonLabel }}</icon-button>
                </figcaption>

                <div class="case__image-overlay"></div>
                <responsive-picture v-bind="image" img-class="case__image--full"></responsive-picture>
            </div>
        </figure>
    </section>
    <modal class="modal--video" v-if="showVideo" @close="toggleVideo">
        <youtube-video :video-id="videoId"></youtube-video>
    </modal>
</article>
