<article class="card" :class="classObject" tabindex="0">
    <div class="card__visual">
        <div class="card__image" v-if="card.image">
            <responsive-picture class="img--responsive" v-if="card.image.mobileWidth" v-bind="card.image" ></responsive-picture>
            <cms-image class="img--responsive" v-else :image="card.image[0]" :orientation="'square'"></cms-image>
        </div>
        <icon v-if="card.icon" :icon-name="card.icon.iconName" class="card__icon"></icon>
    </div>
    <div class="card__content">
        <h3 class="card__headline">{{ card.title }}</h3>
        <p class="card__description" v-if="card.description">{{ card.description }}</p>
        <content-link class="card__link" v-if="card.contentLink" :block="'card'" :url="card.contentLink.href">{{ card.contentLink.text }}</content-link>
    </div>
</article>

