$focusBorderSize: 2px;
$um-blueAccessible: #007faa; /* Picked an accessible color from colorsafe.co to try out some time */

%focus {
        color: $colorWhite;
        background-color: lighten($um-blue, $tintHoverFocus); // #3f86f2
}

%focus-outline {
        outline: $focusBorderSize solid lighten($um-blue, $tintHoverFocus); // #3f86f2
}
