// Reset Border Padding Margin
%reset-bmp {
	border: 0;
	padding: 0;
	margin: 0;
}

// Lists without the list item styles
%reset-list {
	@extend %reset-bmp;
	list-style: none;
}

// List items
%reset-list-item {
    margin: 0 0 $buildingUnit * 0.5 0;
    padding:0;
}

// Full Input Reset
%reset-input {
	display: inline-block;
	border: 0;
	padding: 0;
	background: none;
	-webkit-appearance: none;

	&:focus { outline: 0; }

	&::-moz-focus-inner,
	&[type=button]::-moz-focus-inner,
	&[type=submit]::-moz-focus-inner,
	&::-moz-focus-inner,
	&[type=file] > [type=button]::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

// Reset margins of last atom in a molecule or an organism
%reset-last-margin {
    & > :last-child {
        margin-bottom: 0;
    }
}

// A link that looks and acts like the text it is contained within
%unstyled-link {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;

    &:active,
    &:focus {
        outline: none;
    }
}

// If a large link is used as a last element in any organism
%reset-last-link-large-margin {
    margin-bottom:0;
}

