<article class="hero hero--products-application">
    <div class="hero__container--top">
            <responsive-picture v-bind="heroImage" imgClass="hero__image--full"></responsive-picture>
            <div class="hero__image-overlay"></div>
        <div class="container">
            <div class="flexgrid flexgrid--gutter">
                <div class="flexgrid__cell--xs-6">
                    <div class="hero__headline">
                        <h1>{{ title }}</h1>
                    </div>
                </div>

                <div class="flexgrid__cell" style="position:relative;">
                    <p class="hero__subtitle">{{ subtitle }}</p>
                    <responsive-picture v-bind="productImage" imgClass="hero__image--product"></responsive-picture>
                </div>

                <div class="flexgrid__cell--xs-6">
                    <div class="hero__usp-container">
                        <div class="hero__usp usp--icon" v-for="icon in uspIcons">
                            <icon :icon-name="icon.iconName" class="usp__icon"></icon>
                            <small class="usp__label">{{ icon.text }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flexgrid flexgrid--gutter">
            <div class="flexgrid__cell--xs-6">
                <div class="hero__description">
                    <p class="copy--intro">{{ description }}</p>
                    <!-- {{> molecules-price-table}} -->
                    <!-- {{> molecules-price-table-tabs}} -->
                    <!-- {{> atoms-anchor-button:button--primary|hero__button}} -->
                    <p>TODO: Pricetable</p>
                    <router-link :to="ctaLink.href" class="button button--primary hero__button">{{  ctaLink.text }}</router-link>
                    <ul class="link-list link-list--icon hero__link-list" v-if="links && links.length">
                        <li class="link-list__item" v-for="link in links">
                            <content-link :href="link.href" :icon="link.icon">{{ link.text }}</content-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
