<article class="examples">
    <div class="container">
        <header>
            <h2 class="examples__headline">{{ title }}</h2>
        </header>

        <div class="cards">
            <div class="flexgrid flexgrid--gutter">
                <div class="flexgrid__cell--sm-4 flexgrid__cell--xs-6" v-for="(card, key) in cards">
                    <card :key="key" :block="'examples'" :card="card" v-if="enabled"></card>
                </div>
            </div>
        </div>
    </div>
</article>
