<section class="list-unordered-limit">
    <main>
        <transition-group tag="ul" @before-enter="beforeEnter" @enter="enter">
            <template v-for="(item, index) in listItems">
                <li-item :item="item" :key="index" v-show="showLimit() === -1 || index < showLimit() || showAll"/>
            </template>
        </transition-group>
    </main>
    <footer v-show="showLimit() !== -1 && !showAll">
        <button @click="showHidden" class="button--secondary">{{ showButtonLabel() }}</button>
    </footer>
</section>
