<section class="list-unordered-limit">
    <main>
        <ul>
            <template v-for="(item, index) in listItems.items">
                <template v-if="item.type">
                    <component :is="item.type" v-bind="item" :key="index"
                               :class="{'list__item--is-hidden': !showAll && index >= showLimit()}"/>
                </template>
            </template>
        </ul>
    </main>
    <footer v-if="!showAll">
        <button @click="showHidden" class="button--secondary">{{ showButtonLabel() }}</button>
    </footer>
</section>
