<nav key="large-menu" class="main-nav" :class="classList" aria-label="site">
    <ul class="main-nav__list" role="menu" :class="{'main-nav__list-visible': mainNavOpen && showCompactMenu}">
        <main-nav-item v-if="items" ref="navItem"
            v-for="(item, index) in items" :key="index"
            :is-compact="showCompactMenu"
            :main-nav-open="mainNavOpen"
            :active="false"
            :itemId="'nav-' + index"
            v-bind="item">
        </main-nav-item>
    </ul>
</nav>
