.brands{
    @extend .organism;
}

.brands__grid:not(:last-child){
    margin: 0 0 $buildingUnit * 4 0;
}

.brands__grid-cell{
    margin: 0 0 $buildingUnit * 4 0;
    
    &:last-child{
        margin: 0;
    }
}

// NOTE: Additional for component in old site
.brands{
    &--large{
        .brand-card__image-wrapper{
            width: 200px;
            height: 200px;
            margin: 0 auto 2 * $buildingUnit auto;
        }

        .brands__body{
            margin-bottom: 4 * $buildingUnit;
        }
    }
}
// END NOTE!

@include min-tablet() {
    .brands__grid-cell{
        margin: 0;
    }
}