.content-general{
    @extend .organism;
    margin-top: $buildingUnit*5;

    .flexgrid--gutter{
        margin: 0;
    }
}

.content-general__item{
    &:last-child(){
        margin-bottom: 0;
    }
}

.content-general__image {
    order: 1;

    margin: 0 auto ($buildingUnit * 3 - ($buildingUnit / 2)) auto;

    position: relative;
    padding: 0 $buildingUnit * 0.5;

    @include min-tablet () {
        order: inherit;
        margin: auto;
    }
}

.content-general__image-wrapper {
    width: 75%;
    margin: 0 auto;
    @include min-tablet () {
        width: 100%;
    }
}

.content-general__content {
    order: 2;
    margin-bottom: -$buildingUnit;

    @include min-tablet () {
         order: inherit;
    }
}
