.examples {
    @extend .organism;

    .examples__card {
        display: flex;
        flex-direction: column;

        .card__visual {
            width: 75%;
            margin-left: auto;
            margin-right: auto;

            @include min-desktop {
                width: 100%;
            }
        }

        @media screen and (min-width: 360px) and (max-width: $mobileXlWidth - 1) {
            flex-direction: row;

            .card__visual {
                margin: 0 $buildingUnit 0 0;
            }
            .card__content {
                margin: 0 0 0 $buildingUnit;
            }
        }

        @media screen and (min-width: $mobileWidth) and (max-width: $mobileLWidth - 1) {
            .card__visual {
                flex: 0 1 50%;
            }
            .card__content {
                flex: 0 1 50%;
            }
        }

        @media screen and (min-width: $mobileLWidth) and (max-width: $mobileXlWidth - 1) {
            .card__visual {
                flex: 0 1 33.3333%;
            }
            .card__content {
                flex: 0 1 66.6666%;
            }
        }

        @include min-tablet {
            margin-bottom: 0;
        }
    }

    .examples__caption {
        margin-bottom: ($buildingUnit * 4);


    }

    .examples__tabs {
        @extend .tablist__section;
        margin-bottom: ($buildingUnit * 3.5);
    }

    .examples__link--large {
        margin-top: 47px;

        @extend %reset-last-link-large-margin;
    }
}

[class^="flexgrid__cell"]:last-child .examples__card {
    margin-bottom: 0;
}

//TODO: Add JavaScript check for scroll-hint (should only be visible when tabbar is wider than viewport)
