.general-content{
    @extend .organism;
}

.general-content__image{
    width: 75%;
    margin: 0 auto;
}

.general-content__item{
    &:last-child(){
        margin-bottom: 0;
    }
}

.general-content__image {
    order: 1;

    @include min-tablet () {
         order: inherit;
    }
}

.general-content__content {
    order: 2;

    @include min-tablet () {
         order: inherit;
    }
}

@include max-mobile-xl() {
    .general-content__image-wrapper{
        position: relative;
        left: $buildingUnit * 0.5;
        right: $buildingUnit;
        margin: auto;
        padding: 0 $buildingUnit * 0.5;
    }

    .general-content__image{
        width: 100%;
        margin: auto;
    }
}
