.hero--text {
    @extend .organism;

    .content--rich {

        p, ul, li {
            max-width: 768px;
        }

        h2 {
            //@extend .headline--tertiary;
        }

        h3 {
            //@extend h4;
        }

        ul {
            @extend ul;

            li {
                @extend .list__item;
            }
        }

        * + h2 {
            margin-top: 30px;
            margin-bottom: 23px;

            @include min-tablet() {
                margin-top: 36px;
                margin-bottom: 29px;
            }
        }

        * + h3 {
            margin-top: 30px;

            @include min-tablet() {
                margin-top: 35px;
            }

        }

        @extend %reset-last-margin;
    }
}
