.hero--products-application {
    @extend .hero--products;
    $bottomMarginCorrHero: 5px;

    .hero__container--top {
        position: relative;
        color: $colorWhite;

        .container {
            position: relative;
            @include max-mobile {
                padding-bottom: 0;
            }
        }
    }

    .hero__headline {
        h1 {
            margin-bottom: $bottomMarginCorrHero;
            @include min-tablet {
                margin-bottom: 28px;
            }
        }
    }

    .hero__subtitle {
        @extend h3;

        @include min-tablet {
            @include font-ratio-rhythm(sec-l);
        }

        color: $colorWhite;
    }

    .hero__usp-container {
        display: flex;
        align-items: flex-start;
        width: calc(100% - (#{ $buildingUnit} * 3));
        margin: 0 auto;

        @include min-mobile-xl {
            width: unset;
            margin-top: 30px;
        }
        @include min-tablet {
            margin-top: -6px;
        }
        @include max-mobile {
            justify-content: center;
            color: $colorGrayDark;
        }
    }

    .hero__usp {
        width: calc((100% - (#{ $buildingUnit } * 3)) / 3);
        max-width: $buildingUnit * 10;

        &:not(:last-child) {
            margin-right: $buildingUnit * 1.5;
        }
    }

    .usp--icon {
        display: inline-block;
        text-align: center;

        .usp__icon {
            font-size: $buildingUnit * 4;
            margin-bottom: $bottomMarginCorrHero;
        }

        .usp__label {
            @extend small;
            margin-bottom: $bottomMarginCorrHero * -1;
        }
    }

    .hero__subtitle,
    .hero__image--product {
        @include min-mobile-xl {
            width: calc(50% - #{ $gridGutterSizeMobile });
        }
    }

    .hero__image {
        &--product {
            @include min-mobile-xl {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &--full {
            @include object-fit(cover);
        }
        &-overlay {
            background-color: rgba($colorBlack, 0.3);
        }
        &--full,
        &-overlay {
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 320px;

            @include min-mobile-xl {
                height: 100%;
            }
        }

    }
}

//TODO: pricetable currency and price fontsizes not according to new styles
