.hero__image {
    position: relative;
    width: 75%;

    margin: 0 auto ($buildingUnit * 2.5);

    @include min-mobile-xl {
        width: 100%;
        margin: 0 auto 0 ($buildingUnit * 2.5);
    }
}
