$cardTabletMarginBottom: $buildingUnit * 2;
$cardMobileMarginBottom: $buildingUnit;

.list-section {
    &:not(:last-child) {
        margin-bottom: 53px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.list-section__header {
    @include font-line-ratio(sec-xs);
    margin-bottom: $buildingUnit * 1.5;

    @include min-tablet() {
        @include font-line-ratio(sec-s);
        margin-bottom: $buildingUnit * 2.5;
    }

    .list-section__info-link {
        margin: 10px 0 0 0;
    }

    @include min-mobile-xl {
        flex-direction: row;
        display: flex;
        align-items: baseline;

        .list-section__info-link {
            margin-left: $cardMobileMarginBottom * 2;
            margin-top: 0;
            margin-bottom: -4px; //reset wrong offset
        }
    }
}

.list-section__title,
.list-section__info-link {
    margin: 0;
}

.list-section__count {
    color: $colorGrayDark;
    font-size: .75em;
}

.list-section__tooltip {
    @extend %fontPrimary;
    @include font-line-ratio(prim-s);

    max-width: 296px;
    position: absolute;
    opacity: 1;
    transform: translateY(calc(-100% - 36px));

    &:after {
        left: $buildingUnit;
    }
}

.tooltip-enter, .tooltip-leave-to {
    opacity: 0;
    transform: translateY(calc(-100% - 42px));
}

.tooltip-enter-active, .tooltip-leave-active {
    transition: opacity $defaultDuration $defaultEasing, transform $defaultDuration, left 0s $defaultEasing;
}


.list-section-list {
    @extend %reset-list;
}

.list-section__button {
    margin: ($cardMobileMarginBottom * 2) 0 $cardMobileMarginBottom 0;

    @include min-tablet {
        margin: ($cardMobileMarginBottom * 2) 0 $cardTabletMarginBottom 0;
    }
}

.flexgrid__cell--list-section__button--center {
    text-align: center;
}

.list-section-list__button {
    margin: 24px 0 0 0;
    @include min-mobile-xl {
        margin: 24px 0 0 0;
    }
}
