.list-section +  .list-section {
    margin-top: - $buildingUnit;
}

.list-section__header {
    margin-bottom: 26px;

    @include min-mobile-xl {
        flex-direction: row;
        display: flex;
        align-items: baseline;

        margin-bottom: 17px;
    }
}

.list-section __title {
    margin-bottom: $buildingUnit;
}

.list-section__tooltip {
    @include font-line-ratio(prim-s);

    max-width: 296px;
    position: absolute;
    opacity: 1;
    transform: translateY(calc(-100% - 36px));

    &:after {
        left: $buildingUnit;
    }
}

.list-section-list {
    @extend %reset-list;

    .list-section--cards & {
        margin-bottom: $buildingUnit * 3;
    }
}

.list-section-list + .list-section__footer {

    .list-section--cards & {
        margin-top: -$buildingUnit;
        margin-bottom: $buildingUnit * 5;
        @include min-tablet() {
            margin-bottom: $buildingUnit * 5;
        }
    }
}

.list-section-list__item{
    .list-section--cards & {
        margin-bottom: $buildingUnit;
        @include min-tablet() {
            margin-bottom: $buildingUnit * 2;
        }
    }

    .list-section--blocks & {
        margin-bottom: $buildingUnit * 4.5;
        @include min-tablet() {
            margin-bottom: $buildingUnit * 5;
        }
    }
}

.list-section__footer {
    .list-section--cards & {
        text-align: center;
        margin-top: $buildingUnit * 2;
        margin-bottom: $buildingUnit * 5;
        @include min-tablet() {
            margin-bottom: $buildingUnit * 5;
        }
    }

    .list-section--blocks & {
        text-align: center;
        margin-bottom: $buildingUnit * 5;

        @include min-tablet() {
            margin-bottom: $buildingUnit * 5;
        }
    }
}

.list-section__count {
    color: $colorGrayDark;
    font-size: .75em;
}

.list-section-list__button {
    margin-bottom: $buildingUnit * 2;
}

.list-section__info-link {
    margin-bottom: 0;

    @include min-mobile-xl {
        margin-left: $buildingUnit * 2;
    }
}
