.list-section {
    &:not(:last-child) {
        margin-bottom: 53px;
    }

    &__count {
        color: $colorGrayDark;
        font-size: .75em;
    }

    &__footer {
        text-align: center;

        &__button {
            margin-top: $buildingUnit * 3;

            @include min-mobile-xl {
                margin-top: $buildingUnit * 4;
            }
        }
    }

    &__header {
        margin-bottom: 26px;

        @include min-mobile-xl {
            flex-direction: row;
            display: flex;
            align-items: baseline;

            margin-bottom: 17px;
        }
    }

    &__info-link {
        margin-bottom: 0;

        @include min-mobile-xl {
            margin-left: $buildingUnit * 2;
        }
    }

    &__title {
        margin-bottom: 12px;
    }

    &__tooltip {
        @extend %fontPrimary;
        @include font-line-ratio(prim-s);

        max-width: 296px;
        position: absolute;
        opacity: 1;
        transform: translateY(calc(-100% - 36px));

        &:after {
            left: $buildingUnit;
        }
    }
}

.list-section-list {
    @extend %reset-list;

    // offset margin-top on the first row of the items in the flexbox
    margin-top: -$buildingUnit;

    @include min-mobile-xl {
        margin-top: -$buildingUnit * 2;
    }

    &__item {
        margin-top: $buildingUnit;

        @include min-mobile-xl {
            margin-top: $buildingUnit * 2;
        }
    }
}

.tooltip-enter, .tooltip-leave-to {
    opacity: 0;
    transform: translateY(calc(-100% - 42px));
}

.tooltip-enter-active, .tooltip-leave-active {
    transition: opacity $defaultDuration $defaultEasing, transform $defaultDuration, left 0s $defaultEasing;
}
