.overflow-container {
    position: relative;
    display: flex;
    width: 100%;
    user-select: none;
    will-change: transform;
    transform: translateX(0);
    background-color: white;

    justify-content: center;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $colorGrayLight;
    }
}

.overflow-container__wrapper {
    height: 150px;
    width: 100%;
}

.overflow-container__list {
    display: flex;
    padding: ($buildingUnit * 2) $buildingUnit 0px $buildingUnit;

    @extend %reset-list;

    overflow-x: hidden;
    flex-wrap: wrap;

    &.touch {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-scrolling: touch;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            height: 2px;
            background-color: $colorWhite;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $colorButtonHover;
        }
    }
}

.overflow-container__item {
    flex: 0 1 auto;
    text-align: center;
    max-width: $buildingUnit * 10;

    padding: 0 $buildingUnit 0;
    margin: 0 0 $buildingUnit 0;
}

.overflow-container__link {
    position: relative;
    min-height: $buildingUnit * 8;
    min-width: $buildingUnit * 5;
    transition: height 0.1s $defaultEasing;
    margin-bottom: $buildingUnit / 2;
    color: $colorBlack;
    display: block;

    &:hover,
    &.exact-active {
        @extend .link;
        color: $colorBlack;
        margin-bottom: $buildingUnit / 2;

        .overflow-container__label:after {
            width: 100%;
        }
    }

    &:focus:not(:hover),
    &:focus:not(:active) {
        @extend %focus-outline;
    }
}
.overflow-container__image-container {
    width: $buildingUnit * 5;
    height: $buildingUnit * 5;
    min-height: $buildingUnit * 5;

    display: block;

    top: 0;
    left: 0;
    right: 0;

    margin: 0 auto ($buildingUnit+2);

    @include min-tablet() {
        margin: 0 auto $buildingUnit;
    }
}

.overflow-container__image {
    width: $buildingUnit * 5;
    height: $buildingUnit * 5;
}

.overflow-container__label {
    @extend small;
    @include font-line-ratio(prim-s);

    display: block;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    white-space: wrap;

    &:hover{
        color: $colorBlack;
    }

    .overflow-container__link:focus & {
        &:after {
            display: none;
        }
    }
}

//For presentation only
svg text {
    @include font-line-ratio(sec-xxs);
}
