.overview {
    @extend .organism;
    @extend %reset-last-margin;
}

.overview__title {
    text-align: center;
    position: relative;
}

.overview__subtitle {
    text-align: center;
    position: relative;
}

.overview__tooltip {
    @extend %fontPrimary;
    @include font-line-ratio(prim-s);

    max-width: 296px;
    position: absolute;
    opacity: 1;
    transform: translateY(calc(-100% - 36px));

    &:after {
        left: $buildingUnit;
    }
}

.tooltip-enter, .tooltip-leave-to {
    opacity: 0;
    transform: translateY(calc(-100% - 42px));
}

.tooltip-enter-active, .tooltip-leave-active {
    transition: opacity $defaultDuration $defaultEasing, transform $defaultDuration, left 0s $defaultEasing;
}


.overview .cta__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: $buildingUnit * 5;

    @include min-mobile-xl {
        text-align: center;
        display: block;
    }
}

.overview .cta__block .button {
    margin: 0 0 $buildingUnit * 2 0;

    @include min-mobile-xl {
        margin: 0 $buildingUnit * 2 0 0;
    }
}

.overview .cta__block a.link {
    margin-right: 0;
}
