.overview {
    @extend .organism;
    @extend %reset-last-margin;
}

.overview__tooltip {
    @include font-line-ratio(prim-s);

    max-width: 296px;
    position: absolute;
    opacity: 1;
    transform: translateY(calc(-100% - 36px));

    &:after {
        left: $buildingUnit;
    }

    .cta {
        &__block {
            .link--large {
                padding-left: 0;
            }
        }
    }
}
