.preferences-bar {
    @extend .notification;
    transform: translateY(0);

    &__content {
        @extend .notification__content;
    }

    &__button {
        background-color: transparent;
        @extend .notification__button;
    }

    &__content-manageble {
        p {
            font-size: 14px;
            line-height: 1.5;
            margin-top: -2px;
            margin-bottom: 23px;
        }
        ul,
        ol {
            @include min-tablet() {
                font-size: 14px;
                line-height: 1.5;
                margin-top: -2px;
                margin-bottom: 23px;
            }
        }
    }

    .selector-group {

        @media (max-width: $mobileLMaxWidth) {
            width: 100%;
        }
    }
}

.settings-selector__edit-button {
    .icon-button__label {
        margin-top: 0;
        margin-left: 0;
    }
}

.settings {
    width: 100%;
    margin-bottom: $buildingUnit * 2.5;
    border-top: 2px solid $colorGrayLinesNotification;
    border-right: none;
    border-bottom: 2px solid $colorGrayLinesNotification;
    border-left: none;

    @media (min-width: $mobileLWidth) {
        margin-bottom: $buildingUnit * 3;
    }

    .notification__content--centered & {
        margin-left: auto;
        margin-right: auto;
    }
}

.settings-selector {
    display: flex;
    flex-direction: column;
    padding: $buildingUnit 0;
    border-bottom: 1px solid $colorGrayLinesNotification;

    .form-group {
        @media (min-width: $mobileXlWidth) {
            display: flex;
        }
    }

    &__label {
        align-items: center;
        color: $colorGrayTextNotification;
        display: flex;
        margin-bottom: 0;
        margin-left: $buildingUnit;
        margin-right: $buildingUnit;
        text-align: left;
    }

    &__edit-button {
        @include font-line-ratio(prim-m);
        @extend .preferences-bar__button;
        margin-top: 0;
        margin-right: $buildingUnit;
        color: $um-blue;

        &:hover,
        &:focus,
        &:active {
            color: $um-blue;
        }

        &:hover,
        &:focus {
            background-color: $colorNoteHover;
        }

        @media (max-width: $mobileLMaxWidth) {
            margin-top: $buildingUnit;
            margin-left: $buildingUnit * .5;
        }
    }

    &:last-child {
        margin-bottom: 0;
        border: none;
    }
}

.settings-panel {
    text-align: left;

    margin-top: $buildingUnit;
    padding: $buildingUnit;
}

.setting {

    &:not(:last-child) {
        margin-bottom: $buildingUnit * 1.5;
    }

    &__description {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 23px;

        padding-left: $buildingUnit * 2.5;
        margin-top: -6px;
        color: $colorGrayTextNotification;
    }
}

.selector-group {
    display: flex;
    flex-direction: row;

    @media (min-width: $mobileLWidth) {
        margin-left: auto;
    }
}
