.brands2 {
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;

        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        &__item {
            margin-bottom: 0;
            padding-left: 0;
            line-height: 0;
        }
    }
}
