<article class="general-content">
    <section class="general-content__container">
        <div class="flexgrid flexgrid--gutter" :class="{'flexgrid--row-reversed': reversed}">
            <div class="flexgrid__cell--xs-6 general-content__grid-cell general-content__content">
                <h3 class="general-content__title"> {{ title }}</h3>
                <p class="general-content__body">{{ description }}</p>

                <ContentButton v-bind="cta"
                       class="button"
                       v-if="cta.type === 'ContentButton' && cta" />

                <ContentLink v-bind="cta"
                             class="link link--medium"
                             v-if="cta.type === 'ContentLink' && cta" />
            </div>
            <div class="flexgrid__cell--xs-6 general-content__grid-cell general-content__image">
                <div class="general-content__image-wrapper">
                    <c-image v-if="image" v-bind="image"></c-image>
                </div>
            </div>
        </div>
    </section>
</article>
