.wizard-step-download-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__description {
        margin-left: $buildingUnit;
        margin-right: $buildingUnit;
        margin-bottom: $buildingUnit * 2;
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;

        @include min-tablet() {
            flex-basis: 50%;
            max-width: 50%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $buildingUnit * 3;
        }
    }

    &__items {
        @extend %reset-list;
    }

    &__item {
        display: flex;
        margin-bottom: $buildingUnit * 1;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include min-tablet() {
            flex-direction: row;
            margin-bottom: 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__button {
        margin-top: $buildingUnit * 5;
        margin-bottom: 0;
    }
}
