@import "~scss/settings/_variables.scss";

.combo-box {
    position: relative;
    width: 100%;

    &--list-box-hidden {

        .combo-box__input {

            &:not(:focus):hover {
                background-color: $colorGray;
            }
        }
    }

    &__input {
        width: 100%;
        padding: $buildingUnit * 0.75;
        font-size: 14px;
    }

    .list-box {
        position: absolute;
        z-index: map-get($z-index, navigation);
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $colorWhite;
        list-style: none;
        box-shadow: $defaultBoxShadow;
        overflow: auto;
        scroll-snap-type: both mandatory;
    }

    .list-box__item {
        padding: $buildingUnit * 1.25 $buildingUnit;
        font-size: 14px;
        line-height: 1;
        outline: none;
        scroll-snap-align: end;

        &:focus:not(:hover),
        &:focus:not(:active),
        &:hover:not(.list-box__item--disabled) {
            font-weight: 600;
        }

        &:focus:not(:hover),
        &:focus:not(:active) {
            background-color: $colorGrayExtraLight;
        }

        &:hover:not(.list-box__item--disabled) {
            background-color: $colorGray;
        }

        &:not(.list-box__item--disabled) {
            cursor: pointer;
        }

        .hightlighted {
            font-weight: 600;
        }
    }
}
