<article class="organism wizard-step-confirmation">
    <section class="container wizard-step-confirmation__container">
        <HeaderBlock :title="title" :subtitle="subtitle" />
        <div class="flexgrid">
            <div class="flexgrid__cell--xs-6 wizard-step-confirmation__grid-cell wizard-step-confirmation__image">
                <div class="wizard-step-confirmation__image-wrapper">
                    <c-image v-if="image" v-bind="image"></c-image>
                </div>
            </div>
            <div class="flexgrid__cell--xs-6 wizard-step-confirmation__grid-cell wizard-step-confirmation__content">
                <h2>{{ contentTitle}}</h2>
                <div class="content-manageble wizard-step-confirmation__body" v-html="content" />
                <FooterBlock class="wizard-step-confirmation-footer" :ctas="ctas" />
            </div>
        </div>
    </section>
</article>