.wizard-step-confirmation {
    &__container {
        padding: 0 0 ($buildingUnit * 5) 0;
    }

    &__image-wrapper {
        display: flex;
        width: 75%;
        margin: 0 auto ($buildingUnit * 2.5) auto;

        @include min-mobile-xl {
            padding-right: $buildingUnit * 2;
            width: 100%;

            .flexgrid--row-reversed &{
                padding-left: $buildingUnit * 2;
                padding-right: 0;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include min-mobile-xl {
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: $buildingUnit * 2;

            .flexgrid--row-reversed &{
                padding-right: $buildingUnit * 2;
                padding-left: 0;
            }
        }
    }
    &-header{
        .header-block__title,
        .header-block__subtitle{
            text-align: center;
            @include min-mobile-xl {
                text-align: left;
            }
        }
    }

    &-footer{
        &.footer-block:not(:empty) {
            padding-bottom: 0;
        }
    }

    &__body{
        margin-bottom: $buildingUnit * 2;

        > * {
            margin: 0;
        }

        @include min-mobile-xl {
            text-align: left;
        }
    }
}
