<footer class="footer">
    <div class="container">
        <!--Footer upper part-->
        <div class="footer__primary">
            <!--Footer logo-->
            <router-link to="/" class="branded-logo footer__branded-logo"  aria-label="Ultimaker homepage">
                <icon class="branded-logo__robot" icon-name="robot-ultimaker"></icon>
                <icon class="branded-logo__logo" icon-name="logo-ultimaker"></icon>
            </router-link>

            <!--End footer logo-->

            <!--Footer nav-->
            <div class="footer__nav" v-if="minorNav && minorNav.children && minorNav.children.length">
                <div class="flexgrid">
                    <div class="flexgrid__cell--xxs-6 flexgrid__cell--xs-8 flexgrid__cell--sm-6">
                        <div class="flexgrid">
                            <div class="flexgrid__cell--xs-6" v-if="minorNav.children.length > 0">
                                <nav class="footer-nav__column">
                                    <h3 class="footer-nav__title">{{ minorNav.children[0].title }}</h3>
                                    <template v-if="minorNav.children[0].children">
                                        <content-link-list :links="mapLinks(minorNav.children[0].children)" block="footer-nav"></content-link-list>
                                    </template>
                                </nav>
                            </div>
                            <div class="flexgrid__cell--xs-6" v-if="minorNav.children.length > 1">
                                <nav class="footer-nav__column">
                                    <h3 class="footer-nav__title">{{ minorNav.children[1].title }}</h3>
                                    <template v-if="minorNav.children[1].children">
                                        <content-link-list :links="mapLinks(minorNav.children[1].children)" block="footer-nav"></content-link-list>
                                    </template>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="flexgrid__cell--xxs-6 flexgrid__cell--xs-4 flexgrid__cell--sm-6" v-if="minorNav.children.length > 2">
                        <nav class="footer-nav__column footer-nav__column--last footer-nav__column--double">
                            <h3 class="footer-nav__title">{{ minorNav.children[2].title }}</h3>
                            <template v-if="minorNav.children[2].children">
                                <content-link-list :links="mapLinks(minorNav.children[2].children)" block="footer-nav"></content-link-list>
                            </template>
                        </nav>
                    </div>
                </div>
            </div>
            <!--End footer nav-->
        </div>
        <!--End footer upper part-->
        <!--Footer lower part-->
        <div class="footer__secondary">
            <!--Footer follow stuff-->
            <div class="footer__follow">
                <nav class="social-nav">
                    <ul class="social-nav__list" aria-label="follow Ultimaker">
                        <li class="social-nav__item footer__social-item">
                            <a class="social-nav__link icon-button icon-button--small"
                               href="https://www.facebook.com/Ultimaker" aria-label="Facebook">
                                <icon class="social-nav__icon" icon-name="facebook"></icon>
                            </a>
                        </li>
                        <li class="social-nav__item footer__social-item">
                            <a class="social-nav__link icon-button icon-button--small"
                               href="https://twitter.com/Ultimaker" aria-label="Twitter">
                                <icon class="social-nav__icon" icon-name="twitter"></icon>
                            </a>
                        </li>
                        <li class="social-nav__item footer__social-item">
                            <a class="social-nav__link icon-button icon-button--small"
                               href="http://instagram.com/ultimaker" aria-label="Instagram">
                                <icon class="social-nav__icon" icon-name="instagram"></icon>
                            </a>
                        </li>
                        <li class="social-nav__item footer__social-item">
                            <a class="social-nav__link icon-button icon-button--small"
                               href="https://www.youtube.com/user/Ultimaker3D" aria-label="YouTube">
                                <icon class="social-nav__icon" icon-name="youtube"></icon>
                            </a>
                        </li>
                    </ul>
                </nav>

                <form class="newsletter">
                    <a class="link link--icon newsletter__link" @click="subscribeOpen = true"
                       v-if="!subscribeOpen" tabindex="0">
                        <icon icon-name="mail"></icon>
                        <span class="link__underline">Subscribe to newsletter</span>
                    </a>
                    <div v-if="subscribeOpen">
                        <input type="email"/>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <!--End footer follow stuff-->

            <!--Footer locale and legal stuff-->
            <div class="footer__locale-legal">
                <div class="locale-selector">
                    <a class="locale-selector__indicator">
                        <icon class="locale-selector__icon" icon-name="geo"></icon>
                        <span class="locale-selector__label">Global</span>
                        <span class="locale-selector__currency">&euro;</span>
                    </a>

                    <select class="locale-selector__region">
                        <option value="">Global</option>
                    </select>

                    <select class="locale-selector__language">
                        <option value="en">English</option>
                    </select>
                </div>

                <div class="legal footer__legal">
                    <p class="legal__copyright-label">
                        <small>&copy; {{ year }} Ultimaker B.V.</small>
                    </p>
                    <template v-if="legalNav && legalNav.children">
                        <nav class="legal__nav">
                            <content-link-list :links="mapLinks(legalNav.children)" block="legal"></content-link-list>
                        </nav>
                    </template>
                </div>
            </div>
            <!--End footer locale and legal stuff-->
        </div>
        <!--End footer lower part-->
    </div>
</footer>
