.hero--product {
    .hero__products {
        display: flex;
        flex-direction: column;
        margin-bottom: $buildingUnit * 1.5;

        @include min-desktop() {
            flex-direction: row;
        }
    }

    .hero__products-item {
        margin-bottom: $buildingUnit * 1.5;

        &:last-child{
            margin-bottom: 0;
        }

        @include min-desktop() {
            margin-bottom: 0;

            &--multiple:not(:last-child) {

                &:after{
                    content: '';
                    width: 1px;
                    height: $buildingUnit * 3;
                    border-right: 1px solid $colorGray;
                    margin-left: $buildingUnit;
                    margin-right: -$buildingUnit;
                }
            }
        }
    }

    .hero__link-list {
        @extend %reset-last-margin;
        margin-top: $buildingUnit * 2.75;
        @include min-tablet {
            margin-top: ($buildingUnit * 4) - 2;
        }
        margin-bottom: 0;
    }

    .hero__linklist {
        @extend %reset-list;
        margin-top: $buildingUnit * 3.5;

        @include min-tablet {
            margin-top: $buildingUnit * 4;
        }

        .hero__linklist-item:last-child{
            .hero__linklist-link{
                margin-bottom: 0;
            }
        }
    }

    .hero__linklist-link{
        margin-bottom: $buildingUnit / 2;
    }
}
