<div class="hero-home">
    <div class="hero-home__content">
        <h1 class="hero-home__title">
            {{ title }}
        </h1>
        <picture role="presentation">
            <source :srcset="srcSetWebP" type="image/webp" />
            <source :srcset="srcSet" />
            <img :src="imageUrl" alt="" class="hero-home__image" />
        </picture>
        <p class="hero-home__description">{{ description }}</p>
        <button class="button button--primary">Meet the Ultimaker S5</button>
    </div>
</div>
