<div class="hero-homepage">
    <div class="hero-homepage__content">
        <h1 class="hero-homepage__title">
            {{ title }}
        </h1>
        <picture role="presentation" v-if="image">
            <source :srcset="srcSetWebP" type="image/webp" />
            <source :srcset="srcSet" />
            <img :src="image.url" alt="" class="hero-homepage__image" />
        </picture>
        <p class="hero-homepage__description" v-if="description">
            {{ description }}
        </p>
        <cta-block :ctas="ctas.ctas" v-if="ctas" />
    </div>
</div>
