.article-image {
    width: 100%;
    margin: 0 0 ($buildingUnit * 3) 0;
    padding: 0;
    
    &__container{
        @include min-tablet {
            height: 540px;
        }
    }

    @include min-tablet {
        margin-bottom: ($buildingUnit * 5) 
    }

    &__caption {
        margin: $buildingUnit auto 0 auto;
        text-align: center;
        @include font-line-ratio(prim-xs);
        color: $colorBlack;

        @include min-tablet() {
            width: 66%;
            margin-top: $buildingUnit * 2;
        }
    }
}
