.article-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 ($buildingUnit * 4) 0;
    padding: 0;

    @include min-tablet {
        margin-bottom: ($buildingUnit * 5)
    }

    &__caption {
        margin-top: $buildingUnit;
        @include font-line-ratio(prim-xs);
        color: $colorGrayDark;

        @include min-tablet() {
            margin-top: $buildingUnit * 2;
        }
    }
}
