<article class="hero hero--cover organism">
    <div class="hero-cover__image--full">
        <c-image v-if="this.image" v-bind="this.image" resize-behavior="crop"></c-image>
    </div>

    <div class="hero-cover__image--overlay"></div>
    <section class="hero-cover__container container">
        <div class="flexgrid__cell--xs-6 hero--cover-reset">
            <h1 class="hero-cover__headline">{{ title }}</h1>
            <p class="copy--intro" v-if="description">{{ description }}</p>
            <cta-block mod="hero" :ctas="ctas.ctas" v-if="ctas" styleContentButton="button button--primary"></cta-block>
        </div>
    </section>
</article>
