<article class="hero hero--video">
    <div class="hero-cover__image--full">
        <c-image v-bind="imageSmall"></c-image>
    </div>

    <div class="hero-cover__image--overlay"></div>
    <section class="container">
        <div class="flexgrid__cell--xs-6 hero--video-reset">
            <h1 class="hero-cover__headline">{{ title }}</h1>
            <p class="copy--intro" v-if="description">{{ description }}</p>
            <cta-block :ctas="ctas" v-if="ctas" styleContentButton=""></cta-block>
            <!--<button type="button" v-if="videoId" icon="play-video" class="link&#45;&#45;large" @click="toggleVideo" style="background-color: red">Play Video</button>-->
            <!--<modal class="modal&#45;&#45;video" v-if="showVideo" @close="toggleVideo">-->
                <!--<youtube-video :video-id="videoId"></youtube-video>-->
            <!--</modal>-->
        </div>
    </section>
</article>
