.footer-navigation-category__column {
    flex: 1 0 auto;
    position: relative;
    margin-bottom: $buildingUnit;

    margin-right: $buildingUnit / 2;
    padding-right: $buildingUnit / 2;
    width: 50%;

    @include  min-mobile-xl {
        border-right: 1px solid $colorGrayLight;
        margin-right: $buildingUnit * 1.5 ;
        padding-right: $buildingUnit * 1.5;
        margin-bottom: 0;
        width: auto;
        
        &:last-of-type{
            border-right: none;
            margin-right: 0;
        }
    }

    @include min-desktop{
        margin-right: $buildingUnit * 2;
        padding-right: $buildingUnit * 2;

        &:last-of-type{
            border-right: none;
            padding-right: 0;
        }
    }
}

.footer-navigation-category__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-navigation-category__title {
    @include font-ratio-rhythm(prim-s);
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-navigation-category__item {
    display: flex;
    align-items: center;
    @include font-line-ratio(prim-s);

    &:last-child {
        margin-bottom: 0;
    }
}

.footer-navigation-category__link {
    margin-right: 0;
}

.footer-navigation-category__link,
.footer-navigation-category__link:hover,
.footer-navigation-category__link:focus,
.footer-navigation-category__link:active,
.footer-navigation-category__link:visited {
    margin-bottom: $buildingUnit / 2;
    color: $colorBlack;
}

.footer__legal__column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;

    @include  min-mobile-xl {
        justify-content: space-around;
        flex-direction: row;
    }
}

.footer__legal__column .footer-navigation-category__title {
    @include font-ratio-rhythm(prim-xs);
    font-weight: normal;
    margin: 0 ($buildingUnit / 2) $buildingUnit 0;

    @include  min-mobile-xl {
        margin: 0 $buildingUnit 0 0;
    }
}

.footer__legal__column .footer-navigation-category__list {
    display: flex;
}

.footer__legal__column .footer-navigation-category__link,
.footer__legal__column .footer-navigation-category__link:hover,
.footer__legal__column .footer-navigation-category__link:focus,
.footer__legal__column .footer-navigation-category__link:active,
.footer__legal__column .footer-navigation-category__link:visited {
    @include font-ratio-rhythm(prim-xs);
    margin-top: 0;
    margin-bottom: 0;
    color: $colorGrayDark;
    margin-right: $buildingUnit;
}
