.demo-hidden {
    display: none !important;
    &--max-mobile {
        @include max-mobile {
            display: none !important;
        }
    }
    &--max-mobile-xl {
        @include max-mobile-xl {
            display: none !important;
        }
    }
    &--max-tablet {
        @include max-tablet {
            display: none !important;

        }
    }

    &--min-mobile-xl {
        @include min-mobile-xl {
            display: none !important;
        }
    }
    &--min-tablet {
        @include min-tablet {
            display: none !important;
        }
    }
}
