
#demo-patterns {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    max-width: 100%;
    padding: 0 0.5em;
}

.demo-panel {
    width: 100%;
    position: relative;
    background-color: $colorGrayExtraLight;
    margin: $buildingUnit 0;
    padding: $buildingUnit;
    @extend %reset-last-margin;
}

.demo-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.demo-colors li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid #ddd;
}

.demo-swatch {
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
    border: 1px solid rgba(0, 0, 0, .05);
}

.demo-label {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif !important;
    font-weight: 600;
    font-size: 90%;
    line-height: 1;
    color: grey;

    &--centered {
        text-align: center;
    }
}

.missing {
    color: red !important;
}
