.demo-panel--functional-icons,
.demo-panel--social-icons,
.demo-panel--product-icons,
.demo-panel--brand-icons {
    padding: $buildingUnit*2;
    text-align: center;
}

.demo-panel__icon {
    margin: 0 auto ($buildingUnit);
    .demo-panel--functional-icons &,
    .demo-panel--social-icons & {
        font-size: $buildingUnit * 2;
    }
    .demo-panel--product-icons & {
        font-size: $buildingUnit * 4;
    }
}

.demo-panel__label {
    @extend .demo-label;
    display: block;
}

.demo-panel--brand-icons {
    .icon--logo-ultimaker {
        font-size: $buildingUnit * 10;
        margin: ($buildingUnit * -1.5) 0;
    }

    .icon--robot-ultimaker {
        font-size: $buildingUnit * 6;
    }
}

.demo-panel--animated-icons {
    .demo-panel__icon, svg {
        width: $buildingUnit * 10;
        height: $buildingUnit * 10;
    }
}
