.demo-building-unit {
    position: relative;
    .building-unit {
        position: static;
        $buildingUnit: 12px;

        width: $buildingUnit;
        height: $buildingUnit;

        background-color: #0CA9E3;

        &:nth-child(odd) {
            opacity: 0.5;
        }
        &:nth-child(even) {
            opacity: .25;
        }

        &--half {
            width: $buildingUnit / 2;
            height: $buildingUnit / 2;
        }
        &--vertical {
            display: block;
        }
        &--horizontal {
            display: inline-block;
        }
        &--hidden-sm {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        &--hidden-md {
            @media screen and (min-width: 769px) {
                display: none;
            }
        }
    }
    .button {
        position: absolute;
        top: 0;
        left: 0;
    }

}
