<section class="story__template">
    <main>
        <hero-products-application v-bind="heroProductsApplication"></hero-products-application>
        <brands v-bind="brands"></brands>
        <slider-reveal v-bind="slider"></slider-reveal>
        <examples v-bind="examples"></examples>
        <explore v-bind="explore"></explore>
        <ecosystem v-bind="ecosystem"></ecosystem>
        <cases v-bind="cases"></cases>
        <general-content v-bind="generalContent"></general-content>
        <footer-content :minorNav="minorNav"
                        :globalLabels="globalLabels"
                        :legalNav="legalNav"
                        :country="country">

        </footer-content>
    </main>
</section>
