<div class="tooltip-toggle">
    <transition @enter="tooltipEnter" @leave="tooltipLeave">
        <tooltip ref="tooltip" v-show="visible" block="tooltip-toggle" :class="tooltipClass">
            {{ description }}
        </tooltip>
    </transition>
    
    <a  ref="button"
        class="link tooltip-toggle__link"
        :aria-label="label"
        aria-disabled="true"
        role="button"
        tabindex="0"
        @click="toggle"
        @blur="toggle"
        @keyup.enter="toggle">
        <span class="link__underline">

        </span>
        <slot></slot>
        <icon class="link tooltip-toggle__icon" :iconName="icon" />
    </a>
</div>