<div class="tooltip-toggle">
    <transition @enter="tooltipEnter" @leave="tooltipLeave">
        <tooltip ref="tooltip" v-show="visible" block="tooltip-toggle" :class="tooltipClass">
            {{ description }}
        </tooltip>
    </transition>

    <icon-button ref="button" button-class="icon-button--visually-hidden-label icon-button--transparent"
                 :icon-name="icon"
                 @click.native.prevent="toggle"
                 @keyup.native.enter="toggle"
                 @keyup.native.space="toggle"
                 @blur.native.prevent="hide">
        {{ label }}
    </icon-button>
</div>
