<div class="tooltip-toggle">
    <transition @enter="tooltipEnter" @leave="tooltipLeave">
        <tooltip ref="tooltip" v-show="visible" block="tooltip-toggle" :class="tooltipClass">
            {{ description }}
        </tooltip>
    </transition>

    <slot />
    <icon-button ref="button" button-class="icon-button--visually-hidden-label icon-button--transparent icon-button--small-icon"
                 :icon-name="icon"
                 @click.native.prevent="toggleTooltip"
                 @keyup.native.enter="toggleTooltip"
                 @keyup.native.space="toggleTooltip"
                 @blur.native.prevent="hideTooltip">
        {{ label }}
    </icon-button>
</div>
