<article class="hero hero--video">
    <responsive-picture v-bind="heroImage" imgClass="hero-video__image--full"></responsive-picture>
    <div class="hero-video__image--overlay"></div>
    <section class="container">
        <div class="flexgrid__cell--xs-6 hero--video-reset">
            <h1 class="hero-video__headline">{{ title }}</h1>
            <p class="copy--intro" v-if="description">{{ description }}</p>
            <content-link v-if="videoId" icon="play-video" class="link--large" @click.native="toggleVideo">Play Video</content-link>
        </div>
    </section>
    <modal class="modal--video" v-if="showVideo" @close="toggleVideo">
        <youtube-video :video-id="videoId"></youtube-video>
    </modal>
</article>
