<article class="organism overview demo-rhythm-single">
    <section class="container">
        <h2 class="overview__title">{{ title }}</h2>
        <p class="subtitle overview__subtitle" v-if="subtitle">{{ subtitle }}</p>

        <template v-for="(section, index) in sections">
            <component :is="section.type"
                   v-bind="section"
                   :key="index">
            </component>
        </template>

        <cta-block :ctas="ctas.ctas"
                   styleContentButton="button"
                   v-if="ctas"
                   block="overview" />
    </section>
</article>
