<article class="organism overview">
    <section class="container">
        <HeaderBlock :title="title" :subtitle="subtitle" />

        <template v-for="(section, index) in sections">
            <component :is="section.type"
                   v-bind="section"
                   :key="index">
            </component>
        </template>

        <cta-block :ctas="ctas.ctas"
                   styleContentButton="button"
                   v-if="ctas"
                   block="overview" />
    </section>
</article>
