.colors {

    .colors__list {
        display: flex;
        flex-wrap: wrap;
        @extend %reset-list;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: $buildingUnit * 1.5;

        @include min-tablet {
            margin-bottom: ($buildingUnit * 2) - 1px;
        }
    }

    .colors__list-item {
        position: relative;
        @extend %reset-list-item;
        margin: 0 $buildingUnit $buildingUnit 0;
        padding-left: 0;
    }


    .colors__swatches {
        @extend %reset-last-margin
    }

    .colors__image {
        @include micro-animate(opacity);
        @include max-mobile-xl {
            margin-bottom: $buildingUnit * 3;
        }

        &--loading {
            opacity: 0;
        }
    }
}
