<article class="colors">
    <div class="container">
        <header-block :title="title" :subtitle="subtitle" />

        <div class="flexgrid flexgrid--gutter flexgrid--column-reversed flexgrid--mobile-xl-row">

            <div class="flexgrid__cell--xs-6 flexgrid__cell--sm-4">
                <div class="colors__swatches">
                    <ul class="colors__list">
                        <li class="colors__list-item"
                            v-for="(color, index) in colorList" @click="setActiveColor(index)" @keydown.space.prevent="setActiveColor(index)">
                            <color :rgb-hex="color.rgbHex" :transparency="color.transparency" />
                        </li>
                    </ul>

                    <cta-block :ctas="colorCtas.ctas" />
                </div>
            </div>

            <div class="flexgrid__cell--sm-8 flexgrid__cell--xs-6" v-if="activeColor.exampleImage">
                <c-image class="colors__image" v-bind="activeColor.exampleImage" />
            </div>
        </div>

        <footer-block :ctas="ctas" />
    </div>
</div>
