.colors {

    .colors__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0 $buildingUnit;
        padding: 0;

        @include min-tablet {
            margin-bottom: ($buildingUnit * 2) - 1px;
        }

    }

    .colors__list-item {
        position: relative;
        margin: 0 $buildingUnit $buildingUnit 0;
        padding-left: 0;
    }


    .colors__swatches {
        @extend %reset-last-margin
    }

    .colors__image {
        @include micro-animate(opacity);
        @include max-mobile-xl {
            margin-bottom: $buildingUnit * 2.5;
        }

        &--loading {
            opacity: 0;
        }
    }

}
