<nav aria-label="sub items" class="sub-nav sub-nav--fixed" :class="classObject" v-if="page">
    <faux-scroll>
        <ul class="sub-nav__list" role="presentation"  v-if="page.links && page.links.siblings && page.links.siblings.length">
            <li class="sub-nav__item" v-for="sibling in page.links.siblings">
                <router-link class="sub-nav__link" :to="mapLink(sibling.href)" active-class="sub-nav__link--active">
                    <responsive-picture class="sub-nav__image" v-if="sibling.icon"
                        :desktop-width="sibling.icon.thumbsquare_desktop"
                        :mobile-width="sibling.icon.thumbsquare_mobile">
                    </responsive-picture>
                    <p class="sub-nav__label">{{ sibling.title }}</p>
                </router-link>
            </li>
        </ul>
    </faux-scroll>

</nav>
