<!-- @format -->
<section class="story__template">
    <section class="drawer">
        <article role="dialog" lang="en" class="preferences-bar">
            <a aria-label="close" role="button" tabindex="0" class="icon-button icon-button preferences-bar__button button--close"><svg class="icon icon-button__icon icon--close"><use xlink:href="/static/icons/iconset.svg#icon-close"></use></svg> <!----></a>
            <div class="container">
                <div class="preferences-bar__content notification__content--centered">
                    <form><h3>Your preferences</h3>
                        <div>
                            <p>Ultimaker.com wants to deliver the best experience to you. We detected your browser preferences and want to place tracking cookies. By clicking 'I agree' you agree to the&nbsp;<a href="/legal/terms-of-use">terms of use</a>&nbsp;and settings below. Ultimaker processes your personal data in accordance with the&nbsp;<a href="/legal/privacy-and-cookie-policy">Privacy and Cookie Policy</a>.</p></div>
                        <div class="settings">
                            <div class="settings-selector settings-selector--language">
                                <div class="form-group"><label class="settings-selector__label">Your language</label>
                                    <div class="selector-group">
                                        <div class="locale-selector preferences-bar__locale-selector">
                                            <button aria-label="Change your locale, currently: English" class="button--transparent button--small" style="display:none;">EN</button>
                                            <a aria-label="Change your locale, currently: English" role="button" tabindex="0" class="icon-button icon-button--small icon-button--reversed"><svg class="icon icon-button__icon icon--edit"><use xlink:href="/static/icons/iconset.svg#icon-edit"></use></svg><span class="icon-button__label">English</span></a> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="settings-selector settings-selector--country">
                                <div class="form-group"><label class="settings-selector__label">Your country</label>
                                    <div class="selector-group">
                                        <div class="locale-selector preferences-bar__locale-selector">
                                            <button aria-label="Change your locale, currently: Netherlands" class="button--transparent button--small" style="display:none;">NL</button>
                                            <a aria-label="Change your locale, currently: Netherlands" role="button" tabindex="0" class="icon-button icon-button--small icon-button--reversed"><svg class="icon icon-button__icon icon--edit"><use xlink:href="/static/icons/iconset.svg#icon-edit"></use></svg><span class="icon-button__label">Netherlands</span></a> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="settings-selector settings-selector--cookies">
                                <div class="form-group">
                                    <label class="settings-selector__label">Your privacy and cookie settings</label>
                                    <div class="selector-group">
                                        <a aria-label="Change your privacy settings, currently: Edit" role="button" tabindex="0" class="icon-button icon-button settings-selector__edit-button icon-button--small icon-button--reversed"><svg class="icon icon-button__icon icon--edit"><use xlink:href="/static/icons/iconset.svg#icon-edit"></use></svg><span class="icon-button__label">Edit</span></a>
                                    </div> <!---->
                                </div> <!---->
                            </div>
                        </div>
                        <button type="submit" class="button">I agree, continue</button>
                    </form>
                </div>
            </div>
        </article>
    </section>
    <page-header v-bind="header" @toggle-nav="header.mainNavOpen = !header.mainNavOpen"></page-header>
    <main class="container">
    </main>
</section>
