<nav key="large-menu" class="main-nav" :class="classList" aria-label="site">
        <ul class="main-nav__list" role="menu" :class="{'main-nav__list-visible': mainNavOpen && showCompactMenu}">
            <main-navigation-item v-if="navigation" ref="navItem"
                v-for="(mainNavigationItem, index) in navigation" :key="index"
                :is-compact="showCompactMenu"
                :main-nav-open="mainNavOpen"
                :active="false"
                :itemId="'nav-' + index"
                v-bind="mainNavigationItem">
            </main-navigation-item>
        </ul>
    </nav>
    