/** @format */

.sys-nav {
    position: absolute;

    @include max-tablet {
        right: $buildingUnit * 6;
    }

    @include min-desktop {
        right: $buildingUnit * 2;
    }
}

.sys-nav__list {
    @extend %reset-list;
    display: flex;
    height: $buildingUnit * 3;
}

.sys-nav__item {
    @extend %reset-list;
    z-index: 1;
    margin-left: $buildingUnit;
    cursor: pointer;
}
.sys-nav__link {
    @extend .icon-button;
    @extend .icon-button--small;

    background: transparent;
}

.sys-nav__icon {
    @extend .icon-button__icon;
}

.sys-nav__label {
    margin: 0 $buildingUnit / 2 0 $buildingUnit;
    white-space: nowrap;
    user-select: none;

    @media (max-width: $desktopHdWidth - 1) {
        @include visually-hidden;
    }
}
