<section class="list-section">
    <header class="list-section__header">
        <h3 class="list-section__title" v-if="title">{{ title }}
            <span class="list-section__count">({{cards.length}})</span>
            <template v-if="tooltip">
                <transition name="tooltip">
                    <tooltip class="section-tooltip" block="list-section" v-show="visibleTooltip" v-bind="tooltip" :id="`tooltip_${ uniqId }`">
                        {{ tooltip.description }}
                    </tooltip>
                </transition>
            </template>
        </h3>
        <action-button
            class="link list-section__info-link"
            :icon="tooltip.icon"
            mod="reversed"
            @click.native.prevent="toggleTooltip"
            @blur.native.prevent="hideTooltip"
            role="button"
            :aria-describedby="`tooltip_${ uniqId }`"
            v-if="tooltip">
            {{ tooltip.label }}
        </action-button>
    </header>
    <ul class="list-section-list" v-if="cards && cards.length > 0" :aria-label="title">
        <div class="flexgrid flexgrid--justify-space-between flexgrid--mobile-xl-row">
            <div class="flexgrid__cell--md-4 flexgrid__cell--xs-6"
                 v-for="(card, index) in cards"
                 :key="index"
                 v-if="index < showMax">
                <li ref="visible" class="list-section-list__item">
                    <component :is="card.type"
                               v-bind="card">
                    </component>
                </li>
            </div>
            <template v-if="cards.length > showMax && showMax && !showHiddenItems">
                <div class="flexgrid__cell flexgrid__cell--list-section__button--center">
                    <button class="button--secondary list-section-list__button"
                            @click="showHidden">{{ showCount() }}
                    </button>
                </div>
            </template>
        </div>
        <transition-group @before-enter="beforeEnter"
                          @enter="enter"
                          tag="div"
                          :css="false"
                          class="flexgrid flexgrid--justify-space-between flexgrid--mobile-xl-row list-section--hidden">
            <div class="flexgrid__cell--md-4 flexgrid__cell--xs-6"
                 v-for="(card, index) in cards"
                 v-if=" index >= showMax"
                 v-show="showHiddenItems"
                 :key="card.title + index"
                 :data-index="index">
                <li class="list-section-list__item">
                    <component :is="card.type"
                               v-bind="card">
                    </component>

                </li>
            </div>
        </transition-group>
    </ul>
</section>
