<!-- @format -->

<section class="list-section">
    <template v-if="title">
        <header class="list-section__header">
            <h3 class="list-section__title">{{ title }}
                <span class="list-section__count">({{cards.length}})</span>
                <template v-if="tooltip">
                    <transition name="tooltip">
                        <tooltip class="section-tooltip" block="list-section" v-show="visibleTooltip" v-bind="tooltip" :id="`tooltip_${ uniqId }`">
                            {{ tooltip.description }}
                        </tooltip>
                    </transition>
                </template>
            </h3>
            <template v-if="tooltip">
                <action-button
                    class="link list-section__info-link"
                    :icon="tooltip.icon"
                    mod="reversed"
                    @click.native.prevent="toggleTooltip"
                    @blur.native.prevent="hideTooltip"
                    role="button"
                    :aria-describedby="`tooltip_${ uniqId }`"
                    v-if="tooltip">
                    {{ tooltip.label }}
                </action-button>
            </template>
        </header>
    </template>

    <template v-if="filterCategories" v-for="filterCategory in filterCategories">
        <filter-category v-bind="filterCategory" />
    </template>

    <transition-group class="list-section__container" tag="ul" @before-enter="beforeEnter"  @enter="enter">
        <li v-for="(chunk, index) in chunks"
            :key="index" class="list-section__row"
            :class="chunk.length % 2 === 0 && 'list-section__row--even'"
            v-show="index < visibleChunks">
            <component v-if="chunk && chunk.length"
                    class="list-section__item"
                    :is="card.type"
                    :key="i"
                    v-bind="card"
                    v-for="(card, i) in chunk" />
        </li>
    </transition-group>

    <footer class="list-section__footer">
        <button @click="limit && limit.expandAmount ? showChunk() : showAll()"
                v-show="showButton()"
                class="button--secondary list-section__footer__button">
            {{ showLabel() }}
        </button>
    </footer>
</section>
