<!-- @format -->

<section class="filter-category">
    <h4 class="filter-category__title">{{ title }}</h4>
    <form>
        <input
            class="filter-category__reset"
            :class="checkResetFiltersState"
            type="reset"
            :value="showAllLabel"
            @click="resetFilters"
        />
        <ul class="filter-category__list">
            <li
                class="filter-category__list-item"
                v-for="(label, key) in labels"
                :key="key"
            >
                <label-filter
                    :disabled="isFilterDisabled(label)"
                    :eventChange="eventLabelFilterChange"
                    :label="label"
                    :name="showAllLabel"
                    :value="label"
                    @[eventLabelFilterChange]="handleLabelFilterChange"
                />
            </li>
        </ul>
    </form>
</section>
