@import "~scss/settings/_variables.scss";

.filter-category {
    margin-bottom: $buildingUnit * 2 - $buildingUnit / 2; // filter-category__list-item
    text-align: center;

    @include min-desktop { // this is a quickfix so multiple rows are the outcome
        padding: 0 10%;
    }
}

.filter-category:last-of-type {
    margin-bottom: $buildingUnit * 4;
}

.filter-category__list {
    display: inline;
    padding-left: 0;
}

.filter-category__list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: $buildingUnit / 2;
    outline: 0;
    padding-left: $buildingUnit / 2;
}

.filter-category__list-item:first-of-type {
    padding-left: 0;
}

.filter-category__reset {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $colorWhite;
    border-radius: 4px;
    border: 1px solid $um-gray-300;
    color: $um-black;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-right: $buildingUnit / 3;
    margin-bottom: $buildingUnit / 2;
    outline: none;
    padding-bottom: 3px;
    padding-left: $buildingUnit / 2;
    padding-right: $buildingUnit / 2;
    padding-top: 3px;
    transition: all $defaultDuration $defaultEasing;

    &:hover,
    &:focus {
        border-color: $um-blue;

        &:not(.filter-category__reset--active) {
            color: $um-blue;
        }
    }

    &:not(.filter-category__reset--active):hover {
        box-shadow: $um-default-box-shadow;
    }

    &:focus {
        box-shadow: $um-default-box-shadow;
    }
}

.filter-category__reset--active {
    background-color: $um-blue;
    border: 1px solid $um-blue;
    color: $colorWhite;

    &:hover {
        color: $colorWhite;
    }
}

.filter-category__title {
    margin-bottom: $buildingUnit;
}
