<article class="materials">
    <section class="container">
        <h2 class="materials__title">{{ title }}</h2>
        <section class="materials-section" v-if="materials && materials.length > 0">
            <ul class="material-list">
                <div class="flexgrid flexgrid--justify-space-between flexgrid--mobile-xl-row">
                    <div class="flexgrid__cell--md-4 flexgrid__cell--xs-6"
                         v-for="(material, index) in materials"
                         v-if="index < showMax">
                        <li class="material-list__item">
                            <card :card="material" block="materials" ref="visible" :position="index + 1"></card>
                        </li>
                    </div>
                    <template v-if="materials.length > showMax && !showHiddenItems">
                        <div class="flexgrid__cell flexgrid__cell--material-list__button--center">
                            <button class="button--secondary material-list__button"
                                    @click="showHidden">{{ showCount() }}
                            </button>
                        </div>
                    </template>
                </div>
                <transition-group @before-enter="beforeEnter"
                                  @enter="enter"
                                  tag="div"
                                  :css="false"
                                  class="flexgrid flexgrid--justify-space-between flexgrid--mobile-xl-row" id="newSection">
                    <div class="flexgrid__cell--md-4 flexgrid__cell--xs-6"
                         v-for="(material, index) in materials"
                         v-if="index >= showMax"
                         v-show="showHiddenItems"
                         :key="index"
                         :data-index="index">
                        <li class="material-list__item">
                            <card :card="material" block="materials"></card>
                        </li>
                    </div>
                </transition-group>
            </ul>
        </section>
    </section>
</article>
