// moved original scss from src/scss/atomic/atoms/_type.scss to here
p{
    @include font-rhythm(prim-s);

    @include min-tablet() {
        @include font-rhythm(prim-m);
    }
}

q {
    @extend h3;
    display: block;
    text-align: center;
    color: $colorGrayDark;
}

small {
    @include font-line-ratio(prim-xs);
    display: block;

    font-weight: 500;
    color: inherit;

    @include min-tablet() {
        @include font-line-ratio(prim-xs);
    }
}

.copy--intro {
    @include font-ratio-rhythm(prim-m);

    @include min-tablet() {
        @include font-ratio-rhythm(prim-l);
    }
}

.copy--small {
    @include font-ratio-rhythm(prim-s);
}
