<dl class="tabbable-dl">
    <template v-for="(item, index) in items">
        <dt class="tabbable-dl__term tabbable-dl__term--vue" ref="terms">
            <a class="tabbable-dl__link" @click.prevent="changeIndex(index)" @keyup.enter="changeIndex(index)" role="button" tabindex="0">
                <h3 class="tabbable-dl__title">
                    <icon class="tabbable-dl__icon" icon-name="angle-right"></icon>
                    {{ item.title }}
                </h3>
            </a>
        </dt>
        <dd class="tabbable-dl__desc tabbable-dl__desc--vue" ref="descriptions">{{ item.description }}</dd>
    </template>
</dl>
