<!-- @format -->

<article class="card-article" @click="triggerEventClick">
    <anchor-overlay v-if="url" :url="url" :title="title" />
    <div class="card-article__image-container" v-if="image">
        <c-image class="card-article__image" v-bind="image" />
    </div>
    <h3 class="card-article__heading">{{ title }}</h3>
    <p v-if="description" class="card-article__description">
        {{ description }}
    </p>
    <list-unordered class="card-article__list" :listItems="listItems"/>
</article>
