/** @format */

@import "~scss/settings/_variables.scss";

.card-article {
    position: relative;
    background-color: $colorWhite;
    border: 1px solid $colorGrayLight;
}

.card-article__description {
    font-size: 14px;
    margin-bottom: $buildingUnit;
    padding-left: $buildingUnit;
    padding-right: $buildingUnit;
}

.card-article__heading {
    margin-bottom: $buildingUnit;
    padding-left: 13px;
    padding-right: 13px;
}

.card-article__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-article__image-container {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    margin-bottom: $buildingUnit * 2;
}

.card-article__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;

    padding-right: 4px;
    margin-bottom: $buildingUnit / 2;

    // offset margin-bottom on the list items in the last row of the flexbox
    margin-top: -$buildingUnit / 2;

    // offset margin-right on the list items in the last column of the flexbox
    margin-left: -$buildingUnit / 2;

    .list__item {
        line-height: 15px;
        margin-right: $buildingUnit / 2;
    }
}
