/** @format */

@import "~scss/settings/_variables.scss";

.card-article {
    position: relative;
    background-color: $colorWhite;
    border: 1px solid $colorGrayLight;
}

.card-article__heading {
    margin-bottom: 19px;
    padding-left: 13px;
    padding-right: 13px;
}

.card-article__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-article__image-container {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    margin-bottom: $buildingUnit * 2;
}

.card-article__description {
    padding-left: $buildingUnit;
    padding-right: $buildingUnit;
}
