/** @format */

.tabbed-content {
    @extend .organism;
    @extend %reset-last-margin;
}

.tabbed-content__header {
    @include min-tablet() {
        margin: 0 auto;
    }
}

.tabbed-content__title {
    position: relative;
    margin-bottom: $buildingUnit * 2;
    text-align: center;
}
.tabbed-content__title + .tabbed-content__subtitle {
    margin-top: 0;
    margin-bottom: $buildingUnit * 2;
}

.tabbed-content__subtitle {
    position: relative;
    text-align: center;
}

