$businessCardBorderSize: 1px;
$businessCardPadding: $buildingUnit * 1.5;
$businessLinkCorrection: 2px;

.business-card {

    display: flex;
    flex-direction: column;

    max-width: $mobileXlWidth;

    color: $colorBlack;
    background: $colorWhite;

    border: $businessCardBorderSize solid $colorGrayLight;
    box-sizing: border-box;

    @include micro-animate(color, background);

    &:hover {
        color: inherit;
        background: $colorGrayLight;
    }

    &:focus,
    &:hover:focus,
    &:focus:active {
        border-color: lighten($um-blue, $tintHoverFocus); // #3f86f2
        @extend %focus;

        & * {
            color: $colorWhite;
        }
    }

    &:hover,
    &:focus {
        //simulate hover or focus on content-link
        .faux-content-link .link__underline {
            background-image: linear-gradient(transparent calc(100% - 1px), currentColor 10px);
            background-size: 0% 100%;
        }
    }
}

.business-card__header {
    display: flex;
    flex-direction: row;
    padding: $businessCardPadding;
    padding-bottom: 0;
}

.business-card__image-wrapper {
    width: $buildingUnit * 5;
    height: $buildingUnit * 5;
    min-width: $buildingUnit * 5;
    min-height: $buildingUnit * 5;
    overflow: hidden;
    margin-right: $businessCardPadding;
    align-items: center;
    display: flex;
}

.business-card__title {
    @include text-overflow;
    width: 100%;
}

.business-card__description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @extend %reset-last-margin;
}

.business-card__property {
    @extend .copy--small;
    color: $colorGrayDark;
}

.business-card__footer {
    text-align: right;
    padding: ($buildingUnit + $businessLinkCorrection) $businessCardPadding $buildingUnit $businessCardPadding;

    @include min-tablet {
        padding-bottom: ($buildingUnit - $businessLinkCorrection);
    }
}

.business-card__link {
    margin: 0;
}
