.article-author {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &__meta{
        display: flex;
        flex-direction: column;
    }
    &__name{
        @include font-line-ratio(prim-s);
        font-weight: 500;
        margin-bottom: ($buildingUnit / 4);
    }
    &__published-date{
        @include font-line-ratio(prim-s);
        color: $colorGrayDark;
    }

    &__image{
        height: $buildingUnit * 4;
        width: $buildingUnit * 4;
        border-radius: 100%;

        @include min-tablet {
            margin-left: $buildingUnit;
        }

        margin-right: $buildingUnit;
    }
}
