.branded-logo {
    color: $colorBlack;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

    &:hover {
        color: lighten($colorGrayDark, $tintHoverFocus); // #939393
    }

    &:focus {
        @extend %focus-outline;
    }
}

.branded-logo__robot {

    width: $buildingUnit * 4.25;
    height: $buildingUnit * 6;
}

.branded-logo__logo {
    display: block;
    margin-top: $buildingUnit * 0.75;

    width: 101px;
    height: $buildingUnit * 1.25;

    @include min-desktop {
        margin: 0 0 0 $buildingUnit;
    }
}

.branded-logo__u {
    display: block;
    height: 6 * $buildingUnit;
    width: 6 * $buildingUnit;
}



