.brand-card {}

.brand-card__image-wrapper {
    width: 120px;
    height: 120px;
    margin: 0 auto $buildingUnit * 1.5 auto;
}

.brand-card__image{
    width: 100%;
}

.brand-card__quote {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 0 0 $buildingUnit;
}

@include min-tablet() {
    .brand-card__quote {
        width: auto;
        padding: 0 $buildingUnit;
    }
}