.card-product {
    position: relative;
    background-color: $colorWhite;
    border: 1px solid $colorGrayLight;

    &__heading {
        margin-bottom: 19px;
        padding-left: 13px;
        padding-right: 13px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &-container {
            position: relative;
            overflow: hidden;
            padding-top: 50%;
            margin-bottom: $buildingUnit * 2;
        }

        &.gray-background {
            background-color: transparent;
            padding: $buildingUnit;
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: space-between;

        padding-right: 4px;
        margin-bottom: $buildingUnit / 2;

        // offset margin-bottom on the list items in the last row of the flexbox
        margin-top: -$buildingUnit / 2;

        // offset margin-right on the list items in the last column of the flexbox
        margin-left: -$buildingUnit / 2;

        .list__item {
            line-height: 15px;
            margin-right: $buildingUnit / 2;
        }
    }
}

.list-show-all {
    &__list {
        .list {
            &__item {
                list-style: none;
            }
        }

        .card-product {
            width: 296px;
        }
    }
}
