$colorSize: $buildingUnit * 4;

.color {
    cursor: pointer;
    margin: 0;
    background: repeating-linear-gradient(45deg, rgba($colorBlack, .07), rgba($colorBlack, .07) 5px, transparent 5px, transparent 10px);
    background-image: repeating-linear-gradient(45deg, rgba($colorBlack, 0.07), rgba($colorBlack, 0.07) 5px, transparent 5px, transparent 10px);
}

.color__spec {
    position: relative;
    margin: 0;
}

.color__spec--swatch {
    width: $colorSize;
    height: $colorSize;
}

.color__spec--show {
    opacity: 0;
    position: absolute;
    padding: 12px;
    color: $colorWhite;
    font-size: 24px;
    z-index: 100;
    @include micro-animate(opacity);
}

.color__spec--title,
.color__spec--code,
.color__spec--weight,
.color__label {
    @include visually-hidden();
}

.color--selected {
    @extend %box-shadow;

    outline: 2px solid $colorBlack;

    .color__spec--show {
        opacity: 0;
    }
}

.hit-area:hover,
.hit-area:focus {
    .color__spec--show {
        opacity: 1;
    }
    .color--selected .color__spec--show {
        opacity: 0;
    }
}
