.container {
    max-width: $desktopHdWidth;
    margin: 0 auto;
    padding: ($buildingUnit * 5) ($buildingUnit * 1) 0 ($buildingUnit * 1);

    @include min-tablet() {
        padding: ($buildingUnit * 5) ($buildingUnit * 2) 0 ($buildingUnit * 2);
    }

    @include min-desktop() {
        padding: ($buildingUnit * 5) ($buildingUnit * 5) 0 ($buildingUnit * 5);
    }

    .preferences-bar & {
        margin: 0 auto;
        padding-bottom: $buildingUnit * 5;
    }

    &.hero__container {
        padding-bottom: $buildingUnit * 5;
    }

    .footer & {
        margin-bottom: 0;
    }
}


// LEGACY HACKS FTW
.container {
    &.examples__container,
    &.ecosystem__container,
    &.explore__container,
    &.case__container,
    &.general-content__container,
    &.slider-reveal__container {
        margin: 0 auto;
        padding: ($buildingUnit * 5) ($buildingUnit * 1) ($buildingUnit * 5) ($buildingUnit * 1);
        @include min-tablet() {
            padding: ($buildingUnit * 5) ($buildingUnit * 2) ($buildingUnit * 5) ($buildingUnit * 2);
        }
        @include min-desktop() {
            padding: $buildingUnit * 5;
        }
    }
}
