.content-block {
    @extend %reset-last-margin;
    margin-bottom: $buildingUnit * 4.5;
}

.content-block-container__image{
    background-color: transparent;
    margin: 0 auto ($buildingUnit * 1.5);
    overflow: hidden;

    @include min-mobile-xl {
        margin: 0 auto ($buildingUnit * 2);
    }
}

.content-block__image{
    width: 100%;
}

.content-block__content {
    @extend %reset-last-margin;
    width:100%;
}
