.content-manageble {
    ul,
    ol {
        padding-left: 1em;

        font-size: 14px;
        line-height: 1.5;
        margin-top: -2px;
        margin-bottom: 23px;

        @include min-tablet() {
            @include font-ratio-rhythm(prim-m);
        }

        li {
            @extend %reset-list-item;
            padding-left: ($buildingUnit - 2px);

            @include min-tablet() {
                padding-left: ($buildingUnit - 4px);
            }

            p {
                margin:0;
                word-wrap: break-word;
            }
        }
    }

    &--copy-small {
        p,ul{
            margin-bottom: 0;
            @include font-line-ratio(prim-s);
            word-wrap: break-word;
        }

        p + ul,
        ul + p,
        p + p {
            margin-top:  $buildingUnit * 1.75;
        }
    }
}
