.cta__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    @include min-tablet() {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

.cta__link {
    text-align: center;
    margin-right: 0;
    margin-bottom: $buildingUnit * 2;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include min-tablet() {
        margin-bottom: 0;
        margin-right: $buildingUnit * 2;

        &:not(.button--primary) {
            margin-right: $buildingUnit * 2;
        }

        &.button--primary + .cta__link {
            margin-left: $buildingUnit * 2;
        }

        .cta__block--footer & {
            &:not(.button--primary) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
