.cta__block{
    .button.button--primary + .link.link--large{
        margin: $buildingUnit * 2 0 0 0;
        transform: none;
    }

    .button .link__underline,
    .button .link__underline:hover {
        transform: none;
        background: none;
    }

    @include min-mobile-xl {
        .button.button--primary{
            margin-right: $buildingUnit * 4;
        }
        .button.button--primary ~ .link.link--large{
            display: inline-block;
            margin: $buildingUnit 0 0 0;
        }
    }


    .general-content &,
    .container > &  {
        @extend  %reset-last-margin;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        margin-top: $buildingUnit * 5;

        @include min-mobile-xl {
            display: block;
        }

        .link--medium,
        .link--large {
            vertical-align: baseline;
        }

        > a,
        > .link  {
            margin-bottom: $buildingUnit * 2.5;
            margin-right: 0;

            @include min-tablet() {

                margin-right: $buildingUnit * 2.5;
                margin-bottom: 0;

                &:last-child {
                    margin-right: 0;
                }
            }
            @include min-tablet() {
                &.link--large {
                    margin-bottom: 0;
                }
            }
        }
    }

    .container > &  {
        @include min-mobile-xl {
            text-align: center;
        }
    }

    .general-content & {
        margin-right: 0;
        margin-top: $buildingUnit * 3;
        align-items: flex-start;
        > a {
            margin-bottom: $buildingUnit *2;
        }
    }
}
