$maxColCountMob: 4;
$gutterMob: $gridGutterSizeMobile * #{$maxColCountMob - 1};
$padMob: $gridGutterSizeMobile;

$maxColCount: 5;
$gutter: $gridGutterSize * #{$maxColCount - 1};
$pad: $gridGutterSize;

.flyout {
    @extend %reset-list;
    display: flex;
    flex-direction: column;

    padding: $buildingUnit;
    padding-bottom: $buildingUnit * 2;

    &:last-child {
        margin-bottom: -6px;

        .flyout__link--cta-mini {
            @include max-tablet {
                margin-bottom: 6px;
            }
        }
    }

    @include min-mobile-xl {
        flex-direction: row;
    }

    @include min-desktop {
        position: absolute;
        left: 0;
        right: 0;
        padding: ($buildingUnit * 2) $buildingUnit;

        border-bottom: 1px solid $colorGray;
        background: $colorWhite;

        @include min-desktop-hd {
            padding: ($buildingUnit * 2);
        }
    }
}

.flyout__section {
    @extend %reset-list-item;
    @extend %reset-last-margin;
    background: transparent;
    margin-bottom: 23px;

    &:last-child {
        margin-bottom: 0;
    }

    @include min-mobile-xl {
        width: calc((25% - #{$gutterMob / $maxColCountMob}));

        margin-bottom: 0;
        padding-right: $padMob;

        &:not(:last-child) {
            margin-right: $gridGutterSizeMobile;
            border-right: 1px solid $colorGrayLight;
        }
    }

    @include min-desktop {
        width: calc((20% - #{$gutter / $maxColCount}));
        padding-right: $pad;

        &:not(:last-child) {
            margin-right: $gridGutterSize;
        }
    }
}

.flyout__section--2-columns {
    @include min-desktop {
        width: calc(((20% - #{$gutter / $maxColCount}) * 2) + #{$pad});
    }
}

.flyout__section--3-columns {
    @include min-desktop {
        width: calc(((20% - #{$gutter / $maxColCount}) * 3) + #{$pad * 2});
    }
}

.flyout__title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8px;
    margin-top: -2px;
    color: initial;
}

.flyout__list {
    border: 0;
    font-size: 14px;
    hyphens: auto;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;

    &--2-columns {
        @include min-desktop() {
            column-count: 2;
            column-gap: $buildingUnit * 2;

            @include min-tablet{
                column-gap: ($buildingUnit * 2) * 2;
            }

            & > li {
                // As it shifts off at 0px we use 2px to correct this
                transform: translate3d(0, 2px, 0);
            }
        }
    }
    &--3-columns {
        @include min-desktop() {
            column-count: 3;
            column-gap: $buildingUnit * 2;

            @include min-tablet{
                column-gap: ($buildingUnit * 2) * 2;
            }

            & > li {
                // As it shifts off at 0px we use 2px to correct this
                transform: translate3d(0, 2px, 0);
            }
        }
    }

    @include min-desktop {
        margin-bottom: 0;
    }

    & + .flyout__link--cta-mini {
        @include min-desktop {
            margin-top: 21px;
        }
    }
}

.flyout__list-item {
    background: transparent;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 ($buildingUnit * 0.5) 0;
    padding: 0;
    position: relative;
    transform: translateY(2px);

    & > *,
    &:last-child {
        margin-bottom: 0;
    }

    @extend %reset-last-margin;

    &--collapsed-sm {
        @include visually-hidden;

        @include min-tablet {
            @include reset-visually-hidden;
        }
    }
    &--expanded {
        @include reset-visually-hidden;
    }
}

.flyout__link {
    color: initial;
    &:hover {
        color: initial;
    }
    margin-right: 0;

    &--cta-mini {
        display: table;
    }
}

.flyout__toggle {
    @include min-desktop{
        @include visually-hidden;
    }
}
