.footer-block {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:empty) {
        padding-bottom: $buildingUnit * 5;
    }

    &--push-down:not(:empty) {
        margin-top: $buildingUnit * 5;
    }
}
