.header-block {
    margin-bottom: $buildingUnit * 4.16;

    @include min-tablet() {
        margin-bottom: $buildingUnit * 4.33;
    }
}

.header-block--hero {
    margin-bottom: $buildingUnit * 4.33;
}

.header-block__subtitle--hero {
    $resetHeadlineBottomMarginMobile: -84px;
    $resetHeadlineBottomMarginTablet: -101px;

    color: $colorGrayDark;
    margin-top: $resetHeadlineBottomMarginMobile + ($buildingUnit * 3);

    @include min-tablet {
        @include font-ratio-rhythm(sec-l);
        margin-top: $resetHeadlineBottomMarginTablet + ($buildingUnit * 5);
    }
}

.header-block__title {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.header-block__subtitle {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    margin-top: $buildingUnit * 1.5;
    @include min-tablet() {
        margin-top: $buildingUnit * 2;
    }

    font-weight: 400;

    @include font-line-ratio(sec-s);
    color: $colorGrayDark;

    @include min-tablet() {
        @include font-line-ratio(sec-m);
    }
}

.header-block--wizard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-block__title,
    .header-block__subtitle {
        flex-basis: 100%;
        max-width: 100%;
        @include min-tablet() {
            flex-basis: 75%;
            max-width: 75%;
        }
    }
}
