.header-block {
    margin-bottom: $buildingUnit * 4.5;
}

.header-block__title {
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

.header-block__subtitle {
    text-align: center;
    position: relative;
    margin-top: $buildingUnit * 1.8;
    @include min-tablet() {
        margin-top: $buildingUnit * 1.5;
    }

    @extend %fontSecondary;
    font-weight: 400;

    @include font-line-ratio(sec-s);
    color: $colorGrayDark;

    @include min-tablet() {
        @include font-line-ratio(sec-m);
    }
}

