.header-block {
    margin-bottom: $buildingUnit * 4.5;
}

.header-block--hero {
    margin-bottom: $buildingUnit * 5.4;
    @include min-tablet {
        margin-bottom: $buildingUnit * 5.75;
    }
}
.header-block__title--hero {

}

.header-block__subtitle--hero {
    $resetHeadlineBottomMarginMobile: -84px;
    $resetHeadlineBottomMarginTablet: -101px;

    color: $colorGrayDark;
    margin-top: $resetHeadlineBottomMarginMobile + ($buildingUnit * 3);

    @include min-tablet {
        @include font-ratio-rhythm(sec-l);
        margin-top: $resetHeadlineBottomMarginTablet + ($buildingUnit * 5);
    }
}

.header-block__title {
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

.header-block__subtitle {
    text-align: center;
    position: relative;
    margin-top: $buildingUnit * 1.8;
    @include min-tablet() {
        margin-top: $buildingUnit * 1.5;
    }

    @extend %fontSecondary;
    font-weight: 400;

    @include font-line-ratio(sec-s);
    color: $colorGrayDark;

    @include min-tablet() {
        @include font-line-ratio(sec-m);
    }
}

