$cardTabletMarginBottom: $buildingUnit * 2;
$cardMobileMarginBottom: $buildingUnit;

.materials-card {
    @extend %reset-last-margin;
    margin-right: 0;

    max-width: 600px;

    @include max-tablet() {
        margin-bottom: $buildingUnit * 2;
    }

    margin-bottom: $buildingUnit;
    @include min-tablet {
        margin-bottom: $buildingUnit * 2;
    }

    &:hover {
        cursor: pointer;
        color: inherit;
        background: $colorGrayLight;

        > & {
            .tag {
                background-color: rgba(255,255,255, 0.4);
            }
        }
    }

    &:focus,
    &:hover:focus,
    &:focus:active {
        border-color: lighten($colorMain, $tintHoverFocus);
        outline: none;

        & * {
            color: $colorWhite;
        }

        .tag {
            background-color: rgba(255,255,255, 0.15);
            color: $colorWhite;
        }

        .materials-card__visual {
            outline: none;
        }

        .materials-card__content{
            @extend %focus;
            outline: none;
            border: none;
        }
    }

    &:focus:not(:hover),
    &:focus:not(:active) {
        outline: 1px solid transparent;
    }
}

.materials-card__article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.materials-card__visual {
    margin: 0 auto;

    @include min-mobile-xl {
        margin: 0 auto;
    }
}

.materials-card__image{
    width: 100%;
}

.materials-card__content {
    height: 100%;
    padding: $buildingUnit;
    border-left: 1px solid $colorGrayLight;
    border-right: 1px solid $colorGrayLight;
    border-bottom: 1px solid $colorGrayLight;
}

.materials-card__headline {
    margin-bottom: $buildingUnit;

}

.materials-card__taglist{
    margin-bottom: 0;
}


// .materials__card .card {
//     margin-bottom: 0;
//     border-bottom: 1px solid $colorGrayLight;

//     overflow: hidden;

//     @include micro-animate(color, background);
