.modal {
    @include pos(0, 0, 0, 0);

    position: fixed;
    will-change: transform;
    z-index: 1000;

    .modal__overlay {
        display: block;
        height: 100%;
        will-change: transform;
        transition: opacity ease('easeOut') 0.2s;
        opacity: 0.8;
        background-color: $colorBlack;
    }
}
.modal__content {
    @include abs-center;
    z-index: 1010;
    transform: translate(-50%, -50%) scaleY(1);

    box-sizing: border-box;
    padding: 20px 40px;
    max-width: 85vw;
    max-height: 75vh;
    background-color: $colorGrayExtraLight;

    overflow: hidden;
    overflow-y: auto;
}

.modal__close {
    @extend .icon-button--light;

    position: absolute;
    z-index: 1020;
    top: 0px;
    right: 0px;

    background-color: transparent;
    color: $colorWhite;
}

.modal--video {
    .modal__content {
        width: 100%;
        max-width: $desktopHdWidth - 1;
        max-height: 100%;
        padding: 0;
    }
}
