$colorNotification: lighten($um-blue, 45%);
$colorNoteHover: lighten($um-blue, 40%);
$colorNoteDisabled: mix-blend-multiply($colorGrayExtraLight, $colorNotification);

$colorNoteDisabledCheck: mix-blend-multiply($colorGrayMedium, $colorNotification);

$colorGrayLinesNotification: mix-blend-multiply($colorGrayLight, $colorNotification);
$colorGrayTextNotification: mix-blend-multiply($colorGrayDark, $colorNotification);

$paddingSmall: $buildingUnit * 2.5;
$sizeCloseButton: $buildingUnit * 4;

.notification {
    position: relative;
    background: $colorNotification;

    &__title,
    &__copy {
        @extend .copy--small;
    }
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        border: 1px solid $colorGrayLinesNotification;
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        background-color: $colorNoteDisabled;
    }
    [type="checkbox"]:disabled:checked + label:after {
        content: url("data:image/svg+xml, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20120%20120%22%3E%3Cpolygon%20points=%22113%2029.1%20104.2%2020.2%2042.3%2082.1%2015.8%2055.6%207%2064.4%2033.5%2091%2033.5%2091%2042.3%2099.8%2042.3%2099.8%2042.3%2099.8%2051.1%2091%2051.1%2091%20%22%20fill=%22rgb(150,170,177)%22/%3E%3C/svg%3E");
    }
    [type="checkbox"]:disabled + label {
        color: $colorGrayTextNotification;
    }
}

.notification--small {
    .container {
        padding-top: $paddingSmall;
        padding-bottom: $paddingSmall;

        .notification__content {
            padding-right: $sizeCloseButton;
        }
        .notification__content--centered {
            padding: 0 $sizeCloseButton;
        }
        @include min-desktop() {
            padding: $buildingUnit ($buildingUnit * 5);
        }
    }

    .notification__content {
        @extend %reset-last-margin;
        max-width: 1200px;

        @include min-desktop() {

            * {
                display: inline-block;
                margin-bottom: 0;
            }

            [type="checkbox"] + label {
                margin-left: $buildingUnit * 2;
            }
        }
    }
}

.notification__content {
    @extend %reset-last-margin;
    max-width: 568px;

    &--centered {
        text-align: center;
        margin: 0 auto;
    }

    &--columns {
        max-width: 1200px;

        @include min-mobile-xl() {
            .notification__copy {
                column-count: 2;
            }
        }
    }
}

.notification__button {
    background: $colorNotification;

    &:hover,
    &:focus {
        color: $colorBlack;
        background-color: $colorNoteHover;
    }
}

.notification__content--centered {
    .button {
        margin: 0 ($buildingUnit / 2) $buildingUnit;
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 480px) {
            margin-bottom: 0;
        }
    }
}
