.pager {
    position: relative;
    white-space: nowrap;
    overflow: visible;
}

.pager__list {
    @extend %reset-list;
}

.pager__page {
    @extend %reset-list-item;
    font-size: $buildingUnit;
    cursor: pointer;
    line-height: $buildingUnit;
    margin-bottom: $buildingUnit * 0.5;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.pager__page-indicator,
.pager__active-page-indicator {
    display: block;
    color: $um-blue;

    @include micro-animate(color);

    &:hover, &:active {
        color: lighten($um-blue, $tintHoverFocus); // #3f86f2
    }
}

.pager__active-page {
    @extend .pager__page;

    position: absolute;
    top: 0;
    left: 0;
}

.pager--horizontal {
    .pager__page {
        display: inline-block;
    }
}
