.price-table {
    display: table;
    width: auto;
    margin-top: $buildingUnit * -1;
    margin-bottom: $buildingUnit * 1.5;
}

.price-table--tabs{
    .price-table__item {
        @include micro-animate(background-color, color);
        cursor: pointer;

        padding: $buildingUnit;

        &:hover{
            color: $colorBlack;
            outline: 0;

            background-color: darken($colorWhite, $tintHoverFocus); // #ebebeb
        }

        &:focus:not(:hover),
        &:focus:not(:active) {
            @extend %focus;
        }

        &:focus {
            outline: none;
            * {
                color: $colorWhite;
            }
        }
    }

}

.price-table__list {
    @extend %reset-list;
    display: flex;
}

.price-table__item {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;

    padding: $buildingUnit 0;
    padding-bottom: 7px;

    background-color: transparent;
    color: $colorBlack;
}

.price-table__tagline,
.price-table__disclaimer {
    @extend small;
    color: $colorGrayDark;
}

.price-table__disclaimer {
    display: block;
    margin-top: $buildingUnit * 0.5;
}

.price-table__item--inactive {
    color: $colorGrayDark;
}

.price-table__item--active {
    background-color: darken($colorWhite, $tintActive);
}

.price-table__icon {
    font-size: $buildingUnit * 3;
    margin-right: $buildingUnit;
}

.price-table__info {
    display: flex;
    flex-direction: column;
}
