$resellerCardTabletMarginBottom: $buildingUnit * 2;
$resellerCardMobileMarginBottom: $buildingUnit;

$resellerCardBorderSize: 1px;
$resellerCardPadding: $buildingUnit * 1.5;

.reseller-card {

    display: flex;
    flex-direction: column;

    max-width: $mobileXlWidth;

    padding: ($resellerCardPadding) - $resellerCardBorderSize;
    margin-bottom: $resellerCardMobileMarginBottom;
    @include min-tablet {
        margin-bottom: $resellerCardTabletMarginBottom;
    }

    color: $colorBlack;
    background: $colorWhite;

    border: $resellerCardBorderSize solid $colorGrayLight;
    box-sizing: border-box;

    @include micro-animate(color, background);
    @extend %reset-last-margin;

    & > * {
        width: auto;
    }

    &:focus,
    &:hover:focus,
    &:focus:active{
        border-color: lighten($colorMain, $tintHoverFocus);
        @extend %focus;

        & > *,
        & > * > * {
            color: $colorWhite;
        }
    }

    &:hover {
        color: $colorBlack;
        background: darken($colorWhite, $tintHoverFocus);
        border: $resellerCardBorderSize solid $colorGrayLight;
    }

    &:hover,
    &:focus {
        .reseller-link .link__underline {
            background-image: linear-gradient(transparent calc(100% - 1px), currentColor 10px);
            background-size: 0% 100%;
        }
    }

    &__info {
        color: $colorGrayDark;
    }
}

.reseller-card__header {
    display: flex;
    flex-direction: row;
}

.reseller-card__image-wrapper {
    width: $buildingUnit * 5;
    margin: 0 $resellerCardPadding $resellerCardPadding 0;
}

.reseller-card__description {
    display: flex;
    flex-direction: column;
}

.reseller-card__showroom-count {
    @extend .copy--small;
    color: $colorGrayDark;
}

.reseller-card__footer {
    text-align: right;
}

.reseller-link {
    margin: 0;
}

.reseller-badge {
    color: $colorMain;
    @include micro-animate(color);

    &__icon {
        color: inherit;

        font-size: initial;
        transform: translateY(0.1em);
    }

    &__label {
        font-weight: bold;
    }

    &--inline {
        display: inline;
    }
}
