$resellerCardMarginBottom: $buildingUnit;

.resellers {
    @extend .organism;
    @extend %reset-last-margin;
}

.resellers__title {
    text-align: center;
    position: relative;
}


.resellers__tooltip {
    @include font-line-ratio(prim-s);
    font-weight: 100;
    font-family: $fontPrimary;

    max-width: 296px;
    position: absolute;
    opacity: 1;
    transform: translateY(calc(-100% - 36px));

    &:after {
        left: $buildingUnit;
    }
}

.tooltip-enter, .tooltip-leave-to {
    opacity: 0;
    transform: translateY(calc(-100% - 42px));
}

.tooltip-enter-active, .tooltip-leave-active {
    transition: opacity $defaultDuration $defaultEasing, transform $defaultDuration, left 0s $defaultEasing;
}

.reseller-section {
    &:not(:last-child) {
        margin-bottom: 53px;
    }
    &:last-child {
        margin-bottom: $resellerCardMarginBottom * -1; //reset margins
    }
}

.reseller-section__header {
    @include font-ratio-rhythm(sec-xs);

    @include min-tablet() {
        @include font-ratio-rhythm(sec-s);
    }

    .reseller-section__info-link {
        margin: 10px 0 0 0;
    }

    @include min-mobile-xl {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .reseller-section__info-link {
            margin-left: $buildingUnit * 2;
            margin-top: 0;
            margin-bottom: -4px; //reset wrong offset
        }
    }
}

.reseller-section__title,
.reseller-section__info-link {
    margin: 0;
}

.reseller-section__count {
    color: $colorGrayDark;
    font-size: .75em;
}

.reseller-list {
    @extend %reset-list;
}

.flexgrid__cell--reseller-list__button--center {
    text-align: center;
}

.reseller-list__button {
    margin: 24px 0 12px 0;
}

.reseller-card {
    $resellerCardBorderSize: 1px;

    display: flex;
    flex-direction: column;

    max-width: $mobileXlWidth;

    padding: ($buildingUnit * 1.5) - $resellerCardBorderSize;
    margin-bottom: $resellerCardMarginBottom;

    color: $colorBlack;
    background: $colorWhite;

    border: $resellerCardBorderSize solid $colorGrayLight;
    box-sizing: border-box;

    @include micro-animate(color, background);
    @extend %reset-last-margin;

    & > * {
        width: auto;
    }

    &:hover {
        color: $colorBlack;
        background: darken($colorWhite, $tintHoverFocus);
    }

    &:focus {
        border-color: lighten($colorMain, $tintHoverFocus);
        & > *,
        & > * > * {
            color: $colorWhite;
        }
    }

    &:hover,
    &:focus {
        .reseller-link .link__underline {
            background-image: linear-gradient(transparent calc(100% - 1px), currentColor 10px);
            background-size: 0% 100%;
        }
    }

    &__info {
        color: $colorGrayDark;
    }
}

.reseller-badge {
    color: $colorMain;
    @include micro-animate(color);

    &__icon {
        color: inherit;

        font-size: initial;
        transform: translateY(0.1em);
    }

    &__label {
        font-weight: bold;
    }

    &--inline {
        display: inline;
    }
}


