$scrollHintImageMargin: 1em / 3;

.scroll-hint {
    user-select: none;
    position: relative;

    &__icon--left,
    &__icon--right,
    &__icon--bottom {
        vertical-align: middle;
        width: 1em;
        height: 1em;
    }
    &__icon--left {
        margin-right: $scrollHintImageMargin;
    }
    &__icon--right {
        margin-left: $scrollHintImageMargin;
        transform: rotate(180deg);
    }
    &__icon--bottom {
        position: absolute;
        display: block;
        transform: rotate(-90deg);
        left: 50%;
    }
}
