.tabs {
    &__nav {
        position: relative;
        display: flex;
        width: 100%;

        user-select: none;
        will-change: transform;

        @include min-tablet() {
            justify-content: center;
        }
    }

    &__list {
        @extend %reset-list;

        @include min-tablet() {
            flex-wrap: wrap;
        }

        display: flex;
        padding: ($buildingUnit * 2) 0 1px;
    }

    &__list_item {
        flex: 0 1 auto;
        text-align: center;

        padding: 0 $buildingUnit 0;
        margin: 0 0 $buildingUnit 0;

        &:first-child {
            padding-left: $buildingUnit * 2;
        }
        &:last-child {
            padding-right: $buildingUnit * 2;
        }

        @include min-tablet() {
            display: inline-block;

            &:first-child {
                padding-left: $buildingUnit * 1.5;
            }
            &:last-child {
                padding-right: $buildingUnit * 1.5;
            }
        }
    }

    &__list_link {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        min-width: $buildingUnit * 5;
        margin-bottom: $buildingUnit / 2;
        color: $colorBlack;

        &:hover,
        &--active {
            color: $colorBlack;

            .sub-nav__label:after {
                width: 100%;
            }
        }


        &:focus:not(:hover),
        &:focus:not(:active) {
            @extend %focus-outline;
        }
    }
}
