.tabs {
    margin-top: -($buildingUnit / 2);
    margin-bottom: $buildingUnit * 5;

    &__nav {
        position: relative;
        display: flex;
        width: 100%;

        justify-content: center;
        overflow: hidden;

        user-select: none;
        will-change: transform;

    }

    &__list {
        @extend %reset-list;

        display: flex;
        padding: 0;
        border-bottom: 2px solid $colorGrayLight;

        overflow-x: scroll;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            height: 0px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    &__list_item {
        flex: 0 1 auto;
        text-align: center;

    }

    &__list_link {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        min-width: $buildingUnit * 5;
        margin-bottom: 0;
        color: $colorBlack;

        @include font-line-ratio(prim-s);

        padding-left: $buildingUnit;
        padding-right: $buildingUnit;
        padding-top: $buildingUnit;
        padding-bottom: ($buildingUnit);

        white-space: nowrap;

        &:hover,
        &--active {
            color: $colorBlack;

            .sub-nav__label:after {
                width: 100%;
            }
        }

        &:not():focus:not(:active),
        &:not():focus:not(:hover){
            background-color: transparent;
            color: $colorBlack;
        }

        > span {
            margin-right: $buildingUnit / 2;
        }

    }

    &__indicator {
        position: absolute;
        z-index: 1;
        display: block;
        left: 0; right: 0;
        bottom: 0;

        height: 2px; width: 100%;
        background-color: $colorBlack;
    }

    &__contents {
        .container {
            padding-bottom: 0;
        }
    }
}
