.tabs {
    &__nav {
        position: relative;
        display: flex;
        width: 100%;

        justify-content: center;

        user-select: none;
        will-change: transform;

    }

    &__list {
        @extend %reset-list;

        display: flex;
        padding: 0;
        border-bottom: 2px solid $colorGrayLight;

        overflow-x: scroll;

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            height: 0px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    &__list_item {
        flex: 0 1 auto;
        text-align: center;
    }

    &__list_link {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        min-width: $buildingUnit * 5;
        margin-bottom: 0;
        color: $colorBlack;

        padding-left: $buildingUnit;
        padding-right: $buildingUnit;

        @include font-line-ratio(prim-s);

        @include min-desktop {
            padding-top: ($buildingUnit - 1.5px);
            padding-bottom: ($buildingUnit - 1.5px);
        }

        &:hover,
        &--active {
            color: $colorBlack;

            .sub-nav__label:after {
                width: 100%;
            }
        }

        &:not(.hit-area):focus:not(:hover),
        &:not(.hit-area):focus:not(:active) {
            background-color: transparent;
            color: $colorBlack;
        }
    }

    &__indicator {
        position: absolute;
        z-index: 1;
        display: block;
        left: 0; right: 0;
        bottom: 0;

        height: 2px; width: 100%;
        background-color: $colorBlack;
    }
}
