.tag {
    @extend small;

    display: flex;
    align-items: center;

    background-color: $colorGrayExtraLight;
    color: $colorGrayDark;
    margin: 0 $buildingUnit / 2 0 0;
    padding: $buildingUnit / 4 $buildingUnit / 2;
    border-radius: $buildingUnit / 6;
    height: $buildingUnit * 1.5;
}



.tag-list__list {
    @extend %reset-list;
    padding-left: 0;
}

.tag-list__item {
    @extend %reset-list-item;
    display: inline-block;
    margin: 0;

    .tag{
        margin-left: 0;
    }
}
