.tooltip {
    background-color: $colorBlack;
    color: $colorWhite;
    font-weight: 400;
    min-height: $buildingUnit * 3;
    min-width: $buildingUnit * 8;
    max-width: 150px;
    padding: $buildingUnit;
    position: absolute;
    z-index: 200;

    &:after {
        border: $buildingUnit solid transparent;
        border-top-color: $colorBlack;
        bottom: $buildingUnit * -2;
        content: '';
        left: calc(50% - 12px);
        position: absolute;
        height: 0;
        width: 0;
    }

    // make sure the last child in a tooltip doesn't have its own margin
    > :last-child {
        margin-bottom: 0;
    }
}

.tooltip--arrow-left {
    &:after {
        left: $buildingUnit;
    }
}

.tooltip__list {
    @extend %reset-list;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    @extend %reset-last-margin;
}
