.tooltip {
    position: absolute;
    z-index: 200;
    display: block;
    background-color: $colorBlack;
    color: $colorWhite;
    font-weight: normal;
    width: $buildingUnit * 12.5;
    padding: $buildingUnit;
    white-space: normal;

    &:after {
        position: absolute;
        left: calc(50% - #{ $buildingUnit });
        height: 0;
        width: 0;
        border: $buildingUnit solid transparent;
        border-top-color: $colorBlack;
        bottom: $buildingUnit * -2;
        content: '';
    }
    // make sure the last child in a tooltip doesn't have its own margin
    > :last-child {
        margin-bottom: 0;
    }
}


.tooltip--arrow-left {
    &:after {
        left: $buildingUnit;
    }
}

.tooltip--arrow-right {
    &:after {
        left: auto;
        right: $buildingUnit;
    }
}

.tooltip-enter, .tooltip-leave-to {
    opacity: 0;
    transform: translateY(calc(-100% - #{ $buildingUnit * 3.5 }));
}

.tooltip-enter-active, .tooltip-leave-active {
    transition: opacity $defaultDuration $defaultEasing, transform $defaultDuration, left 0s $defaultEasing;
}
