<li class="main-nav__item" role="menuitem" :class="{ 'main-nav__item--active': active }"
    @mouseleave="delayHideFlyout" @mouseenter="openFlyout">

    <div @keydown.down.prevent="selectFlyoutFirstLink"
         @keydown.tab.shift.exact="closeMobileNav"
         @keydown.esc.prevent="closeMobileNav">
        <base-link :url="url"
                     ref="parent"
                     class="main-nav__link"
                     @focus="openFlyout"
                     @click.native="closeMobileNav"
                     aria-haspopup="true"
                     :aria-controls="itemId"
                     :aria-current="isActive"
                     :label="label"
                     :aria-expanded="!isCompact && flyoutIsOpen" />
    </div>

    <icon-button class="icon-button--small main-nav__toggle disable-focus"
                 :icon-name="angleDirection"
                 v-show="toggleIsVisible"
                 @click="toggleFlyout" tabindex="-1" />

    <flyout :id="itemId" v-if="categories" ref="flyout"
        @content-link-click="closeMobileNav"
        @keydown.esc.native="selectParent"
        @open="openFlyout"
        @close="closeFlyout"
        @main="selectParent"
        class="flyout--large"
        :items="categories"
        :is-compact="isCompact"
        :class="{ 'flyout--is-open': flyoutIsOpen }" />
</li>
