<article class="explore">
    <section class="container explore__container">
        <div class="flexgrid flexgrid--gutter">
            <div class="flexgrid__cell--xs-6">
                <h2 class="explore__title">{{ title }}</h2>
            </div>
        </div>
        <div class="explore__image-placeholder">
            <template v-for="(item, index) in items">
                <transition @enter="imageEnter" @leave="imageLeave">
                    <picture ref="image" v-show="index === activeSlide">
                        <source media="(min-width: 569px)" :srcset="item.image.mobileXlWidth.url + ', ' + item.image.mobileXlWidth.retina.url + ' 2x'">
                        <img class="img--responsive explore__image img--contain" :src="item.image.mobileWidth.url" :alt="item.image.alt">
                    </picture>
                </transition>
            </template>
            <pager name="explore-pager" class="explore__pager" :pages="items.length"
                   :active-index="activeSlide" @index-changed="indexChanged"></pager>
        </div>
        <div class="flexgrid flexgrid--gutter">
            <div class="flexgrid__cell--xs-6">
                <div class="explore__description">
                    <tabbable-definition-list
                        :items="items"
                        :active-index="activeSlide"
                        @index-changed="indexChanged"
                    ></tabbable-definition-list>
                </div>
                <div class="explore__navigation">
                    <icon-button class="explore__nav"
                                 v-if="buttons && buttons.previous"
                                 :icon-name="buttons.previous.iconName"
                                 @click="navClicked('previous')">
                        <span class="icon-button__label">{{ buttons.previous.label }}</span>
                    </icon-button>
                    <icon-button class="explore__nav icon-button--reversed"
                                 v-if="buttons && buttons.next"
                                 :icon-name="buttons.next.iconName"
                                 @click="navClicked('next')">
                        <span class="icon-button__label">{{ buttons.next.label }}</span>
                    </icon-button>
                </div>
            </div>
        </div>
    </section>
</article>
