<!-- @format -->

<article class="content-cover content-cover--cover">
    <c-image v-if="this.image" v-bind="this.image"/>

    <div class="content-cover__image--overlay"></div>

    <section class="content-cover__container">
        <div class="flexgrid__cell--xs-6 content-cover-content content-cover--cover-reset">
            <h3 class="content-cover__title">{{ title }}</h3>
            <p class="content-cover__description">{{ description }}</p>
            <div>
                <component v-if="cta" v-bind="cta" :is="cta.type" :class="getClassNames(cta.type)"/>
            </div>
        </div>
    </section>
</article>
