<section class="organism">
    <div class="container">
        <header-block :title="title" :subtitle="subtitle" />
        <div class="table-compare" ref="scrollWidthContainer">
            <div class="table-compare__scroll-container" ref="scrollContainer">
                <table v-if="content" class="table-compare__table" :style="`--number-of-columns: ${ scrollingColumns };`">
                    <colgroup>
                        <col v-if="showScrollingColumns">
                        <col v-for="col in content.columns">
                        <col v-if="showScrollingColumns">

                    </colgroup>
                    <thead >
                    <tr>
                        <th scope="col" v-if="showScrollingColumns"></th>
                        <th scope="col" v-for="col in content.columns" ref="columns">
                            <c-image v-bind="col.image" alt="col.alt" class="table-compare__image" v-if="col.image && col.image.url" />
                            <span>{{ col.title }}</span>
                        </th>
                        <th scope="col" v-if="showScrollingColumns"></th>
                    </tr>
                    </thead>
                    <tbody>
                   
                    <tr v-for="row in content.rows">
                        <td v-if="showScrollingColumns"></td>
                        <td v-for="cell in row.cells">
                            <span class="table-compare__cell">{{ cell.label }}</span>
                            <icon icon-name="checkmark" v-if="cell.checked" class="table-compare__checkmark" />
                        </td>
                        <td v-if="showScrollingColumns"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th scope="row" v-if="showScrollingColumns"></th>
                        <td v-for="cell in content.columns" ref="footers">
                            <component v-if="cell.cta" v-bind="cell.cta" :is="cell.cta.type" :class="getClassNames(cell.cta.type)"/>
                        </td>
                        <td scope="row" v-if="showScrollingColumns"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="table-compare__scroll-buttons" v-if="showScrollButtons">
                <icon-button icon-name="angle-left" class="table-compare__scroll-button table-compare__scroll-button--left" @click="scroll(true)" :disabled="disableLeft" />
                <icon-button icon-name="angle-right" class="table-compare__scroll-button table-compare__scroll-button--right" @click="scroll(false)" :disabled="disableRight" />
            </div>

            <div class="table-compare-features">
                <div class="table-compare-features--header"></div>
                <div class="table-compare-features--body" v-for="row in content.rows">
                    <div class="table-compare__feature" v-if="row.tooltip">
                        <tooltip-toggle v-bind="row.tooltip" :label="row.label" />
                    </div>
                    <div class="table-compare__feature--no-tooltip" v-else>
                            <span>{{ row.label }}</span>
                    </div>
                </div>
                <div class="table-compare-features--footer"></div>
            </div>
        </div>

        <footer-block :ctas="ctas" />
    </div>
</section>
