<section class="organism">
    <div class="container">
        <header-block :title="title" :subtitle="subtitle" />
        <div class="table-compare" ref="scrollWidthContainer">
            <div class="table-compare__scroll-container" ref="scrollContainer">
                <table v-if="content" class="table-compare__table" :style="`--numberOfColumns: ${content.columns.length}`">
                    <colgroup>
                        <col>
                        <col v-for="col in content.columns">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" v-for="col in content.columns">
                            <c-image v-bind="col.image" alt="col.alt" class="table-compare__image" />
                            {{ col.title }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in content.rows">
                        <th scope="row">
                            <div class="table-compare__feature">
                                <icon-button :icon-name="row.tooltip.icon"> {{ row.label }}</icon-button>
                                <tooltip v-if="row.tooltip" v-show="false">
                                    {{ row.tooltip.description }}
                                </tooltip>
                            </div>
                        </th>
                        <td v-for="cell in row.cells">
                            <span class="visually-hidden"></span>
                            <icon icon-name="checkmark" v-if="cell.checked" class="table-compare__checkmark" />
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th scope="row"></th>
                        <td v-for="cell in content.columns">
                            <a :href="cell.cta.url" class="button">{{ cell.cta.label }}</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-compare__scroll-buttons">
                <icon-button icon-name="angle-left" class="table-compare__scroll-button table-compare__scroll-button--left" @click="scroll(true)"/>
                <icon-button icon-name="angle-right" class="table-compare__scroll-button table-compare__scroll-button--right" @click="scroll(false)"/>
            </div>
        </div>

        <footer-block :ctas="ctas" />
    </div>
</section>
