<section class="organism">
    <div class="container">
        <header-block :title="title" :subtitle="subtitle" />
        <div class="table-compare" ref="scrollWidthContainer">
            <div class="table-compare__scroll-container" ref="scrollContainer">
                <table v-if="content" class="table-compare__table" :style="`--numberOfColumns: ${content.columns.length};`">
                    <colgroup>
                        <col>
                        <col v-for="col in content.columns">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" v-for="col in content.columns" ref="columns">
                            <c-image v-bind="col.image" alt="col.alt" class="table-compare__image" v-if="col.image && col.image.url" />
                            {{ col.title }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in content.rows">
                        <th scope="row">
                            <div class="table-compare__feature">
                                <template v-if="row.tooltip">
                                    <icon-button :icon-name="row.tooltip.icon"> {{ row.label }}</icon-button>
                                    <tooltip v-show="false">
                                        {{ row.tooltip.description }}
                                    </tooltip>
                                </template>
                            </div>
                        </th>
                        <td v-for="cell in row.cells">
                            <span class="table-compare__cell">{{ cell.label }}</span>
                            <icon icon-name="checkmark" v-if="cell.checked" class="table-compare__checkmark" />
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th scope="row"></th>
                        <td v-for="cell in content.columns">
                            <a :href="cell.cta.url" class="button" v-if="cell.cta">{{ cell.cta.label }}</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="table-compare__scroll-buttons" v-if="content.columns.length > 1">
                <icon-button icon-name="angle-left" class="table-compare__scroll-button table-compare__scroll-button--left" @click="scroll(true)" :disabled="disableLeft" />
                <icon-button icon-name="angle-right" class="table-compare__scroll-button table-compare__scroll-button--right" @click="scroll(false)" :disabled="disableRight" />
            </div>
        </div>

        <footer-block :ctas="ctas" />
    </div>
</section>
