.table-compare {
    position: relative;
    margin-bottom: $buildingUnit * 2;
}

.table-compare__scroll-container {
    overflow: auto;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.table-compare__table {
    border: initial; // override table atom
    border-bottom: 2px solid $colorGray;
	border-collapse: collapse;
	position: relative;
	table-layout: fixed;
    // --number-of-columns is set in the template
    width: calc(var(--number-of-columns) * 100%);

    @include min-desktop {
        width: 100%;
    }
}

.table-compare__table col {
    width: auto;

    @include min-desktop {
        width: 17 * $buildingUnit;
    }

    @media (min-width: 1440px) {
        width: 19 * $buildingUnit;
    }
}

.table-compare__table col:first-of-type {
    width: 0;

    @include min-desktop {
        width: auto;
    }
}

.table-compare__table th,
.table-compare__table td {
    padding: 0;
}

// Column header cells
.table-compare__table thead th[scope="col"] {
    border-bottom: 2px solid $colorGray;
    font-weight: normal;
    font-size: 1.5 * $buildingUnit;
    padding: 0 $buildingUnit 2 * $buildingUnit;
    text-align: center;
    width: initial; // override table atom
    white-space: nowrap;

    @include min-desktop {
        font-size: 1.6667 * $buildingUnit;
        line-height: 1.2;
    }

    @media (min-width: 1440px) {
        padding-left: 2 * $buildingUnit;
        padding-right: 2 * $buildingUnit;
    }
}

// Row header cells
.table-compare__table tbody th[scope="row"] {
    @include font-ratio-rhythm(prim-s);
    border-top: 1px solid $colorGray;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    text-align: left;
    white-space: nowrap;

    @include min-desktop {
        position: static;
    }
}

// Table body cells
.table-compare__table tbody td {
    border-top: 1px solid $colorGray;
    color: $um-blue;
    height: 4 * $buildingUnit;
    padding: 0 0.5 * $buildingUnit;
    scroll-snap-align: start end;
    vertical-align: middle;
}

// Table footer cells
.table-compare__table tfoot th,
.table-compare__table tfoot td {
    border-top: 1px solid $colorGray;
    padding: 1.5 * $buildingUnit;
    text-align: center;
}

.table-compare__table tfoot td {
    vertical-align: middle;
    > .link {
        margin: 0;
    }
}


.table-compare__image {
    display: block;
    margin: 0 auto 2 * $buildingUnit;
    height: 15 * $buildingUnit;
    width: 15 * $buildingUnit;
}

.table-compare__row-header {
    position: relative;
    display: block;

}
.table-compare__feature,
.table-compare__feature--no-tooltip {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background: linear-gradient(to left, transparentize($colorWhite, 1), $colorWhite $buildingUnit);

    main .organism:nth-child(even) & {
        background: linear-gradient(to left, transparentize($colorGraySuperLight, 1), $colorGraySuperLight $buildingUnit);
    }

    min-width: 125px;
    max-width: 70vw;
}

.table-compare__feature--no-tooltip {
    padding: 15px 50px 11px ($buildingUnit * 1.5);
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-compare__cell {
    @include visually-hidden;
}

.table-compare__checkmark {
    display: block;
    margin: 0 0 0 auto;
    height: 2 * $buildingUnit;
    width: 2 * $buildingUnit;

    @include min-desktop {
        margin: 0 auto;
    }
}

.table-compare__scroll-buttons {
    position: absolute;
    top: 0;
    width: 100%;
}

.table-compare__scroll-button {
    position: absolute;
    transform: translateY(-50%);
    top: 7.5 * $buildingUnit; // half the height of .table-compare__image
    background-color: transparent;
    @include min-desktop {
        display: none;
    }

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}
