<div class="card-download">
    <input type="radio"
        :id="id"
        :name="name"
        :checked="selected"
        :value="file"
        class="card-download__radio"
        @change="handleSelect" />
    <label class="card-download__label" :for="id">
        <div class="card-download__image-wrapper">
            <c-image v-bind="image" v-if="image" />
        </div>
        <div class="card-download__content">
            <h4 class="card-download__title">{{ title }}</h4>
            <p class="card-download__desc" v-if="description">{{ description }}</p>
        </div>
    </label>
</div>
