.card-download {
    display: flex;
    padding: $buildingUnit;
    border: 2px solid $colorGrayLight;
    width: 100%;

    @include min-tablet {
        padding: $buildingUnit * 1.5;
    }

    &:hover {
        cursor: pointer;
    }

    &--selected {
        border: 2px solid $colorMain;
    }

    &__radio-element {
        display: none;
    }

    &__image-wrapper {
        width: 45px;
        height: 45px;
        margin-right: $buildingUnit * 1.5;

        @include min-tablet() {
            width: 5 * $buildingUnit;
            height: 5 * $buildingUnit;
        }
    }

    &__title {
        @include font-line-ratio(prim-s);
        font-weight: 400;

        @include min-tablet {
            @include font-line-ratio(prim-m);
        }
    }

    &__description {
        @include font-line-ratio(prim-s);
        color: #7F7F7F;
        margin-bottom: 0;
    }
}
