.card-download {
    display: flex;
    padding: $buildingUnit * 1.5;
    border: 2px solid $colorGrayLight;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &--selected{
        border: 2px solid $colorMain;
    }

    &__radio-element{
        display: none;
    }

    &__image-wrapper{
        width: 45px;
        height: 45px;
        margin-right: $buildingUnit * 1.5;

        @include min-tablet() {
            width: 60px;
            height: 60px;
        }
    }

    &__title {
        @include font-line-ratio(prim-m);
    }

    &__description {
        @include font-line-ratio(prim-s);
        color: #7F7F7F;
        margin-bottom: 0;
    }
}
