.content-block {
    @extend %reset-last-margin;
}

.content-block-container__image{
    width: 75%;
    background-color: transparent;
    margin: 0 auto ($buildingUnit * 1.5);
    overflow: hidden;

    @include min-tablet() {
        margin: 0 auto ($buildingUnit * 2);
        width: 100%;
    }
}


.content-block__content {
    @extend %reset-last-margin;
    width:100%;
}
