/* ------------------ Animations ------------------ */
@keyframes arrowLineAnimate {
    0% {
        transform: translate(0, 0) scaleX(0);
    }
    12.5% {
        transform: translate(0, 0) scaleX(1.075);
    }
    37.5% {
        transform: translate(0, 0) scaleX(1.075);
    }
    50% {
        transform: translate(-100%, 0) scaleX(1.075);
    }
    50.1% {
        transform: translate(0, 0) scaleX(0);
    }
}

@keyframes arrowLineAnimateRotated-2 {
    10% {
        transform: rotate(45deg) scaleX(0) translate(-5.65px, -5.15px);
    }
    15% {
        transform: rotate(45deg) scaleX(.425) translate(-5.65px, -5.15px);
    }
    45% {
        transform: rotate(45deg) scaleX(.425) translate(-5.65px, -5.15px);
    }
    60% {
        transform: rotate(45deg) scaleX(0) translate(-5.65px, -5.15px);
    }
}

@keyframes arrowLineAnimateRotated-3 {
    10% {
        transform: rotate(-45deg) scaleX(0) translate(-5px, 4.75px);
    }
    15% {
        transform: rotate(-45deg) scaleX(.425) translate(-5px, 4.75px);
    }
    45% {
        transform: rotate(-45deg) scaleX(.425) translate(-5px, 4.75px);
    }
    60% {
        transform: rotate(-45deg) scaleX(0) translate(-5px, 4.75px);
    }
}

/* ------------------ Presentation ------------------ */
$arrowAnimationDuration: ($defaultDuration * 4);

.arrow__mask {
    transform-origin: center center;
    transform: scale(2) translateX(3.35px) rotate(45deg);
}

.arrow__line-1 {
    transform: scaleX(0);
    transform-origin: 110px 0%;

    animation: arrowLineAnimate $arrowAnimationDuration ease-in-out infinite;
}

.arrow__line-2 {
    transform: scaleX(0);
    transform-origin: 10px 50%;
    animation: arrowLineAnimateRotated-2 $arrowAnimationDuration ease-in-out infinite;
}

.arrow__line-3 {
    transform: scaleX(0);
    transform-origin: 10px 50%;
    animation: arrowLineAnimateRotated-3 $arrowAnimationDuration ease-in-out infinite;
}
