.home-link {
    position: absolute;
    height: $buildingUnit * 1.5;
    color: currentColor;

    @include min-desktop-hd {
        height: $buildingUnit * 2;
    }

    &:hover {
        color: currentColor;
    }

    &:focus:not(:hover),
    &:focus:not(:active) {
        @extend %focus-outline;
    }
}

.home-link__logo {
    height: $buildingUnit * 1.5;
    width: $homeLinkWidth;

    @include min-desktop-hd {
        height: $buildingUnit * 2;
        width: $homeLinkDesktopHdWidth;
    }
}
