.img--contain {
    @include object-fit(cover);
    overflow: hidden;
    width: 100%;
    height: 100%;

    will-change: filter;
    transition: filter 2s $defaultEasing;
    transform: translateZ(0);
    filter: blur(0px);
    &.img--loading {
        filter: blur(50px);
    }
}

.img--responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.img--lazy {
    transition: opacity 0.5s $defaultEasing;

    &.img--loading {
        opacity: 0;
    }
}


.cms-image {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}

.cms-image__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
