@import "~scss/settings/variables";

.cms-image {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}

.cms-image__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img--contain {
    @include object-fit(cover);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img--responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.img--replacement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorGray;
    padding: $buildingUnit;
}
