$checkboxSize: $buildingUnit*2;
$checkmarkSize: $buildingUnit*1.5;


[type="checkbox"] + label {
    @extend .copy--small;

    display: inline-block;
    text-align: left;

    margin: 0 0 $buildingUnit 0;
}

label + [type="checkbox"]{
    margin: 0 $buildingUnit $buildingUnit 0;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: $buildingUnit*2.5;

    user-select: none;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';

    position: absolute;
    left: 0;
    top: -3px;

    width: $checkboxSize;
    height: $checkboxSize;

    border: $inputBorder;
    background: $colorWhite;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: url("data:image/svg+xml, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20120%20120%22%3E%3Cpolygon%20points=%22113%2029.1%20104.2%2020.2%2042.3%2082.1%2015.8%2055.6%207%2064.4%2033.5%2091%2033.5%2091%2042.3%2099.8%2042.3%2099.8%2042.3%2099.8%2051.1%2091%2051.1%2091%20%22%20fill=%22rgb(12,169,227)%22/%3E%3C/svg%3E");

    position: absolute;
    top:0px;
    left:3px;

    width: $checkmarkSize;
    height: $checkmarkSize;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    background-color: $colorGrayExtraLight;
}
[type="checkbox"]:disabled:checked + label:after {
    content: url("data:image/svg+xml, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20120%20120%22%3E%3Cpolygon%20points=%22113%2029.1%20104.2%2020.2%2042.3%2082.1%2015.8%2055.6%207%2064.4%2033.5%2091%2033.5%2091%2042.3%2099.8%2042.3%2099.8%2042.3%2099.8%2051.1%2091%2051.1%2091%20%22%20fill=%22rgb(178,178,178)%22/%3E%3C/svg%3E");
}
[type="checkbox"]:disabled + label {
    color: $colorGrayDark;
    cursor: default;
}

/* accessibility */
[type="checkbox"]:checked:focus:not(:hover) + label:before,
[type="checkbox"]:not(:checked):focus:not(:hover) + label:before {
    border: 2px solid $um-blue;
}
