input[type="text"] {
    position: relative;
    padding: $buildingUnit + 0.5;

    border: $inputBorder;
    border-radius: 0;

    outline: 0;

    &:focus:not(:hover),
    &:focus:not(:active) {
        @extend %focus-outline;
    }

    border: $inputBorder;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.required:after {
    @include font-line-ratio(prim-s);
    content: "*";
    position: absolute;
    left: 4px;
    top: 3px;
    color: $colorPlaceholder;
}

::placeholder {
    color: $colorPlaceholder;
}
