table {
    border: 0;
    border-bottom: 2px solid $colorGray;
    border-collapse: collapse;
    margin: 0 0 2 * $buildingUnit;
    text-align: left;
    width: 100%;
}

tbody {
    border-top: 2px solid $colorGray;
}

th,
td {
    border-bottom: 1px solid $colorGray;
    padding: 1.5 * $buildingUnit;
    vertical-align: top;
}

th {
    font-weight: 600;
}
