.tabbable-dl {
    @extend %reset-list;
    overflow: hidden;
    position: relative;
}

.tabbable-dl__term {
    position: relative;
    display: table;
    cursor: pointer;
    outline: none;
    margin: 0;

    @include font-ratio-rhythm(sec-xs);

    @include min-tablet() {
        @include font-ratio-rhythm(sec-s);
    }

    &--vue {
        @include max-mobile() {
            position: absolute;
            top: 0;
        }
    }

}

.tabbable-dl__title {
    margin: 0;
}

.tabbable-dl__icon {
    transform: translateY($buildingUnit / 4);
}

.tabbable-dl__link {
    display: block;
    color: $colorBlack;

    &:hover {
        color: inherit;
    }
    @include min-tablet {
        &:hover {
            color: lighten($colorGrayDark, $tintHoverFocus); // #939393
        }
    }

    @include max-mobile {
        cursor: default;
    }

}

// TODO CHECK

.tabbable-dl__desc {
    @include font-rhythm(prim-s);

    position: relative;
    margin-bottom: $buildingUnit * 2;

    @include min-tablet() {
        @include font-rhythm(prim-m);
    }

    &--vue {
        @include max-mobile() {
            position: absolute;
            top: $buildingUnit * 4;
        }
    }
}
