// extracted headings scss and moved it to src/js/components/atoms/text/headings/headings.scss

// Root element
html {
    @include font-line-ratio(prim-s);
    font-weight: 100;
    font-family: $fontPrimary;

    &.fonts--stage-one {
        font-family: $fontPrimaryStageOne;
    }

    &.fonts--stage-one {
        font-family: $fontPrimaryStageTwo;
    }

    color: $colorBlack;
    background: $colorWhite;

    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include min-tablet() {
        @include font-line-ratio(prim-m);
    }
}
