html {
    background: $colorWhite;
    color: $colorBlack;
    font-family: $fontStack;
    font-size: 14px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.fonts--stage-one {
        font-family: $fontStackStageOne;
    }

    &.fonts--stage-one {
        font-family: $fontStackStageTwo;
    }

    @include min-tablet {
        font-size: 16px;
    }
}
