.youtube-video {
    @include ratioHolder(16, 9);
    position: relative;

    &__frame {
        display: block;
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
    }

    &--four-three {
        @include ratioHolder(4, 3);
    }

    &--eighteen-nine {
        @include ratioHolder(2, 1);
    }

    &--square {
        @include ratioHolder(1, 1);
    }
}
