.product {
    display: flex;
    margin-right: $buildingUnit * 2;

    @include min-desktop() {
        padding-right: $buildingUnit;
        margin-right: $buildingUnit;
    }

    &__icon-container{
        height: $buildingUnit *3;
        width: $buildingUnit * 3;
        margin-right: $buildingUnit * 1;
    }

    &__icon{
        height: $buildingUnit *3;
        width: $buildingUnit * 3;
        margin-right: $buildingUnit * 1;

    }

    &__information {
        display: flex;
        flex-direction: column;
    }

    &__name{
        @include font-line-ratio(prim-xs);
        color: $colorGrayDark;
        margin-bottom: $buildingUnit  / 4;

        @include min-tablet() {
            margin-bottom: $buildingUnit  / 1.5;
        }
    }

    &__pricing {
        @include font-line-ratio(sec-xs);
        font-weight: 500;
        margin-bottom: 0;

        @include min-tablet() {
            @include font-line-ratio(sec-s);
        }

    }
}
