@import 'settings/variables';
@import 'settings/grid';
@import 'tools/mixins/media';

$fontPath: '//ultimaker.com/dist/static/fonts';

@import 'generic/font';

* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $um-black;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

#wrapper {
    margin: 0;
    padding: 0;
    max-width: none;
}

a {
    position: relative;
    color: $um-black;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 2px;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, $um-black, $um-black);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 1px;
        transition: background-size 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
        text-decoration: none;

        &::before {
            background-size: 0 1px;
        }
    }
}

#board_title,
.app-title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-align: center;

    @include min-tablet() {
        font-size: 36px;
        line-height: 40px;
    }
}

/**
 * list view styles
 */

#main {
    padding: 0;

    #wrapper {
        padding: 0 !important;

        h1 {
            display: none;
        }

        #board_title {
            margin: 0 0 ($buildingUnit * 4) 0;
        }
    }
}

.accessible {

    section {

        &.level-0 {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $buildingUnit * 4;

            h3 {
                flex: 0 0 100%;
                font-family: 'Noto Sans Medium', sans-serif;
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: -0.1px;
            }

            > br {
                display: none;
            }
        }

        &.level-1 {
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 100%;
            margin-left: 0;

            &:nth-child(n+3) {
                margin-top: $buildingUnit * 3;
            }

            h4 {
                flex: 1 0 100%;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 0;

                @include max-mobile-xl {
                    padding-bottom: $buildingUnit;
                    border-bottom: 2px solid $um-black;
                }
            }
        }
    }
}

// job openings
.opening {
    width: 100%;
    margin-top: $buildingUnit;
    margin-bottom: 0;
    color: $um-gray-400;
    padding-bottom: $buildingUnit;
    border-bottom: 2px solid $um-gray-200;

    @include min-tablet() {
        flex: 0 0 auto;
        width: calc((100% - (#{$buildingUnit} * 2)) / 2);
        margin-left: $buildingUnit * 2;
    }

    @include min-desktop() {
        width: calc((100% - (#{$buildingUnit} * 4)) / 3);
    }

    &:first-child {
        margin-top: 0;
    }

    // selector for the first 3 children
    &:nth-child(-n+3) {

        @include min-tablet() {
            padding-top: $buildingUnit;
            border-top: 2px solid $um-black;
        }
    }

    // selector for the first 4 children
    &:nth-child(-n+4) {

        @include min-desktop() {
            padding-top: $buildingUnit;
            border-top: 2px solid $um-black;
        }
    }

    &:first-of-type {

        @include min-tablet() {
            margin-left: 0;
        }
    }

    &:nth-of-type(odd) {

        @include min-tablet() {

            @include max-tablet() {
                margin-left: 0;
            }
        }
    }

    // selector for every third child starting from 1, i.e. 4, 7, 10 etc.
    &:nth-of-type(3n + 1) {

        @include min-desktop() {
            margin-left: 0;
        }
    }

    a {
        font-weight: normal;
    }

    .location {
        font-size: 12px;
        line-height: 18px;
    }
}

/**
 * details view styles
 */

#header,
#content,
#application_form {

    @include min-mobile-xl {
        width: 568px;
        max-width: 568px;
        margin: 0 auto;
        padding: 0;
    }

    @include min-tablet {
        width: 66%;
        max-width: 66%;
        margin: 0 auto;
        padding: 0;
    }
}

#application_form {

    @include min-mobile-xl {
        margin-bottom: $buildingUnit * 2;
        padding: ($buildingUnit * 2) ($buildingUnit * 2) ($buildingUnit * 4) ($buildingUnit * 2);
        border: 1px solid $um-gray-200;
        box-sizing: border-box;
    }
}

#app_body {
    max-width: 100%;
    padding-left: 0 !important;

    p,
    li {

        span {
            font-family: 'Noto Sans', sans-serif !important;
        }
    }

    p {

        strong,
        strong > * {
            font-weight: 600;
        }
    }
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $buildingUnit * 4;
    text-align: center;

    a {
        order: 3;
        font-size: 16px;
        line-height: 24px;
    }

    .app-title,
    .location {
        margin-bottom: $buildingUnit * 2;
    }

    .app-title {
        order: 1;
    }

    .location {
        order: 2;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        color: $um-gray-300;

        @include min-tablet() {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .company-name {
        display: none;
    }
}

#application {
    max-width: none;
    margin-top: $buildingUnit * 4;
    padding: 0 0 ($buildingUnit * 4) 0;
    background-color: transparent;
}

#main hr {
    margin: ($buildingUnit * 2) 0;

    @include min-mobile-xl {
        margin: ($buildingUnit * 4) 0;
    }
}

// form fields
#main_fields,
#demographic_questions,
#eeoc_fields {

    .asterisk,
    div.field label .asterisk {
        font-size: 12px;
        line-height: 18px;
        color: $um-black;
    }

    div {

        &.required-fields {
            float: none;
            width: 100%;
            margin-bottom: $buildingUnit * 2;
            color: $um-black;
            border-bottom: 2px solid $um-gray-200;
            text-align: right;

            @include min-mobile-xl {
                margin: ($buildingUnit * 4) 0;
            }
        }

        &.field {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            clear: none;
            margin-bottom: $buildingUnit * 2;
            line-height: 24px;
            overflow: initial;

            label,
            input {
                flex: 0 0 100%;
            }

            label {
                float: none;
                width: auto;
                margin-right: 0;
                text-align: left;

                @include min-mobile-xl {
                    flex: 0 0 115px;
                    padding-top: $buildingUnit / 2;
                }
            }

            input[type=text],
            textarea {

                @include min-mobile-xl {
                    flex: 1 0;
                }
            }

            a.locate-me,
            .link-container a,
            .link-container a:focus,
            .link-container a:active {
                font-weight: normal;
                border: none !important;
                border-radius: 0;
                box-shadow: none;
                text-align: left;
            }

            a.locate-me,
            .select2-choice {

                &::before {
                    display: none;
                }
            }

            a.locate-me {
                margin-top: $buildingUnit !important;

                @include min-mobile-xl {
                    margin-left: 115px !important;
                }
            }

            .link-container {

                @include max-mobile {
                    display: inline-block;
                }

                a,
                a:focus,
                a:active {
                    display: block;
                    width: auto;
                    margin-top: $buildingUnit;
                    margin-bottom: 0;
                    padding: ($buildingUnit / 2) ($buildingUnit / 2) ($buildingUnit / 2) ($buildingUnit * 3);
                    font-size: 16px;
                    line-height: 24px;
                    color: $um-blue !important;
                    background-color: $um-white !important;
                    background-image: none;

                    @include min-mobile-xl {
                        display: inline-block;
                        margin-top: $buildingUnit * .75;
                        padding: 0;
                        font-size: 12px;
                        line-height: 18px;
                        background-color: transparent !important;
                    }

                    &::before {

                        $size: 24px;

                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: $buildingUnit / 2;
                        width: $size;
                        height: $size;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3Cpath fill='%23196ef0' d='M10 103.6h100v10H10zM88.5 35L60 6.5 31.5 35l7 7L55 25.6v63h10v-63L81.5 42z'/%3E%3C/svg%3E");
                        background-position: top left;
                        background-size: $size $size;
                        transform: translateY(-50%);

                        @include min-mobile-xl {
                            display: none;
                        }
                    }
                }
            }

            .error {
                margin-bottom: -($buildingUnit * 2);

                @include min-mobile-xl {
                    flex: 1 0 100%;
                    margin-bottom: 0;
                    padding-left: 115px;
                    margin-top: $buildingUnit / 2;
                }
            }
        }
    }

    div.field a.locate-me,
    #add_education {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0;
        background: none !important;

        @include min-mobile-xl {
            margin-top: 0;
            margin-left: 0;
        }
    }

    div.field a.locate-me,
    #add_education,
    #add_education span {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $um-blue !important;
    }

    #add_education {

        &::before {
            display: none;
        }
    }

    // selectbox
    .select2-container {

        @include min-mobile-xl {
            width: calc(100% - 115px) !important;
        }
    }

    .select2-choice {
        height: auto;
        padding: ($buildingUnit / 2) ($buildingUnit / 2) ($buildingUnit / 2) $buildingUnit;
        font-size: 16px;
        line-height: 24px;
        background-color: $um-white;
        border: 2px solid $um-gray-200;
        border-radius: 0;
        box-sizing: border-box;

        .select2-chosen {
            color: $um-gray-400;
        }
    }

    .select2-dropdown-open {

        .select2-choice {
            border-color: lighten($um-blue, $tintHoverFocus);
            border-bottom-width: 1px;
        }
    }

    // default error message
    .field-error-msg {
        margin-top: $buildingUnit / 2;

        @include min-mobile-xl {
            flex: 0 0 100%;
            padding-left: 115px !important;
        }
    }

    // error message for location
    [aria-describedby='job_application_location'] {

        @include min-mobile-xl {
            flex: 0 0 300px;
            padding-left: 0 !important;
        }
    }

    .attach-or-paste {

        @include max-mobile {
            width: 100%;
        }
    }

    // error message for resume
    [data-field='resume'],
    [data-field='cover_letter'] {

        @include min-mobile-xl {
            flex: 1 0;
        }

        textarea.paste {
            width: 100%;
            margin-top: $buildingUnit;
            margin-left: 0 !important;

            @include min-mobile-xl {
                margin-top: $buildingUnit / 2;
            }
        }

        .field-error-msg {

            @include min-mobile-xl {
                padding-left: 0 !important;
            }
        }
    }
}

#main_fields,
#demographic_questions,
#eeoc_fields,
#custom_fields {

    div.field {

        input[type=text],
        textarea {
            font-size: 16px;
            line-height: 24px;
            background-color: $um-white;
            border: 2px solid $um-gray-200;
            border-radius: 0;
            box-sizing: border-box;

            &:focus {
                border-color: lighten($um-blue, $tintHoverFocus);
            }
        }
    }
}

// selectbox
.select2-drop {
    margin-top: 0;
    padding-top: $buildingUnit / 2;
    border-radius: 0;
}

.select2-drop-active {
    border-width: 2px;
    border-bottom-width: 1px;
    border-color: lighten($um-blue, $tintHoverFocus);

    .select2-search input {
        background-image: none !important;
    }
}

.select2-results .select2-highlighted {
    background-color: lighten($um-blue, $tintHoverFocus);

    .select2-result-label {
        color: $um-white;
    }
}

.select2-container .select2-choice .select2-arrow {

    $size: 18px;

    position: absolute;
    top: $buildingUnit * .75;
    right: $buildingUnit * .75;
    width: $size;
    height: $size;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3Cpath fill='%23000E1A' d='M109.8 38.5l-50 50.1-49.7-50.1 7.1-7.1 42.6 42.9 43-42.8z'/%3E%3C/svg%3E");
    background-position: top left;
    background-size: $size $size;

    b {
        display: none;
    }
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120'%3E%3Cpath fill='%23000E1A' d='M109.8 81.4l-7 7-43-42.9-42.6 43.1-7.1-7.2 49.7-50z'/%3E%3C/svg%3E");
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: none;
}

#custom_fields {

    div.field {

        input[type=text],
        textarea {
            width: 100%;
            box-sizing: border-box;
        }
    }
}

#main_fields {
    padding-top: $buildingUnit * 3;

    @include min-tablet() {
        padding-top: $buildingUnit * 4;
    }

    .heading {
        float: none;
        width: 100%;
        margin-top: 0;
        margin-bottom: $buildingUnit * 2;
        font-family: 'Noto Sans Medium', sans-serif;
        font-size: 25px;
        line-height: 30px;
        font-weight: normal;
        text-align: center;

        @include min-tablet() {
            margin-bottom: $buildingUnit * 4;
            font-size: 36px;
            line-height: 42px;
        }
    }
}

// submit button
#submit_buttons {
    text-align: center;
}

.accessible {

    #submit_app,
    #apply_button {
        padding: $buildingUnit ($buildingUnit * 2);
        font-family: "Noto Sans";
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.1px;
        line-height: 24px;
        text-align: center;
        background-color: $um-blue;
        border-radius: 0;
        text-shadow: none;

        @include min-tablet() {
            font-size: 24px;
            line-height: 30px;
        }

        &:hover {
            background-color: lighten($um-blue, $tintHoverFocus);
        }
    }
}

// hidden forms
.s3-upload-form {
    position: fixed;
    top: -10000px;
    left: -10000px;
}
