/** @format */

@import "~scss/settings/_variables.scss";

.label-filter {
    cursor: pointer;
}

.label-filter input[type="checkbox"] {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.label-filter input[type="checkbox"]:checked + .label-filter__label {
    color: $colorWhite;
    background-color: $um-blue;
}

.label-filter input[type="checkbox"]:focus + .label-filter__label {
    outline: $um-blue auto 5px;
}

.label-filter__label {
    display: inline-block;

    padding-left: $buildingUnit / 2;
    padding-right: $buildingUnit / 2;

    font-size: 12px;
    font-weight: 500;

    color: $colorGrayDark;
    background-color: $colorGrayExtraLight;

    border-radius: 2px;
}
