/** @format */

@import "~scss/settings/variables";
@import "~scss/tools/mixins/helpers";

.label-filter input[type="checkbox"] {
    @include visually-hidden;
}

.label-filter__label {
    background-color: $colorWhite;
    border-radius: 2px;
    border: 1px solid $colorGrayDark;
    color: $colorBlack;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 0 $buildingUnit / 2;
}

.label-filter > :checked:not(:disabled) + .label-filter__label {
    background-color: $um-blue;
    border-color: $um-blue;
    color: $colorWhite;
}

.label-filter > :focus + .label-filter__label {
    border-color: $colorWhite;
    outline: $um-blue solid 2px;
}

.label-filter > :disabled:not(:checked) + .label-filter__label {
    background-color: $colorWhite;
    border-color: $colorGrayLight;
    color: $colorGrayDark;
    cursor: not-allowed;
}

.label-filter > :disabled:checked + .label-filter__label {
    background-color: $colorGrayLight;
    border-color: $colorGrayDark;
    color: $colorGrayDark;
    cursor: not-allowed;
}
