@import "~scss/settings/variables";
@import "~scss/tools/mixins/helpers";

.label-filter input[type="checkbox"] {
    @include visually-hidden;
}

.label-filter__label {
    background-color: $colorWhite;
    border-radius: 4px;
    border: 1px solid $um-gray-300;
    color: $um-black;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: ($buildingUnit / 4) ($buildingUnit / 2);
    transition: all $defaultDuration $defaultEasing;
}

.label-filter > :not(:disabled) + .label-filter__label {

    &:hover,
    &:active {
        border-color: $um-blue;
        box-shadow: $um-default-box-shadow;
        color: $um-blue;
    }
}

.label-filter > :focus + .label-filter__label {
    border-color: $um-blue;
    color: $um-blue;
    box-shadow: $um-default-box-shadow;
}

.label-filter > :checked:not(:disabled) + .label-filter__label {
    background-color: $um-blue;
    border-color: $um-blue;
    color: $colorWhite;

    &:hover {
        box-shadow: none;
    }
}

.label-filter > :disabled + .label-filter__label {
    background-color: $colorWhite;
    border-color: $um-gray-300;
    color: $um-gray-300;
    cursor: not-allowed;
}
