<svg class="arrow--animated" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
    <defs>
        <clipPath id="mask" class="arrow__mask">
            <rect x="40" y="40" width="40" height="40" rotate="45deg"/>
        </clipPath>
    </defs>
    <g clip-path="url(#mask)">
        <path class="arrow__line arrow__line-1" d="M15.3 55h94.8v10.1H15.3z" clip-path="url(#mask)" />
        <path class="arrow__line arrow__line-2" d="M15.3 55h94.8v10.1H15.3z"/>
        <path class="arrow__line arrow__line-3" d="M15.3 55h94.8v10.1H15.3z"/>
    </g>
</svg>