/** @format */
@import "~scss/settings/_variables.scss";

.auto-complete {
    position: relative;

    input[type="text"] {
        padding: 8px 9px 9px 9px;
    }
}

.auto-complete__dropdown {
    background: $colorWhite;
    border: none;
    box-shadow: $defaultBoxShadow;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    user-select: none;
    width: 100%;
    z-index: 1000;
}

.auto-complete__input {
    width: 100%;
    font-size: 14px;

    .auto-complete--small & {
        height: 100%;
        padding: 0 0 0 ($buildingUnit / 2);
    }
}

.auto-complete__input-label {
    display: none;
}

.auto-complete__label {
    background-color: $colorGrayExtraLight;
    border: 0;
    color: $colorGrayDark;
    font-size: 12px;
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: $buildingUnit/2 $buildingUnit;
    text-align: left;
    user-select: none;
}

.auto-complete__list {
    list-style: none;
    user-select: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.auto-complete__list-item {
    border: 0;
    color: $colorBlack;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    outline: none;
    padding: $buildingUnit;
    text-align: left;
    user-select: none;

    &:hover,
    &:active {
        background-color: $colorGrayLight;
    }

    &:focus:not(:hover),
    &:focus:not(:active) {
        color: $colorWhite;
        background-color: lighten($um-blue, $tintHoverFocus);
    }

    .auto-complete__value {
        font-weight: 600;
    }
}

.auto-complete--reversed {
    .auto-complete__dropdown {
        bottom: 100%;
    }
}
