/** @format */
@import "~scss/settings/_variables.scss";

.auto-complete {
    position: relative;

    input[type="text"] {
        padding: 8px 9px 9px 9px;
    }
}

.auto-complete__dropdown {
    position: absolute;
    background: $colorWhite;
    box-shadow: $defaultBoxShadow;
    width: 100%;
    border: $inputBorder;
    z-index: 1000;

    list-style: none;
    user-select: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.auto-complete__input {
    width: 100%;
    font-size: 14px;

    .auto-complete--small & {
        height: 100%;
        padding: 0 0 0 ($buildingUnit / 2);
    }
}

.auto-complete__input-label {
    display: none;
}

.auto-complete__label {
    list-style: none;
    user-select: none;
    border: 0;
    padding: 0;
    margin: 0;
    padding-left: $buildingUnit;
    padding-right: $buildingUnit;
    padding-top: $buildingUnit / 2;
    padding-bottom: $buildingUnit / 2;
    font-size: 12px;
    font-weight: normal;

    color: $colorGrayDark;
    background-color: $colorGrayExtraLight;
}

.auto-complete__list {
    list-style: none;
    user-select: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.auto-complete__list-item {
    list-style: none;
    user-select: none;
    border: 0;
    padding: 0;
    margin: 0;
    padding-left: $buildingUnit;
    padding-right: $buildingUnit;
    font-size: 14px;
    line-height: 1.5;
    margin-top: -2px;
    // margin-bottom: 23px;

    padding-top: $buildingUnit;
    padding-bottom: $buildingUnit;

    cursor: pointer;
    outline: none;
    color: $colorBlack;

    &:hover,
    &:active {
        background-color: $colorGrayLight;
    }

    &:focus:not(:hover),
    &:focus:not(:active) {
        color: $colorWhite;
        background-color: lighten($um-blue, $tintHoverFocus);
    }

    .auto-complete__value {
        font-weight: 600;
    }
}

.auto-complete--reversed {
    .auto-complete__dropdown {
        bottom: 100%;
    }
}
