<!-- @format -->
<div
    aria-haspopup="listbox"
    class="auto-complete"
    role="combobox"
    :aria-owns="autoCompleteId"
    :class="classObject"
    @keydown.esc="keyEscapeHandler"
    @keydown.up="highlightItem(-1)"
    @keydown.down="highlightItem(1)"
>
    <label>
        <span class="auto-complete__input-label">{{ label }}</span>
        <input
            class="auto-complete__input"
            aria-autocomplete="list"
            autocomplete="off"
            ref="autoCompleteInput"
            type="text"
            :id="`${autoCompleteId}-input`"
            :aria-controls="`${autoCompleteId}-input`"
            :placeholder="placeholder"
            v-model.trim="input"
        >
    </label>
    <div
        class="auto-complete__dropdown"
        role="listbox"
        ref="autoCompleteListbox"
        :id="autoCompleteId"
    >
        <template v-if="highlightedItems && highlightedItems.length">
            <h4 class="auto-complete__label" :id="`${autoCompleteId}-highlighted-label`">{{ highlightedLabel }}</h4>
            <ul class="auto-complete__list" :aria-labelledby="`${autoCompleteId}-highlighted-label`">
                <li
                    class="auto-complete__list-item"
                    ref="listItems"
                    role="option"
                    tabindex="-1"
                    v-for="item in highlightedItems"
                    v-html="highlightString(item.title)"
                    @click.self="selectItem(item)"
                    @keyup.enter="selectItem(item)"
                ></li>
            </ul>
        </template>

        <template v-if="suggestedItems.length">
            <h4 class="auto-complete__label" :id="`${autoCompleteId}-suggested-label`">{{ suggestionsLabel }}</h4>
            <ul class="auto-complete__list" :aria-labelledby="`${autoCompleteId}-suggested-label`">
                <li
                    class="auto-complete__list-item"
                    ref="listItems"
                    role="option"
                    tabindex="-1"
                    v-for="item in suggestedItems"
                    v-html="highlightString(item.title)"
                    @click.self="selectItem(item)"
                    @keyup.enter="selectItem(item)"
                ></li>
            </ul>
        </template>
    </div>
</div>
