.card-product {
    position: relative;
    background-color: $colorWhite;
    border: 1px solid $colorGrayLight;
    overflow: hidden;

    &__heading {
        margin-bottom: 19px;
        padding-left: 13px;
        padding-right: 13px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &-container {
            position: relative;
            padding-top: 50%;
            margin-bottom: $buildingUnit * 2;
        }

        &.gray-background {
            background-color: $colorGray;
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: space-between;

        margin-top: -$buildingUnit / 2;
        margin-bottom: $buildingUnit / 2;

        &.list {
            padding-left: $buildingUnit;
            padding-right: $buildingUnit;
        }

        .list__item {
            line-height: 15px;
        }
    }
}

.list-show-all {
    &__list {
        .list {
            &__item {
                list-style: none;
            }
        }

        .card-product {
            width: 296px;
        }
    }
}
