/** @format */
@import "~scss/settings/_variables.scss";
@import "~scss/tools/mixins/_media.scss";

.footer {
    border-top: 1px solid $colorGrayExtraLight;
    width: 100%;
}

.footer__branded-logo {
    order: 2;
    @include min-mobile-xl {
        align-self: flex-start;
        align-items: flex-start;
        order: 1;
    }

    @include min-desktop {
        flex-flow: row wrap;
        align-self: flex-start;
        align-items: center;
    }
}

.footer__container {
    @extend .container;
    padding-bottom: $buildingUnit * 2.5;
}

.footer__dash {
    align-self: center;
    margin: -4px $buildingUnit/2 0 $buildingUnit/2;
}

.footer__locales {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.footer__locales-icon {
    align-self: center;
    font-size: 24px;
    margin-right: $buildingUnit/2;
}

.footer__locales .auto-complete {
    margin-left: $buildingUnit/2;
}

.footer__navigation {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: $buildingUnit * 2.5;
    max-height: 400px;

    @include min-mobile-xl {
        flex-direction: row;
        flex-wrap: nowrap;
        max-height: initial;
    }
}

.footer__primary {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: $buildingUnit * 5;

    @include min-mobile-xl {
        margin-bottom: $buildingUnit * 4.25;
        justify-content: space-between;
        flex-direction: row;
    }
}

.footer__secondary {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $buildingUnit * 2.5;

    @include min-mobile-xl {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        height: $buildingUnit * 3;
    }
}

.footer__social-nav {
    margin-bottom: $buildingUnit * 1.5;
}

.footer__tertiary {
    display: flex;
    justify-content: center;

    @include min-mobile-xl {
        justify-content: flex-start;
    }
}

.footer__legal {
    text-align: center;
    color: $colorGrayDark;
    @include min-mobile-xl {
        text-align: left;
    }
}
