<div class="tabs" v-if="tabs">
    <div class="tabs__nav">
        <ul class="tabs__list" role="tablist" ref="tabList">
            <li class="tabs__list_item" v-for="(tab, index) in tabs" role="presentation" ref="tab">
                <a class="tabs__list_link" :class="getLinkClassList(index)" @click.prevent="activeTab = index" :href="'#' + tab.id"
                   role="tab" :aria-controls="tab.id" :aria-selected="activeTab === index">
                    <span v-if="sequenced">{{`${index+1}. `}}</span>
                    {{ tab.label }}
                </a>
            </li>
        </ul>
    </div>
    <div class="tabs__contents"  v-for="(tab, index) in tabs">
        <template>
            <component :is="tab.type"
                       v-bind="tab"
                       :id="tab.label+index"
                       :active="activeTab === index"
                       :key="index">
            </component>
        </template>
    </div>
</div>
